.biginfo
  &-more
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 60px
    position: relative
    z-index: 5
    +r($desktop-sm)
      margin-top: 30px
    +r($mob-md)
      margin-top: 20px
      padding-left: 10px
      padding-right: 10px
      .btn
        width: 100%
  &__wrapper
    width: 100%
    padding-bottom: 60px
    position: relative
    margin-bottom: 120px
    +r($desktop-sm)
      padding-bottom: 30px
      margin-bottom: 60px
    +r($mob-md)
      padding-bottom: 20px
    &-white
      background: #FFFFFF
      box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
      position: absolute
      bottom: 0
      left: 0
      width: calc(100% - 40px)
      margin-left: 20px
      margin-right: 20px
      z-index: 0
      max-height: 100%
      opacity: 0
      transition: all .2s ease
      +r($desktop-sm)
        width: 100%
        margin: 0
  &__info
    padding: 60px
    display: flex
    flex-wrap: wrap
    margin-bottom: 60px !important
    position: relative
    z-index: 5
    box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
    +r($desktop-sm)
      padding: 30px
      margin-bottom: 30px !important
    +r($mob-md)
      padding: 20px
      margin-bottom: 20px !important
    &.white-bg
      .biginfo__info-title
        color: $blue
      .biginfo__info-text
        .normal
          color: $txt
    &-item
      flex: 1
    &-img
      max-width: 310px
      padding-left: 30px
      box-sizing: content-box
      +r($desktop-sm)
        max-width: 186px
        display: flex
        align-items: center
      +r($mob-md)
        display: none
      img
        width: 100%
        object-fit: contain
    &-title
      @extend h1
      color: $white
      padding-bottom: 10px
    &-text
      .normal
        color: $white
        padding-bottom: 15px
  &-item
    height: 250px
    display: flex
    flex-wrap: wrap
    position: relative
    cursor: pointer
    border: 1px solid #D8E4F5 !important
    border-top: none !important
    border-left: none !important
    +r($mob-md)
      height: auto
      margin-bottom: 10px
      border: none
      &:last-of-type
        margin-bottom: 0
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 47.92%, rgba(0, 0, 0, 0.75) 100%)
      transition: all .28s ease
      opacity: 0
      z-index: 5
    &:hover
      .biginfo-item__img
        opacity: 1
      .biginfo-item__link
        background-color: rgba(255,255,255,0) !important
        text-decoration: none
      .biginfo-item__arrow
        opacity: 1
        transform: translate3d(0,0,0)
      .biginfo-item__name
        color: $white
      .biginfo-item__descr
        color: $white
      &::before
        opacity: 1
    &__wrapper
      border-top: 1px solid $light
      border-left: 1px solid $light
      position: relative
      z-index: 5
      +r($mob-md)
        border: none !important
        padding-left: 10px
        padding-right: 10px
      &-noborder
        border: none !important
    &__img
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      opacity: 0
      transition: all .28s ease
      z-index: 4
      overflow: hidden
      img
        width: 100%
        object-fit: contain
    &__link
      padding: 30px
      width: 100%
      display: flex
      flex-wrap: wrap
      align-items: flex-end
      position: relative
      z-index: 10
      transition: all .28s ease
      +r($mob-md)
        padding: 10px
    &__logo
      min-height: 40px
      +r($mob-md)
        max-height: 30px
        margin-bottom: 10px
    &__arrow
      position: absolute
      right: 30px
      bottom: 30px
      opacity: 0
      z-index: 5
      +gpu
      transform: translate3d(-100%,0,0)
      transition: all .28s ease 
    &__name
      @extend h4
      color: $blue
      +ibm-bold
      transition: all .28s ease
    &__descr
      font-size: 14px
      color: $tag
      +nuni
      transition: all .28s ease
      line-height: 1
      padding-top: 7px
  &-servis
    &__icon
      +r($mob-md)
        width: 48px
        height: 48px
        margin-right: 20px
    &__item
      display: flex
      flex-wrap: wrap
      justify-content: center
      flex-direction: column
      align-items: center
      +r($mob-md)
        flex-direction: row
        justify-content: flex-start
        margin-bottom: 20px
        &:last-of-type
          margin-bottom: 0
    &__text
      padding-top: 3px
      color: $txt
      display: flex
      flex-wrap: wrap
      justify-content: center
      span
        width: 200px
        text-align: center
        color: $txt
        +r($mob-md)
          text-align: left