.footer
  margin-top: auto
  width: 100%
  &__logo
    +r($desktop-sm)
      width: 100%
      display: flex
      justify-content: center
  &__wrapper
    background: $blue
    margin: 0 20px
    margin-bottom: 24px
    padding-top: 4px
    +r($tablet-sm)
      margin-left: 0
      margin-right: 0
    +r($mob-md)
      padding-left: 10px
      padding-right: 10px
  &__big
    @extend h3
  &__item
    padding-bottom: 60px
    padding-top: 60px
    border-bottom: 1px solid #FFFFFF
    display: flex
    flex-wrap: wrap
    +r($tablet-sm)
      padding-bottom: 30px
    +r($mob-md)
      padding-top: 40px
    &:nth-child(2)
      +r($mob-md)
        padding-top: 20px
    .footer-sub-item
      display: flex
      flex-wrap: wrap
      +r($mob-md)
        .normal
          font-size: 18px
      &.s-between
        +r($tablet-sm)
          display: flex
          flex-wrap: wrap
          justify-content: space-between
          .footer__info
            width: 50%
            align-content: flex-start
            &:last-of-type
              display: flex
              justify-content: flex-end
              a
                display: flex
                justify-content: flex-end
            +r($mob-md)
              width: 100%
              .footer__middle
                font-size: 20px
              &:last-of-type
                justify-content: flex-start
                a
                  justify-content: flex-start
              .normal
                font-size: 20px
      .soc-links
        +r($tablet-sm)
          margin-top: 30px
          margin-bottom: 60px
        +r($mob-md)
          width: 100%
          justify-content: space-between
          margin-top: 20px
          margin-bottom: 40px
          a
            margin-right: 0
      +r($tablet-sm)
        width: 100% !important
    .soc-links
      margin-top: auto
    .uk-grid
      width: 100%
  &__right-side
    margin-left: auto
    display: flex
    flex-wrap: wrap
    align-items: baseline
    +r($desktop-sm)
      width: 100%
      margin-top: 60px
      justify-content: space-between
      align-items: center
    +r($mob-md)
      flex-direction: column
      justify-content: center
      margin-top: 40px
    a
      margin-left: 60px
      +r($mob-md)
        margin-left: 0
        margin-top: 20px
  &__select
    display: none
    width: 100%
    +r($mob-md)
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
      margin-bottom: 40px
    &-ttl
      font-size: 14px
      width: 100%
      +ibm-medium
      color: $white
  &__links
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-bottom: 60px
    width: 100%
    +r($desktop-sm)
      justify-content: flex-start
    +r($mob-md)
      display: none
    .footer__link
      +r($desktop-sm)
        margin-right: 80px
        margin-bottom: 30px
  &__link
    @extend a.small
  &__middle
    @extend h4
  &__info
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    &:last-of-type
      margin-bottom: 0
    a
      width: 100%
  &__map
    width: 100%
    height: 215px
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    overflow: hidden
    +r($desktop-md)
      height: 400px
      margin-top: 30px
    +r($mob-md)
      height: 62.5vw
    img
      width: 100%
      object-fit: cover
  &__copyryght
    padding: 30px 0
    font-size: 14px
    font-weight: 600
    color: $white
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    +r($tablet-sm)
      line-height: 1