.header
  &-main
    width: 100%
    position: relative
    z-index: 1050
    background: $bg-page
    &.active
      background: $bg-page
  &-top
    padding: 40px 0
    +r($mob-lg)
      padding: 20px 0
      .uk-container
        padding-left: 10px
        padding-right: 10px
    .lang-change
      a
        &:first-of-type
          margin-right: 10px
  &-bot
    +r($desktop-sm)
      .uk-container
        padding-left: 0
        padding-right: 0
  &-logo
    display: flex
    flex-wrap: wrap
    align-items: center
    position: relative
    top: 2px
    &__link
      display: flex
      align-items: center
      position: relative
      top: -1px
    &__descr
      font-size: 10px
      line-height: 13px
      color: $tag
      display: flex
      flex-wrap: wrap
      align-self: stretch
      align-items: center
      position: relative
      top: -3px
      
      &::before
        content: ''
        width: 1px
        height: 100%
        background: $tag
        display: block
        margin: 0 10px
        padding: 4px 0;
        margin-top: -2px;


.authorized-block
  display: flex
  flex-wrap: wrap
  a
    margin-right: 30px
    position: relative
    &:last-of-type
      margin-right: 0
  .head-notif
    font-size: 10px
    line-height: 1
    background: $red
    color: $white
    +ibm-bold
    padding: 5px 6px
    position: absolute
    top: 3px
    left: -14px
    transform: translateY(-100%)
    +r($mob-lg)
    padding: 4px 6px