.news-slider
  margin-bottom: 86px
  width: 100%
  +r($desktop-sm)
    margin-bottom: 60px
    .h1
      padding-left: 30px
      padding-right: 30px
      +r($mob-md)
        padding-left: 10px
        padding-right: 10px
    .uk-container
      padding-left: 0
      padding-right: 0
  +r($mob-md)
    margin-top: -20px
  &__wrapper
    margin-top: 60px
    +r($desktop-sm)
      margin-top: 30px
    .swiper-slide
      height: auto
  &__single
    background: $white
    max-height: 315px
    height: 315px
    display: flex
    flex-wrap: wrap
    align-items: center
    .biginfo__wrapper-white
      display: none
      box-shadow: none
    +r($desktop-sm)
      height: auto
      min-height: 300px
      align-content: stretch
      align-items: stretch
      max-height: 100%
    +r($mob-md)
      height: auto
      max-height: 100%
      padding-left: 10px
      padding-right: 10px
      background: transparent
      .biginfo__wrapper-white
        display: block
        z-index: 1
  &__img
    max-width: 500px
    position: relative
    z-index: 5
    +r($desktop-sm)
      max-width: 276px
    +r($mob-md)
      max-width: 100%
      width: 100%
      height: 62.5vw
    &::before
      content: ''
      background: $green
      width: 100%
      height: 100%
      position: absolute
      left: 5px
      top: 0
      clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%)
      +r($desktop-sm)
        background: $red
      +r($mob-md)
        display: none
    img
      width: 100%
      object-fit: cover
      clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%)
      +r($desktop-sm)
        max-width: 276px
        height: 100%
        object-position: 0 0
      +r($mob-md)
        clip-path: none
        max-width: 100%
        height: 62.5vw
  &__info
    flex: 1
    padding-left: 70px
    padding-right: 60px
    display: flex
    flex-wrap: wrap
    flex-direction: column
    position: relative
    z-index: 5
    +r($desktop-sm)
      padding: 30px
    +r($mob-md)
      padding: 20px 10px
  &__date
    font-size: 14px
    color: $tag
    margin-bottom: 15px
    +r($mob-md)
      margin-bottom: 10px
  &__title
    @extend .h2
    color: $blue
    padding-bottom: 10px
    &:hover
      text-decoration: none
      color: $blue-dark
  &__descr
    @extend .normal
    color: $txt
    &:hover
      color: $txt
  &__more
    color: $green
    font-size: 18px
    +ibm-s-bold
    margin-top: 30px
    &:hover
      text-decoration: none
      color: $green-dark
    +r($mob-md)
      margin-top: 20px
    svg
      position: relative
      top: -1px
  &__pagination
    margin: 0 auto
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
    max-width: 1170px
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box
    +r($mob-md)
      margin-top: 20px
    .swiper-pagination-bullet
      flex: 1
      max-width: 100px
      height: 4px
      background: #ffffff
      margin-right: 10px
      cursor: pointer
      +r($mob-md)
        height: 2px
        max-width: 60px
      &:last-of-type
        margin-right: 0
      &-active
        background: $green