.partners
  display: flex
  width: 100%
  padding-bottom: 120px
  +r(1100)
    padding-bottom: 60px
  +r($mob-md)
    padding-bottom: 40px
  .hid-ondesc
    display: none
  .hid-ontabl
    display: none
  +r(1100)
    flex-wrap: wrap
    .hid-ontablet
      display: none
    .hid-ondesc
      display: flex
  +r($mob-md)
    .hid-ondesc
      display: none
    .hid-ontabl
      display: block
  &-left
    display: flex
    width: 50%
    flex-direction: column
    +r(1100)
      width: 100%
  &-item
    width: $container50
    &.swiper-container
      height: 400px
      .main-banner__pagination
        position: relative
        top: -25px
    &__slide
      display: flex
      flex-wrap: wrap
      height: 25% !important
      justify-content: center
      .partners-item__logo
        max-width: 216px
        margin-bottom: 30px
    +r(1100)
      width: 100%
      padding: 30px 0
      padding-left: 0
    +r($mob-md)
      padding: 20px 0
    &__logo
      max-height: 70px
      margin-bottom: 30px
    .h1
      color: $white
      padding-bottom: 15px
    .btn
      margin-top: 30px
    &__right
      display: flex
      flex-wrap: wrap
      +r(1100)
        width: 100%
        padding: 0 30px
      .partners-item
        margin-right: auto
        padding-left: 30px
        margin-top: auto
        margin-bottom: auto
        +r(1100)
          padding-left: 0
    &__left
      flex-grow: 1
      width: 100%
      display: flex
      flex-wrap: wrap
      +r(1100)
        flex-grow: 0
      .partners-item
        margin-left: auto
        padding: 60px
        padding-left: 0
        +r(1100)
          padding: 30px
          display: flex
          flex-wrap: wrap
          align-items: center
          .btn
            margin-top: 0
            +r($mob-md)
              width: 100%
              margin-top: 20px
          .medium-text
            flex: 1
        +r($mob-md)
          padding: 20px