<div class="swiper-container js-slider-banner">
  <div class="swiper-wrapper">

    {% for slide in banner.slider %}
    <!-- .main-banner__slide -->
    <div class="swiper-slide main-banner__slide">

      <a href="" class="main-banner__link">
        <img data-src="./img/sliders/banner/{{slide.img}}" alt="{{slide.alt}}" class="swiper-lazy">
        <div class="swiper-lazy-preloader"></div>
      </a>

    </div>
    <!-- ./ .main-banner__slide -->
    {% endfor %}

  </div>
</div>
<div class="js-slider-banner-pagination main-banner__pagination">
  
</div>