<div class="swiper-container js-news-slider">
  <div class="swiper-wrapper">

    {% for slide in news.slider %}
      <div class="swiper-slide">
        <div class="news-slider__single js-big-height">
          <a href="" class="news-slider__img js-biginfo-height">
            <!-- <img data-src="./img/newsslider/{{slide.img}}" alt="{{slide.alt}}" class="swiper-lazy">
            <div class="swiper-lazy-preloader"></div> -->
            <img src="./img/newsslider/{{slide.img}}" alt="{{slide.alt}}">
          </a>
          <div class="news-slider__info">
            <div class="news-slider__date">{{slide.date}}</div>
            <a href="" class="news-slider__title">{{slide.title}}</a>
            <div class="news-slider__descr">{{slide.descr}}</div>
            <a href="" class="news-slider__more">Читати далі <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5L1 9" stroke="#1AB99B"/>
              </svg>
              </a>
          </div>
          <div class="biginfo__wrapper-white js-to-height"></div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
<div class="js-slider-news-pagination news-slider__pagination">
  
</div>