<div class="swiper-container product__imgs-big js-product-detail-slider-big">
  <div class="swiper-wrapper">

    {% for i in range(0, 8) -%}
    <div class="swiper-slide">
      <img data-src="img/img-main.png" alt="img-main.png" class="swiper-lazy">
      <div class="swiper-lazy-preloader"></div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="product__imgs-small-wrapper">


  <div class="swiper-container  product__imgs-small js-product-detail-slider-small">
    <div class="swiper-wrapper">

        {% for i in range(0, 8) -%}
        <div class="swiper-slide">
          <img data-src="img/img-main.png" alt="img-main.png" class="swiper-lazy">
          <div class="swiper-lazy-preloader"></div>
        </div>
        {% endfor %}

    </div>
    
  </div>

  <div class="js-control-slider-product product__imgs-arrows">
    <span class="js-control-slider-product__left">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 8L12 13L12 3L4 8Z" fill="#1AB99B"/>
        </svg>
            
    </span>
    <span class="js-control-slider-product__right">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 8L4 3L4 13L12 8Z" fill="#1AB99B"/>
      </svg>
    </span>
  </div>

</div>