<div class="auth-info__big">Отримайте ексклюзивний доступ до послуг АТ Груп</div>
      
<div class="auth-info__item">
  <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H60V60H0V0Z" fill="#245796"/>
    <path d="M18 10L26 26H10L18 10Z" fill="#1AB99B"/>
    <rect x="10" y="34" width="16" height="16" fill="#AAC4EA"/>
    <rect x="34" y="10" width="16" height="16" fill="white"/>
    <path d="M34 42C34 37.5817 37.5817 34 42 34C46.4183 34 50 37.5817 50 42C50 46.4183 46.4183 50 42 50C37.5817 50 34 46.4183 34 42Z" fill="#ED4228"/>
    </svg>
  <span>Широкий асортимент оригінальної продукції</span>
</div>
<div class="auth-info__item">
  <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H60V60H0V0Z" fill="#245796"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.93701 7.51336L19.2744 7.47217L29.5296 45.7451L48.8481 40.5688L49.8834 44.4325L26.7012 50.6441L16.219 11.5241L10.0043 11.5128L9.93701 7.51336Z" fill="white"/>
    <path d="M31.979 47.1596C32.5507 49.2934 31.2844 51.4868 29.1505 52.0585C27.0167 52.6303 24.8233 51.364 24.2515 49.2301C23.6798 47.0963 24.9461 44.9029 27.08 44.3311C29.2138 43.7594 31.4072 45.0257 31.979 47.1596Z" fill="#AAC4EA"/>
    <path d="M27.2559 27.6577L42.7107 23.5166L46.8518 38.9714L31.397 43.1125L27.2559 27.6577Z" fill="#1AB99B"/>
    <path d="M23.6323 14.1346L35.2234 11.0288L38.3293 22.6199L26.7382 25.7257L23.6323 14.1346Z" fill="#ED4228"/>
    </svg>
  <span>Надійні постачальники</span>
</div>
<div class="auth-info__item">
  <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H60V60H0V0Z" fill="#245796"/>
    <rect x="22" y="10" width="30" height="26" fill="#AAC4EA"/>
    <rect x="32" y="10" width="10" height="10" fill="#ED4228"/>
    <path d="M8 40H18V50H8V40Z" fill="#1AB99B"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M41 37L44 42L32 50.0002H20V40.0002H29V44.0002H31L41 37Z" fill="white"/>
    </svg>          
  <span>Власна логістика</span>
</div>
<div class="auth-info__item">
  <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H60V60H0V0Z" fill="#245796"/>
    <path d="M20.2525 23.4176L20.4824 23.6481L23.6787 20.444L23.4477 20.2129C24.3394 18.0605 23.9142 15.4886 22.1676 13.7368C20.4215 11.9862 17.8558 11.5598 15.7079 12.4539L19.5784 16.3339L16.3831 19.5376L12.5138 15.657C11.6216 17.811 12.0479 20.383 13.7939 22.1331C15.54 23.8843 18.1058 24.3111 20.2525 23.4176Z" fill="#ED4228"/>
    <path d="M41.4667 20.5282L44.3723 19.5665L47.0893 14.8779L45.1295 12.9136L40.4539 15.6372L39.4952 18.5504L37.0723 20.9792L39.0438 22.957L41.4667 20.5282Z" fill="#1AB99B"/>
    <path d="M47.5478 44.3433C48.4384 42.1898 48.0143 39.6178 46.2671 37.8666C44.5211 36.116 41.9553 35.6891 39.8075 36.5831L39.4587 36.2329L36.2629 39.4365L36.6128 39.7873C35.7211 41.9391 36.1463 44.5122 37.8935 46.2629C39.6395 48.0135 42.2053 48.4404 44.352 47.5463L40.4827 43.6663L43.6774 40.4632L47.5478 44.3433Z" fill="#ED4228"/>
    <path d="M37.5386 34.1872C37.8689 33.5986 38.1318 32.9669 38.3187 32.3028H40.5725V27.6031H38.3187C38.1312 26.939 37.8684 26.3079 37.5386 25.7188L39.1328 24.1203L35.8188 20.7964L34.2245 22.3954C33.6369 22.0647 33.0069 21.8006 32.3445 21.6138V19.354H27.6571V21.6138C26.9948 21.8006 26.3648 22.0653 25.7772 22.3954L24.1829 20.7964L20.8683 24.1203L22.4625 25.7188C22.1333 26.3079 21.8694 26.9396 21.6835 27.6031H19.4297V32.3028H21.6835C21.8699 32.9675 22.1339 33.5986 22.4625 34.1872L20.8683 35.7862L24.1829 39.1096L25.7772 37.5105C26.3648 37.8412 26.9948 38.1053 27.6571 38.2922V40.5519H32.3445V38.2922C33.0075 38.1053 33.6369 37.8406 34.2245 37.5105L35.8188 39.1096L39.1328 35.7862L37.5386 34.1872ZM30.0008 34.9212C27.2632 34.9212 25.0456 32.6961 25.0456 29.9535C25.0456 27.2098 27.2637 24.9853 30.0008 24.9853C32.7363 24.9853 34.9555 27.2098 34.9555 29.9535C34.9555 32.6961 32.7363 34.9212 30.0008 34.9212Z" fill="#AAC4EA"/>
    <path d="M20.1061 35.7608L12 43.8658L16.1256 47.992L24.2317 39.887L20.1061 35.7608Z" fill="white"/>
    </svg>          
  <span>Власний сервісний центр</span>
</div>