<div class="auth-wrapper auth-small">


  <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
    <div class="auth-block auth-login">

      {% include "partials/auth/login/_auth-header.html" %}
      <div class="auth-body">
        <form action="" class="form-def">
          <div class="form-def__row">
            <span class="form-def__icon">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36 31V17H12V31H36Z" fill="url(#paint0_linear)"/>
                <path d="M36 17H12L24 27L36 17Z" fill="#AAC4EA"/>
                <defs>
                <linearGradient id="paint0_linear" x1="12" y1="31" x2="36" y2="17" gradientUnits="userSpaceOnUse">
                <stop stop-color="#12417A"/>
                <stop offset="0.628512" stop-color="#3163A0"/>
                </linearGradient>
                </defs>
                </svg>
            </span>
            <input type="mail" class="form-def__input" placeholder="Email" />
          </div>
          <div class="form-def__row">
            <span class="form-def__icon">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M34 31.5263L26.3529 24L24 26.3158L29.2941 31.5263L28.1176 32.6842L30.4706 35L34 31.5263Z" fill="url(#paint0_linear)"/>
                <path d="M27.5355 27.5355C25.5829 29.4882 22.4171 29.4882 20.4645 27.5355C18.5118 25.5829 18.5118 22.4171 20.4645 20.4645C22.4171 18.5118 25.5829 18.5118 27.5355 20.4645C29.4882 22.4171 29.4882 25.5829 27.5355 27.5355Z" fill="#AAC4EA"/>
                <defs>
                <linearGradient id="paint0_linear" x1="25.5" y1="26" x2="27.2586" y2="34.0374" gradientUnits="userSpaceOnUse">
                <stop offset="0.18483" stop-color="#12417A"/>
                <stop offset="0.511831" stop-color="#3163A0"/>
                </linearGradient>
                </defs>
                </svg>                
            </span>
            <input type="password" class="form-def__input" placeholder="Password" />
          </div>
          <div class="form-def__capcha">
            <img src="./img/capcha.png" alt="">
          </div>
          <div class="form-def__buttons uk-child-width-1-2@l uk-child-width-1-1@s uk-grid-exsmall" uk-grid>
            <div class=""><a href="" class="btn btn-green btn-small">Вхід</a></div>
            <div class=""><a href="" class="btn btn-green btn-small btn-reverse">Реєстрація</a></div>
          </div>
          <div class="form-def__additionally">
            <label class="form-def__label">
              <input type="checkbox" class="form-def__checkbox" /><span>Запам’ятати мене</span>
            </label>
            <a href="" class="form-def__link">Відновити пароль</a>
          </div>
        </form>
      </div>

    </div>
    <div class="auth-block auth-info">
      
    </div>
  </div>

</div>