<div class="auth-wrapper">
  <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
    <div class="auth-block">

      <div class="auth-header">
        <div class="auth-header__ttl">Активація</div>
        <div class="auth-header__descr">Незабаром з вами зв’яжеться наш менеджер і на адресу <a href="mailto:username@mail.com" class="link link-bold">username@mail.com</a> буде відправлено посилання для активації профіля</div>
        <div class="auth-steps">
          <div class="auth-steps__item active"></div>
          <div class="auth-steps__item active"></div>
          <div class="auth-steps__item active"></div>
        </div>
      </div>
      

    </div>
    <div class="auth-info">
      {% include "partials/auth/_auth-info.html" %}
    </div>
  </div>
</div>