<div class="auth-wrapper">
  <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
    <div class="auth-block">

      <div class="auth-header final-auth">
        <div class="auth-header__ttl">Дякуємо!</div>
        <div class="auth-header__descr">
          <p>Ви успішно підтвердили реєстрацію.</p>
          <p>Тепер ви можете увійти в особистий кабінет, використовуючи свій логін (email) та пароль.</p>
        </div>
        <a href="" class="btn btn-green btn-small">Перейти в особистий кабінет</a>
      </div>
      

    </div>
    <div class="auth-info">
      {% include "partials/auth/_auth-info.html" %}
    </div>
  </div>
</div>