<div class="auth-wrapper">
  <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
    <div class="auth-block">

      <div class="auth-header">
        <div class="auth-header__ttl">Реєстрація</div>
        <div class="auth-header__descr">Заповніть дані контрагента</div>
        <div class="auth-steps">
          <div class="auth-steps__item active"></div>
          <div class="auth-steps__item active"></div>
          <div class="auth-steps__item"></div>
        </div>
      </div>
      
      <div class="auth-body">
        <form action="" class="form-def">

          <div class="form-def__row">
            <div class="form-def__title">Адреса веб сайту</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
            <div class="form-def__subtext">Поле обов’язкове для інтернет магазинів</div>
          </div>

          <div class="form-def__row">
            <div class="form-def__title">Електронна пошта</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>

          <div class="form-def__row">
            <div class="form-def__title">Ім’я</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>

          <div class="form-def__row">
            <div class="form-def__title">Адреса</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>

          <div class="form-def__row">
            <div class="form-def__title">Телефон</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>

          <div class="form-def__row">
            <div class="form-def__title">Пароль</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>
          
          <div class="form-def__row">
            <div class="form-def__title">Повторити пароль</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>
          
          <div class="form-def__buttons uk-child-width-1-1@l uk-child-width-1-1@s uk-grid-exsmall" uk-grid>
            <div class=""><a href="" class="btn btn-green btn-small disabled">Активувати профіль</a></div>
          </div>
        </form>
        <div class="small-text medium text-center">Вже зареєстровані? <a href="" class="blue bold">Увійти</a></div>
      </div>

    </div>
    <div class="auth-info">
      {% include "partials/auth/_auth-info.html" %}
    </div>
  </div>
</div>