<div class="auth-wrapper">
  <div class="uk-grid-collapse uk-child-width-1-2" uk-grid>
    <div class="auth-block">

      <div class="auth-header">
        <div class="auth-header__ttl">Реєстрація</div>
        <div class="auth-header__descr">Заповніть дані контрагента</div>
        <div class="auth-steps">
          <div class="auth-steps__item active"></div>
          <div class="auth-steps__item"></div>
          <div class="auth-steps__item"></div>
        </div>
      </div>
      
      <div class="auth-body">
        <form action="" class="form-def">
          <div class="form-def__row">
            <div class="form-def__title">Формат бізнесу</div>
            <select class="form-def__select" data-placeholder="Оберіть потрібний варіант">
                <!-- for placeholder -->
                <option></option>
                <!-- end for placeholder -->
                <option value="1">Фізичний магазин </option>
                <option value="2">Інтернет сайт </option>
                <option value="3">Інше</option>
            </select>
        </div> 
          <div class="form-def__row">
            <div class="form-def__title">Форма власності</div>
            <label class="form-def__label">
              <input class="form-def__radio" type="radio" name="u1" /><span>Юридична особа</span>
            </label>
            <label class="form-def__label">
              <input class="form-def__radio" type="radio" name="u1" /><span>Фізична особа-підприємець</span>
            </label>
          </div>
          <div class="form-def__row">
            <div class="form-def__title">ІПН</div>
            <input type="text" class="form-def__input form-def__input--default-color" placeholder="" />
          </div>
          <div class="form-def__row">
            <div class="form-def__title disabled">Код ЄДРПОУ</div>
            <input type="text" class="form-def__input form-def__input--default-color" disabled placeholder="" />
          </div>
          <div class="form-def__buttons uk-child-width-1-1@l uk-child-width-1-1@s uk-grid-exsmall" uk-grid>
            <div class=""><a href="" class="btn btn-green btn-small disabled">Далі</a></div>
          </div>
        </form>
        <div class="small-text medium text-center">Вже зареєстровані? <a href="" class="blue bold">Увійти</a></div>
      </div>

    </div>
    <div class="auth-info">
      {% include "partials/auth/_auth-info.html" %}
    </div>
  </div>
</div>