+font('Ibmplexsans', 'Ibmplexsans')
+font('Ibmplexsansmedium', 'Ibmplexsansmedium')
+font('Ibmplexsanssemibold', 'Ibmplexsanssemibold')
+font('Ibmplexsansbold', 'Ibmplexsansbold')
+font('Nunitosansregular', 'Nunitosansregular')

=ibm
  font-family: 'Ibmplexsans', sans-serif
  font-weight: 400
  font-display: auto 
  +smooth-font

=ibm-medium 
  font-family: 'Ibmplexsansmedium', sans-serif
  font-weight: 400
  font-display: auto 
  +smooth-font

=ibm-s-bold
  font-family: 'Ibmplexsanssemibold', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=ibm-bold
  font-family: 'Ibmplexsansbold', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

=nuni
  font-family: 'Nunitosansregular', sans-serif
  font-weight: 400
  font-display: auto
  +smooth-font

.exsmall-sz
  font-size: 12px
  line-height: 16px
.lsmall-text
  font-size: 14px
.link
  color: $blue
  &:hover
    text-decoration: none
    color: $blue-dark
  &-normal
    font-size: 16px
  &-disabled
    pointer-events: none
    color: $tag
  &-bold
    +ibm-bold
  .icon
    margin-right: 10px

h1, .h1
  font-size: 40px
  +ibm-bold
  +r($mob-md)
    font-size: 30px
h2, .h2
  font-size: 30px
  +ibm-bold
h3, .h3
  font-size: 20px
  color: $white
  +ibm-bold
  
h4, .h4
  font-size: 20px
  color: $white
  +ibm-bold

a
  &.small
    font-size: 16px
    color: $white
    line-height: 21px
    font-weight: 500
    &:hover
      color: $white
      text-decoration: none

.normal
  font-size: 18px
  line-height: 167%
  +r($mob-md)
    font-size: 16px
  &:hover
    color: $white
    text-decoration: none
  p
    padding-bottom: 15px
    +r($mob-md)
      padding-bottom: 10px

.medium-text
  font-size: 24px
  line-height: 40px
  +r($mob-md)
    font-size: 24px
    line-height: 40px
  
.small-text
  font-size: 16px
  color: $tag

.text-center
  text-align: center

p
  font-size: 18px
  line-height: 167%
.grey
  color: $tag
.white
  color: $white
.blue
  color: $blue
  &a
    &:hover
      text-decoration: none
      color: $blue-dark
.txt-color
  color: $txt
  &:any-link
    color: $txt
    &:hover
      text-decoration: none
      color: $txt
.tag-color
  color: $tag
  &:any-link
    color: $tag
    &:hover
      text-decoration: none
      color: $tag
.red
  color: $red !important
  &:any-link
    &:hover
      text-decoration: none
      color: $red-dark
.green
  color: $green
  &:any-link
    &:hover
      text-decoration: none
      color: $green-dark
  svg
    stroke: $green
.bold
  +ibm-bold
.medium
  +ibm-medium

.center-text
  text-align: center

.title
  &-count
    font-size: 16px
    color: $tag
    +ibm
    position: relative
