body
	background: $bg-page
	// font-size: 18px
	// +css-lock(16, 50, 600, 1000)
	line-height: 167%
	overflow-x: hidden
	+ibm
	opacity: 1
	transition: opacity .12s ease
	&.loader
		opacity: 0
	&.stop-s
		overflow: hidden !important
		position: fixed
html
	&.stop-s
		overflow: hidden !important
		position: fixed
.out
	display: flex
	flex-wrap: wrap
	min-height: 100vh
	height: 100%
	position: relative
	&::before, &::after
		content: ''
		display: flex
		width: 100%
		height: 4px
		background: rgb(237,66,40)
		background: linear-gradient(90deg, rgba(237,66,40,1) 0%, rgba(237,66,40,1) 33%, rgba(26,185,155,1) 33%, rgba(26,185,155,1) 66%, rgba(36,87,150,1) 66%, rgba(36,87,150,1) 100%)
		position: absolute
		top: 0
		z-index: 100
	&::after
		top: auto
		bottom: 0
.col
	width: 100%
	display: flex
	flex-wrap: wrap
.uk-container
	box-sizing: border-box

.icon-arrow
	fill: transparent !important
	stroke: #ffffff
.icon-head_search
	fill: #fff !important
.icon-subtract
	fill: #ffffff !important
// #icon-sign
// 	path
// 		&:nth-of-type(1)
// 			fill: #245796
// 		&:nth-of-type(2)
// 			fill: #AAC4EA
// 		&:nth-of-type(3)
// 			fill: #ffffff
			
		

.simplebar-track.simplebar-vertical
	width: 8px !important
	z-index: 100
	&::before
		content: ''
		height: 100%
		width: 2px
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		background: $light
	.simplebar-scrollbar
		&::before
			position: absolute
			content: ''
			background: #000
			border-radius: 0px
			left: 1px
			right: 1px
			background: $light
	.simplebar-visible
		&::before
			opacity: 1
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before
	top: 0 !important
	bottom: 0 !important

.uk-grid-exsmall
	margin-left: -10px
.uk-grid-exsmall > *
	padding-left: 10px


.dropdown
	&-wrp
		width: 100%
		border: 1px solid #C2C2C2
		box-sizing: border-box
		border-radius: 50px
		position: relative
		z-index: 1
		display: flex
		padding: 3.86473vmin 4.8vmin
		-webkit-transition:  border-radius .33s ease-in
		transition:  border-radius .33s ease-in
		&.active-sel 
			border-radius: 14px
			.dd-selected 
					padding-bottom: 8px

.uk-container
	+r($mob-md)
		padding-left: 10px
		padding-right: 10px

.show-mob-lg
	display: none !important
	+r($mob-lg)
		display: flex !important
.hide-tablet
	+r($desktop-sm)
		display: none !important
		
.on-hide-mob
	@media (min-width: 641px)
		display: none !important
	
.hide-mob
	+r($mob-lg)
		display: none !important

.hide-big-tablet
	+r($desktop-md)
		display: none !important


.bg-white-default
	background: $white
	margin: 120px 20px
	width: calc(100% - 40px)
	padding: 60px 0
	box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
	+r($desktop-md)
		margin-top: 30px
		margin-bottom: 60px
		width: 100%
		margin-left: 0
		margin-right: 0
		padding-left: 10px
		padding-right: 10px
	.no-auth-pr.product__item.product-grid2 
		
		.product__buy-price
			position: static !important
			width: auto !important
			text-align: center !important
			top: 0 !important
			transform: translateY(0%) !important
			font-size: 36px !important
	.js-product-grid
		&:nth-child(3n+2)
			.product__item
					border-left: 1px solid $light
					border-right: 1px solid $light
					+r($desktop-md)
						border-left: 1px solid transparent
						border-right: 1px solid transparent
		+r($desktop-md)
			&:nth-child(even)
				border-left: 1px solid transparent
				border-right: 1px solid transparent
				position: relative
				&::before
					position: absolute
					content: ''
					top: 0
					left: 15px
					width: 1px
					height: 100%
					background: $light
					display: flex
		+r($mob-lg)
			&:nth-child(even)
				&::before
					display: none
	.product__item
		+r($mob-exlg)
			padding: 0px 
			&::after
				content: ''
				position: absolute
				width: 100% !important
				height: 1px !important
				left: 0 !important
				bottom: -16px !important
				top: auto !important
				display: flex !important
				background: $light
		+r($mob-xsm)
			.product__head
				position: static
				.product__states
					margin-left: 0
	.product__side
		+r($mob-xsm)
			margin-top: 0
	.js-product-grid
		+r($mob-lg)
			width: 100% !important
			


.breadcrumb
	.uk-breadcrumb
		display: flex
		flex-wrap: nowrap
		li
			flex 0 0 auto
			&:last-of-type
				padding-right: 15px
	.simplebar-content
		display: flex
		
	.simplebar-track.simplebar-vertical
		display: none
	.simplebar-track.simplebar-horizontal
		left: 10px
		bottom: -10px
		z-index: 200
		&::before
			content: ''
			width: 100%
			height: 2px
			background: $light
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
		.simplebar-scrollbar
			left: 0 !important
			border-radius: 0
			right: 0 !important
			cursor: pointer
			&:before
				height: 4px
				border-radius: 0
				background: $light
				opacity: 1
				top: 50%
				transform: translateY(-50%)
				left: 0
				right: 0


.white-bg
	background: $white
	&:any-link
		&:hover
			color: $white
			text-decoration: none
.blue-bg
	background: $blue
	&:any-link
		&:hover
			color: $white
			text-decoration: none	


.bg-modal-in
	width: 100vw
	height: 100vh
	background: rgba(2, 21, 44, 0.7)
	position: absolute
	left: 0
	top: 0
	z-index: 100
	z-index: -100
	overflow: hidden
  will-change: visibility
	opacity: 0
	will-change: opacity
	transition: all .15s ease-out
	visibility: hidden
	&.in-show
		display: block
		opacity: 1
		z-index: 1200
		visibility: visible


.product__wrapper:not(:first-of-type) .uk-first-column 
	margin-top: 30px
	+r(1200)
		margin-top: 20px
	+r(640)
		margin-top: 10px

.product__wrapper:not(:first-of-type) .uk-width-1-2
	margin-top: 30px
	+r(1200)
		margin-top: 20px
	+r(640)
		margin-top: 10px
