---
title: Особистий кабінет - Налаштування
---
{% extends "layouts/_layout-404.html" %}

{% block content %}


<div class="header">
    <div class="uk-container">
        <a href="/" class="logo"><img src="./img/icon/logo-color.svg" alt=""></a>
    </div>
</div>
<div class="page-not-found-body">
    <div class="uk-container">
        <div class="center">
            <p class="blue">Схоже, ви заблукали...</p>
            <p>Чому б вам не ознайомитись з нашими пропозиціями та акціями?</p>
        </div>
        <div class="input-search">
            <form action="" class="main-search__form">
                <input type="text" class="main-search__input search-input" placeholder="Введіть назву товару , категорію, бренд...">
                <button class="btn-red" type="submit">
                  <svg class="icon icon-subtract">
                    <use xlink:href="img/sprite.svg#icon-subtract"></use>
                  </svg>
                </button>
              </form>
            
        </div>
        <a href="#" class="back">
            <img src="./img/icon/arrow-left.svg" alt="">
            <span>Повернутись назад</span>
        </a>
    </div>
</div>


{% endblock %}