---
title: Про компанію
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="top-img-wrap document">
    <img src="./img/top-img.svg" alt="">
    <div class="uk-container">
        <div class="title-page red">Надійний партнер<br>вашого бізнесу</div>
    </div>
</div>
   
<div class="tabs-vertical-wrap company-detail-tabs">
    <div class="uk-container">
        <div class="l-section-left"></div>
        <div class="l-section"  uk-sticky="bottom: true; offset: 50; media: 1025" >
            <ul class="tabs-variable">
                <li class="tabs-variable__item">
                    <h3 class="link active" data-attr="company">Компанія</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="mission">Місія</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="service">Сервіс</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="career">Кар’єра</h3>
                </li>
            </ul>
        </div>
        <div class="r-section">            

            <div class="tabs-contant about-brend about-company  company">               
                <div class="title-block"><span>Працюємо з 1998 року</span></div>
                <p>На сьогодняшній день ми є одним із найбільших в Україні імпортерів товарів для дітей. До портфелю наших брендів входять найвідоміші у світі торговельні марки.</p>
                <p>Компанія експортує товари шляхом контейнерних перевезень, авіаперевезень та наземним транспортом з таких країн як Китай, Тайвань, Малайзія, В’єтнам, Італія, Німеччина, Нідерланди.</p>
                <p>Ми маємо великий досвід адаптації продукції для ринку України.</p>
                <p>За роки свого існування від ентузіазму декількох однодумців ми збільшились до штату з більш ніж півсотні працівників, від  невеликого приміщення — до величезних складів, до великого опту.</p>
                <div class="bg-red">
                    <p>Ми зібрали ефективну команду, яка допомагає нашим партнерам реалізовувати свої бізнес-задачі.</p>
                    <p>Ми зробили процес замовлення та реалізації продукції максимально простим, швидким, прозорим, щоб ви могли повністю зосередитись на своїх цілях.</p>
                </div>
                <ul class="advantages-list">
                    <li class="advantages-list__item">
                        <img src="./img/icon-company/about-employee.svg" alt="">
                        <p class="number blue">70+</p>
                        <p class="text">співробітників</p>
                    </li>
                    <li class="advantages-list__item">
                        <img src="./img/icon-company/about-clients.svg" alt="">
                        <p class="number red">30+</p>
                        <p class="text">постійних клієнтів та партнерів</p>
                    </li>
                    <li class="advantages-list__item">
                        <img src="./img/icon-company/about-brands.svg" alt="">
                        <p class="number green">38</p>
                        <p class="text">оригінальних брендів</p>
                    </li>
                </ul>
            </div>

            <div class="tabs-contant about-company mission" style="display: none;">
                <div class="title-block"><span>Ми прагнемо створити для вас умови комфортного ведення бізнес-процесів.<br>Зведена до мінімуму бюрократія дозволяє нам пропонувати найкращий сервіс на ринку для клієнтів.</span></div>
                
                <ul class="mission-list">
                    <li class="mission-list__item">
                        <p>Ми розуміємо потреби клієнта, знаємо про його проблеми, розділяємо інтереси.</p>
                    </li>
                    <li class="mission-list__item">
                        <p>Ми за відкриті, прозорі колективні та партнерські відносини.</p>
                    </li>
                    <li class="mission-list__item">
                        <p>Ми лояльні незалежно від масштабу бізнеса клієнта. Наш продукт завжди ексклюзивний.</p>
                    </li>
                    <li class="mission-list__item">
                        <p>Ми завжди готові до нового досвіду та нестандартних рішень.</p>
                    </li>
                    <li class="mission-list__item">
                        <p>На всіх етапах співпраці клієнта супроводжують професіонали своєї справи.</p>
                    </li>
                </ul>

                
            </div>

            <div class="tabs-contant about-brend about-company service" style="display: none;">
                <div class="title-block"><span>Сервіси</span></div>
               
            </div>

            <div class="tabs-contant about-brend about-company career" style="display: none;">
                <div class="title-block"><span>Маємо роботу для вас</span></div>
                <div class="active-vacancies ">
                    <div class="vacancies__item">
                        <div class="title-item">                          
                            <h3>Візуальний мерчендайзер роздрібної мережі</h3>
                            <div class="status">
                                <span class="plus"></span>
                            </div>
                        </div>
                        <div class="title-text">                           

                            <div class="vacanci-mailto">
                                <p>Своє резюме та побажання по заробітній платі, будь ласка, відправляйте на secretar@atuatoys.kiev.ua з темою «Назва вакансії»</p>
                            </div>
                        </div>
                    </div>
                    <div class="vacancies__item">
                        <div class="title-item">                          
                            <h3>Назва вакансії у два рядки. Візуальний мерчендайзер роздрібної мережі</h3>
                            <div class="status">
                                <span class="plus"></span>
                            </div>
                        </div>
                        <div class="title-text">
                            <p class="blue">Повна зайнятість</p>

                            <p class="blue">Обов'язки:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Контроль викладки та відстеження ротації товару;</p>
                                </li>
                                <li class="list__item">
                                    <p>Перевірка цінової політики;</p>
                                </li>
                                <li class="list__item">
                                    <p>Ведення звітності;</p>
                                </li>
                            </ul>

                            <p class="blue">Вимоги до кандидата:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Бажаний досвід роботи мерчендайзером в категорії побутова техніка/електроника</p>
                                </li>
                                <li class="list__item">
                                    <p>Зацікавленість категорією товарів для геймерів</p>
                                </li>
                                <li class="list__item">
                                    <p>Вміння вести комунікацю, грамотна мова, відповідальність.</p>
                                </li>
                            </ul>

                            <p class="blue">Умови роботи:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Робота в стабільній та динамічної компанії в цікавій сфері геймінгу;</p>
                                </li>
                                <li class="list__item">
                                    <p>Офіційне працевлаштування;</p>
                                </li>
                                <li class="list__item">
                                    <p>Конкурентний рівень оплати (оклад + бонус);</p>
                                </li>
                                <li class="list__item">
                                    <p>Компенсація транспортних витрат</p>
                                </li>
                            </ul>

                            <div class="vacanci-mailto">
                                <p>Своє резюме та побажання по заробітній платі, будь ласка, відправляйте на secretar@atuatoys.kiev.ua з темою «Назва вакансії»</p>
                            </div>
                        </div>
                    </div>

                    <div class="vacancies__item">
                        <div class="title-item">                          
                            <h3>Візуальний мерчендайзер роздрібної мережі</h3>
                            <div class="status">
                                <span class="plus"></span>
                            </div>
                        </div>
                        <div class="title-text">
                            <p class="blue">Повна зайнятість</p>

                            <p class="blue">Обов'язки:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Контроль викладки та відстеження ротації товару;</p>
                                </li>
                                <li class="list__item">
                                    <p>Перевірка цінової політики;</p>
                                </li>
                                <li class="list__item">
                                    <p>Ведення звітності;</p>
                                </li>
                            </ul>

                            <p class="blue">Вимоги до кандидата:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Бажаний досвід роботи мерчендайзером в категорії побутова техніка/електроника</p>
                                </li>
                                <li class="list__item">
                                    <p>Зацікавленість категорією товарів для геймерів</p>
                                </li>
                                <li class="list__item">
                                    <p>Вміння вести комунікацю, грамотна мова, відповідальність.</p>
                                </li>
                            </ul>

                            <p class="blue">Умови роботи:</p>
                            <ul class="list">
                                <li class="list__item">
                                    <p>Робота в стабільній та динамічної компанії в цікавій сфері геймінгу;</p>
                                </li>
                                <li class="list__item">
                                    <p>Офіційне працевлаштування;</p>
                                </li>
                                <li class="list__item">
                                    <p>Конкурентний рівень оплати (оклад + бонус);</p>
                                </li>
                                <li class="list__item">
                                    <p>Компенсація транспортних витрат</p>
                                </li>
                            </ul>

                            <div class="vacanci-mailto">
                                <p>Своє резюме та побажання по заробітній платі, будь ласка, відправляйте на secretar@atuatoys.kiev.ua з темою «Назва вакансії»</p>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>


        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}