---
title: Корзина
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><span>Кошик</span></li>
        </ul>
    </div>
</div>

<div class="title-basket">
    <div class="uk-container">
        <div class="info-top">
            <h2 class="title">Оформлення замовлення</h2>
            <ul class="nav-basket">
                <li class="nav-basket__item">
                    <label class="form-def__label">
                        <span class="text desk-only">Перевірити наявність</span>
                        <span class="text mob-only">Перевірити</span>
                        <input type="checkbox" class="form-def__checkbox">
                    </label>                
                </li>
                <li class="nav-basket__item">
                    <a href="#" class="remove-basket">
                        <span class="text desk-only">Очистити кошик</span>
                        <span class="text mob-only">Очистити</span>
                        <span class="img-wrap">
                            <img src="img/icon/delete.svg" alt="">
                        </span>
                    </a>
                </li>
                <li class="nav-basket__item desk-only">
                    <a href="#" class="add-product">
                        <span class="text ">Додати товари</span>
                        <span class="plus"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mob-only">
            <a href="#" class="add-product"> <span class="text">Додати товари</span> <span class="plus"></span> </a>
        </div>
    </div>
</div>

<div class="product-basket">
    <div class="uk-container">
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity1">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity1" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity1">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity2">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity2" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity2">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity3">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity3" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity3">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">917867,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity4">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity4" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity4">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity5">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity5" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity5">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">212,</span> - </div>
                <div class="input-group plus-minus-input dftwo">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity6">
                        <span class="minus"></span>
                    </button>
                    </div>
                    <input class="input-group-field" type="text" name="quantity6" value="0">
                    <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity6">
                        <span class="plus"></span>
                    </button>
                    </div>
                </div>
                <div class="total-summ"><span class="value">525000,</span> -</div>
                <div class="remove">
                    <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="information-basket">
    <div class="uk-container">
        <div class="wrap">
            <h3 class="title-block">Інформація</h3>       
            <form action="">
                <div class="row payment">
                    <div class="form-inf">
                        <div class="form-inf__title">Замовник / Платник</div>
                        <select class="form-def__select" data-placeholder="Оберіть потрібний варіант">
                            <!-- for placeholder -->
                            <option></option>
                            <!-- end for placeholder -->
                            <option value="1">Замовник</option>
                            <option value="2">Платник</option>
                        </select>
                    </div> 
                    <div class="form-inf">
                        <div class="form-inf__title">Оплата</div>
                        <label class="form-def__label">
                            <input class="form-def__radio" type="radio" name="br"><span>Безготівковий розрахунок</span>
                        </label>
                    </div> 
                </div>
                <div class="row delivery-option">
                    <div class="form-inf">
                        <div class="form-inf__title">Оберіть варіант доставки</div>
                        <div class="np-wrap">
                            <img src="img/icon/np.svg" alt="">
                            <ul class="list">
                                <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type" value="1" checked><span>Нова пошта</span>
                                    </label>
                                </li>
                                <!-- <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type"><span>Відділення</span>
                                    </label>
                                </li>                                -->
                            </ul>                           
                        </div>
                        <!-- <div class="np-wrap">
                            <img src="img/icon/delivery.svg" alt="">
                            <ul class="list">
                                <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type"><span>Адреса</span>
                                    </label>
                                </li>
                                <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type"><span>Відділення</span>
                                    </label>
                                </li>                               
                            </ul>                           
                        </div>
                        <div class="np-wrap">
                            <img src="img/icon/justin.svg" alt="">
                            <ul class="list">
                                <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type"><span>Адреса</span>
                                    </label>
                                </li>
                                <li class="list__item">
                                    <label class="form-def__label">
                                        <input class="form-def__radio" type="radio" name="delivery-type"><span>Відділення</span>
                                    </label>
                                </li>                               
                            </ul>                           
                        </div> -->
                        <div class="pickup" >
                            <label class="form-def__label">
                                <input class="form-def__radio" type="radio" name="delivery-type" value="2" checked><span>Самовивіз <span class="grey">(зі складу AT Group)</span></span>
                            </label>
                        </div>
                        <div class="free">
                            <label class="form-def__label">
                                <input class="form-def__radio" type="radio" name="delivery-type" value="3" ><span>Безоплатна доставка</span>
                            </label>
                            <span class="tooltip" uk-tooltip="Умови безоплатної доставки додатково повідомить менеджер">i</span>
                        </div>
                    </div>

                    <!-- тут изменилась верстка -->
                    <div class="form-inf r-select">

                        <div class="form-inf__varible" id="address-delivery-1" style="display: none">
                            <div class="form-inf__title">Торговельна точка</div>
                            <select class="form-def__select-search " data-placeholder="Торговельна точка">
                                <!-- for placeholder -->
                                <option></option>
                                <!-- end for placeholder -->
                                <option value="1">Торговельна точка 1</option>
                                <option value="2">Торговельна точка 2</option>
                            </select>
    
                            <div class="form-inf__title">Адреса</div>
                            <select class="form-def__select-search " data-placeholder="Адреса">
                                <!-- for placeholder -->
                                <option></option>
                                <!-- end for placeholder -->
                                <option value="1">Адреса 1</option>
                                <option value="2">Адреса 2</option>
                            </select>
    
                            <div class="form-inf__title" >Номер вiддiлення</div>
                            <select class="form-def__select-search " data-placeholder="Номер вiддiлення">
                                <!-- for placeholder -->
                                <option></option>
                                <!-- end for placeholder -->
                                {% for i in range(0, 15) -%}
                                <option value="{{i}}">Номер отделения - {{i}}</option>
                                {%- endfor %}
                            </select>
                        </div>

                        <div class="form-inf__varible" id="address-delivery-2" style="display: none">
                            <ul class="list-address">
                                <li class="list-address__item">
                                    <p>Вулиця Червоноткацька, 42-Б <span class="grey">(зелені ворота)</span></p>
                                </li>
                                <li class="list-address__item">
                                    <p>Телефон зав.складу <a href="tel:+380674631304"> +38 067 463 13 04</a></p>
                                </li>
                                <li class="list-address__item">
                                    <p>Понеділок - П’ятниця, 09:00 - 18:00</p>
                                </li>
                                <li class="list-address__item">
                                    <a href="#" class="link blue"><span>Переглянути на мапі</span> <img src="img/icon/link.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>


                        <div class="form-inf__title" >Отримувач</div>
                        <input type="text" name="recipient" placeholder="Константин Константинович Константинопольский" required>
    
                        <div class="form-inf__title" >Телефон отримувача</div>
                        <input type="tel" name="phone" placeholder="+38 123 45 67 89" required>
                    </div>
                    <!-- конец -->
             
                </div>
                <div class="row comment-option">
                    <div class="form-inf alternative">
                        <div class="form-inf__title" >Альтернативна адреса доставки</div>
                        <textarea name="alter-address" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-inf">
                        <div class="form-inf__title" >Коментар</div>
                        <textarea name="comment" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <h3 class="title-block">Ваше замовлення</h3>
                <div class="row result">
                    <div class="form-inf">
                        <ul class="list-result">
                            <li class="list-result__item">
                                <span>Артикулів</span>
                                <span class="bold">22</span>
                            </li>
                            <li class="list-result__item">
                                <span>Кількість SKU</span>
                                <span class="bold">11250</span>
                            </li>
                            <li class="list-result__item">
                                <span>Сума</span>
                                <span class="bold green">125262500,-</span>
                            </li>
                            <li class="list-result__item">
                                <span>Знижка</span>
                                <span class="bold red">-</span>
                            </li>
                        </ul>
                    </div>
                    <div class="form-inf order">
                        <p>Для отримання знижки <span class="green">2%</span> не вистачає  <span class="blue">1500 грн.</span></p>
                        <a href="#" class="btn btn-add-product">Додати товари</a>
                        <button type="submit" class="btn btn-green btn-big">Оформити замовлення</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}

{% endblock %}