---
title: Бренды подробно
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="top-img-wrap">
    <img src="./img/top-img.svg" alt="">
</div>
   
<div class="tabs-vertical-wrap brand-detail-tabs">
    <div class="uk-container">
        <div class="l-section">
            <ul class="tabs-variable">
                <li class="tabs-variable__item">
                    <h3 class="link active" data-attr="about-brend">Про бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document">Документы</h3>
                </li>
            </ul>
        </div>
        <div class="r-section">
            <div class="tabs-contant about-brend">
                <div class="top">
                    <img src="./img/brands/logo-babyteam.svg" alt="" class="logo">
                    <a href="#" class="link-catalog green bold">
                        <span>До каталогу Baby team</span>
                        <img src="./img/icon/link-green.svg" alt="">
                    </a>
                </div>
                <div class="center">
                    <p>BABY TEAM – это современная торговая марка, предлагающая широкий ассортимент продукции по уходу и развитию ребенка с рождения. </p>
                    <p>Секрет популярности Baby team простой и отображается в политике компании:</p>
                    <ul class="brend-ul">
                        <li><p>Во-первых, это создание линейки продукции детских товаров, удовлетворяющих любые потребности в уходе и заботе за малышом. Ведь мы знаем, что самая большая радость для родителей – это наблюдать, как растет и гармонично развивается ребенок.</p></li>
                        <li><p>Во-вторых, мы строго придерживаемся действующего законодательства Украины и утвержденных норм и требований к качеству детских товаров. Вся продукция Baby team производится на ведущих фабриках и заводах и соответствует мировым стандартам качества и безопасности. Предлагаемые нами товары безопасны, что подтверждено многочисленными отзывами благодарных клиентов.</p></li>
                        <li><p>В-третьих, постоянная ротация, обновление и расширение ассортимента в соответствии с потребностями наших потребителей. Мы постоянно увеличиваем свой ассортимент приблизительно на 30% ежегодно.</p></li>
                        <li><p>В-четвертых, продукция Baby team доступна широкому кругу потребителей.</p></li>
                    </ul>
                    <p>В нашей работе мы придерживаемся принципа «Made for children to behappy», что в переводе с английского означает «Сделано для детей, чтобы быть счастливыми».</p>
                    <p>С 2013 года мы плодотворно работаем над нашим проектом, потому что верим, что наша продукция приносит пользу и радость. А вы дарите нам возможность воплощать все идеи в жизнь.</p>
                </div>
                <div class="bottom">
                    <img src="./img/babyteambn.jpg" alt="">
                </div>
            </div>

            <div class="tabs-contant about-document" style="display: none;">
                <a href="#" class="download-all">Завантажити усі документи бренду</a>
                
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}