---
title: Бренди
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


    <div class="brands-city">
        <div class="uk-container">
            <h2>Тільки оригінальні всесвітньо відомі торговельні марки</h2>
            <h2>Постачання беспосередньо від виробника</h2>
            <ul class="list-city">
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-de.jpg" alt=""></a></li>
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-nl.jpg" alt=""></a></li>
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-hk.jpg" alt=""></a></li>
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-cn.jpg" alt=""></a></li>
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-it.jpg" alt=""></a></li>
                <li class="list-city__item"><a href="#" class="link"><img src="img/flag/flag-us.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <div class="brands-content">
        <div class="uk-container">
            <div class="brands-title">
                <h1>38 брендів</h1>
                <div class="type-view">
                    <a href="#" class="type-btn cube active">
                        <span class="cube__item"></span>
                        <span class="cube__item"></span>
                        <span class="cube__item"></span>
                        <span class="cube__item"></span>
                    </a>
                    <a href="#" class="type-btn line">
                        <span class="line__item"></span>
                    </a>
                </div>
            </div>
            <div class="brands-list cube" >
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/author-hover.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-crate.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/bruder.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-cupcake.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/hasbro.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-cutesy.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/image21.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/logo-babyteam.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/IMG_19221.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-crate.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/hasbro.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-cutesy.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/image21.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/logo-babyteam.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
                <div class="brands-list__item">
                    <div class="brands-item__img">
                        <img src="./img/brands/bg/IMG_19221.png" alt="">
                    </div>
                    <a href="" class="brands-item__link">
                        <img src="img/brands/page/brands-crate.svg" alt="" class="logo">
                        <span class="name">Brand name</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


{% include "partials/_footer.html" %}

{% endblock %}