---
title: Особистий кабінет
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><span>Особистий кабінет</span></li>
        </ul>
    </div>
</div>

<div class="order-method">
    <div class="uk-container">
        <h2 class="green">Створіть нове замовлення зручним для вас способом:</h2>
        <div class="method-list">
            <div class="method-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-catalog.svg" alt="">
                </div>
                <div class="body-bottom">
                    <p>Перейдіть у каталог, щоб переглянути усі товари та бренди</p>
                    <a href="#" class="link btn btn-green btn-big">Каталог товарів</a>
                </div>
            </div>
            <div class="method-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-xls.svg" alt="">
                </div>
                <div class="body-bottom">
                    <p>Завантажте готову таблицю Excel та  сформуйте з неї замовлення</p>
                    <a href="#" class="link btn btn-green btn-big">Імпорт з файлу Excel</a>
                </div>
            </div>
            <div class="method-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-copy.svg" alt="">
                </div>
                <div class="body-bottom">
                    <p>Повторіть своє попереднє замовлення</p>
                    <a href="#" class="link btn btn-green btn-big" uk-toggle="target: #copy-request">Скопіювати заявку</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="general-information">
    <div class="uk-container">
        <h2 class="blue">Загальна інформація</h2>
        <div class="general-information-list">
            <div class="information-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-orders.svg" alt="">
                    <span class="blue bold">Замовлення</span>
                </div>
                <div class="center">
                    <ul class="list-info">
                        <li class="list-info__item">
                            <span class="name">Усього</span>
                            <span class="value blue bold">275</span>
                        </li>
                        <li class="list-info__item">
                            <span class="name">Виконано</span>
                            <span class="value blue bold">263</span>
                        </li>
                        <li class="list-info__item">
                            <span class="name">Нових</span>
                            <span class="value green bold">3</span>
                        </li>
                    </ul>
                </div>
                <div class="bottom-nav">
                    <a href="#" class="blue bold">Переглянути</a>
                </div>
            </div>

            <div class="information-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-cart.svg" alt="">
                    <span class="blue bold">Кошик</span>
                </div>
                <div class="center">
                    <ul class="list-info">
                        <li class="list-info__item">
                            <span class="name">Товарів у кошику</span>
                            <span class="value blue bold">165</span>
                        </li>
                        <li class="list-info__item">
                            <span class="name">На суму</span>
                            <span class="value blue bold">104654,-</span>
                        </li>                
                    </ul>
                </div>
                <div class="bottom-nav">
                    <a href="#" class="remove" uk-tooltip="title: Очистити кошик; delay: 300;  cls: uk-active uk-active-orange">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.6 14.2C0.6 15.2 1.5 16 2.5 16H9.5C10.5 16 11.4 15.2 11.4 14.2V3.5H0.6V14.2ZM12 1H9.1L8.2 0H3.8L2.9 1H0V2.6H12V1Z" fill="#B9CFEE"/>
                        </svg>
                    </a>
                    <a href="#" class="blue bold">Перейти у кошик</a>
                </div>
            </div>

            <div class="information-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-fav.svg" alt="">
                    <span class="blue bold">Обрані товари</span>
                </div>
                <div class="center">
                    <ul class="list-info">
                        <li class="list-info__item">
                            <span class="name">У обраному</span>
                            <span class="value blue bold">46</span>
                        </li>
                        <li class="list-info__item">
                            <span class="name">На суму</span>
                            <span class="value blue bold">4654,-</span>
                        </li>                
                    </ul>
                </div>
                <div class="bottom-nav">
                    <a href="#" class="remove" uk-tooltip="title:  Очистити обрані;delay: 300; cls: uk-active uk-active-orange">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.6 14.2C0.6 15.2 1.5 16 2.5 16H9.5C10.5 16 11.4 15.2 11.4 14.2V3.5H0.6V14.2ZM12 1H9.1L8.2 0H3.8L2.9 1H0V2.6H12V1Z" fill="#B9CFEE"/>
                        </svg>
                    </a>
                    <a href="#" class="blue bold">Перейти до обраних</a>
                </div>
            </div>

            <div class="information-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-reports.svg" alt="">
                    <span class="blue bold">Звіти</span>
                </div>
                <div class="center">
                    <p>Відвантаження, взаєморозрахунки, календар оплат тощо.</p>
                </div>
                <div class="bottom-nav">
                    <a href="#" class="blue bold">Переглянути</a>
                </div>
            </div>

            <div class="information-list__item">
                <div class="logo-top">
                    <img src="./img/icon-cabinet/profile-settings.svg" alt="">
                    <span class="blue bold">Налаштування</span>
                </div>
                <div class="center">
                    <p>Змініть свої персональні дані, дані контрагента, адреси доставки, пароль</p>
                </div>
                <div class="bottom-nav">
                    <a href="#" class="blue bold">Редагувати</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="message-cabinet">
    <div class="uk-container">
        <h2 class="blue">Повідомлення</h2>
        <div class="message-wrap">
            <div class="logo-top">
                <img src="./img/icon-cabinet/profile-messages.svg" alt="">
            </div>
            <textarea name="message" id="" class="message-input"></textarea>
        </div>
    </div>
</div>


<!-- modal request-->
<div id="copy-request" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h4 class="uk-modal-title blue">Оберіть варіант копіювання</h4>
        <button class="uk-modal-close uk-modal-close-default" type="button">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" data-svg="close-icon"><line fill="none" stroke="#000" stroke-width="1.1" x1="1" y1="1" x2="13" y2="13"></line><line fill="none" stroke="#000" stroke-width="1.1" x1="13" y1="1" x2="1" y2="13"></line></svg>
        </button>
        <div class="type-list">
            <div class="type-list__item">
                <p>Доповніть кошик товарами з попереднього замовлення.</p>
                <p class="grey">До існуючих товарів у кошику додадуться артикули з замовлення.</p>
                <a href="#" class="link btn btn-green btn-big">Доповнити</a>
            </div>
            <div class="type-list__item">
                <p>Заповніть кошик товарами з попереднього замовлення.</p>
                <p class="grey">Кошик буде очищено. До кошику додадуться артикули з замовлення.</p>
                <a href="#" class="link btn btn-green btn-big">Заповнити</a>
            </div>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}