---
title: Особистий кабінет - Торговельні точки
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><span>Звіти</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <div class="title-page">
            <h2 class="blue">Календар оплат</h2>
            <div class="select-wrap">
                <p class="grey">Додати юридичну особу</p>
                <select class="form-def__select" data-placeholder="Оберіть номер відділення" multiple="multiple">
                    <!-- for placeholder -->
                    <option></option>
                    <!-- end for placeholder -->
                    <option value="1">ТОВ Рога и два копыта</option>
                    <option value="1">ТОВ Рога и четыре копыта</option>
                    <option value="2">ТОВ Рога и два копыта</option>                        
                </select>
               
            </div>           
        </div>
        <!-- th class="active" -->

        <!-- новый див .table-responsive -->
        <div class="table-responsive">

      <!-- новыйкласс для таблицы .full-table -->
        <table class="full-table table uk-table table-sortable" >
            <thead>
              <tr>
                <th >Дата</th>
                <th >Кінцева дата оплати</th>
                <th >Документ</th>
                <th >Договір</th>
                <th >ТТ</th>
                <th >Сума док.</th>
                <th >Сума док.</th>
                <th >Кількість</th>
                <th >Договір</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-order="20/02/2020">30.10.2019</td>
                <td data-order="20/02/2020">06.02.2020</td>
                <td data-order="4654654">Расх. накл. №4654654</td>
                <td data-order="4654654">Договор №4654654</td>
                <td data-order="ТТ Карачуны 256">ТТ Карачуны 256</td>
                <td data-order="2132132132">262500,-</td>
                <td data-order="2132132132">262500,-</td>
                <td data-order="2132132132">25</td>
                <td data-order="фаывпыфвпыв">фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td data-order="20/02/2020">30.10.2019</td>
                <td data-order="20/02/2020">06.02.2020</td>
                <td data-order="4654654">Расх. накл. №4654654</td>
                <td data-order="4654654">Договор №4654654</td>
                <td data-order="АТТ Карачуны 256">АТТ Карачуны 256</td>
                <td data-order="2132132132">262500,-</td>
                <td data-order="2132132132">262500,-</td>
                <td data-order="2132132132">25</td>
                <td data-order="фаывпыфвпыв">фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
              <tr>
                <td >30.10.2019</td>
                <td >06.02.2020</td>
                <td >Расх. накл. №4654654</td>
                <td >Договор №4654654</td>
                <td >ТТ Карачуны 256</td>
                <td >262500,-</td>
                <td >262500,-</td>
                <td >25</td>
                <td >фаывпыфвпыв</td>                
              </tr>
        
              
            </tbody>
          </table>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}