---
title: Особистий кабінет - Торговельні точки
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><a href="">Налаштування</a></li>
            <li><span>Юридичні особи</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <h2 class="blue">Юридичні особи</h2>
        <div class="cabinet-outlets cabinet-entities">
            
           <div class="cabinet-outlets__item">
               
                <div class="two-info text">
                    <p class="name">Длинное название торговой точки</p> 
                    <a href="#" class="edit">        <img src="./img/icon-cabinet/edit.svg" alt="">             </a>
                </div>

                
                <div class="text">
                    <p class="grey">Формат бізнесу</p>  
                    <p>Назва формату бізнесу</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Форма власності</p>  
                    <p>+38 123 45 67 89</p>                                          
                </div>
                <div class="text">
                    <p class="grey">ІПН</p>  
                    <p>46546546435418341341385</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Код ЄДРПОУ</p>  
                    <p>465465465</p>                                          
                </div>
               
           </div>

           <div class="cabinet-outlets__item">
               
            <div class="two-info text">
                <p class="name">Длинное название торговой точки</p> 
                <a href="#" class="edit">        <img src="./img/icon-cabinet/edit.svg" alt="">             </a>
            </div>

            
            <div class="text">
                <p class="grey">Формат бізнесу</p>  
                <p>Назва формату бізнесу</p>                                          
            </div>
            <div class="text">
                <p class="grey">Форма власності</p>  
                <p>+38 123 45 67 89</p>                                          
            </div>
            <div class="text">
                <p class="grey">ІПН</p>  
                <p>46546546435418341341385</p>                                          
            </div>
            <div class="text">
                <p class="grey">Код ЄДРПОУ</p>  
                <p>465465465</p>                                          
            </div>
           
       </div>

       <div class="cabinet-outlets__item">
               
        <div class="two-info text">
            <p class="name">Длинное название торговой точки</p> 
            <a href="#" class="edit">        <img src="./img/icon-cabinet/edit.svg" alt="">             </a>
        </div>

        
        <div class="text">
            <p class="grey">Формат бізнесу</p>  
            <p>Назва формату бізнесу</p>                                          
        </div>
        <div class="text">
            <p class="grey">Форма власності</p>  
            <p>+38 123 45 67 89</p>                                          
        </div>
        <div class="text">
            <p class="grey">ІПН</p>  
            <p>46546546435418341341385</p>                                          
        </div>
        <div class="text">
            <p class="grey">Код ЄДРПОУ</p>  
            <p>465465465</p>                                          
        </div>
       
   </div>       

                   


           

            <!-- Добавить лицо-->
            <div class="cabinet-outlets__item add-info__item">
                <a href="#" class="btn-add">
                    <img src="./img/icon-cabinet/big-plus.svg" alt="">
                    <span class="text">Додати торговельну точку</span>
                </a>
            </div>

            
           
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}