---
title: Особистий кабінет - Торговельні точки
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><a href="">Налаштування</a></li>
            <li><span>Торговельні точки</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <h2 class="blue">Ваші торговельні точки</h2>
        <div class="cabinet-outlets">
            
           <div class="cabinet-outlets__item">
                <div class="text">                     
                    <p class="name">Длинное название торговой точки</p>                                          
                </div>
                <div class="two-info">
                    <div class="text">
                        <p class="grey">Адреса</p>  
                        <p>Магнітогорський провулок, 1-В, 2 поверх</p>                                          
                    </div>
                    <div class="text">
                        <p class="grey">Місто</p>  
                        <p>Херсон</p>                                          
                    </div>
                </div>
                <div class="two-info">
                    <div class="text">
                        <p class="grey">Контактна особа</p>  
                        <p>Константин Константинович Константинопольский</p>                                          
                    </div>
                    <div class="text">
                        <p class="grey">Телефон</p>  
                        <p>+38 123 45 67 89</p>                                          
                    </div>
                </div>
                <div class="text">
                    <p class="grey">Альтернативна адреса</p>  
                    <p>Магнітогорський провулок, 1-В, 2 поверх, Київ, Україна, 02094</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Доставка</p>  
                    <p>Альтернативна адреса</p>                                          
                </div>
                <div class="outlets-settings">
                    <label class="form-def__label">
                        <input type="radio" class="form-def__radio"><span>Встановити за замовчуванням</span>
                    </label>
                    <a href="#" class="edit">
                        <img src="./img/icon-cabinet/edit.svg" alt="">
                    </a>
                </div>
           </div>

           <div class="cabinet-outlets__item">
            <div class="text">                     
                <p class="name">Длинное название торговой точки</p>                                          
            </div>
            <div class="two-info">
                <div class="text">
                    <p class="grey">Адреса</p>  
                    <p>Магнітогорський провулок, 1-В, 2 поверх</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Місто</p>  
                    <p>Херсон</p>                                          
                </div>
            </div>
            <div class="two-info">
                <div class="text">
                    <p class="grey">Контактна особа</p>  
                    <p>Константин Константинович Константинопольский</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Телефон</p>  
                    <p>+38 123 45 67 89</p>                                          
                </div>
            </div>
            <div class="text">
                <p class="grey">Альтернативна адреса</p>  
                <p>-</p>                                          
            </div>
            <div class="text">
                <p class="grey">Доставка</p>  
                <p>Нова Пошта</p>                                          
            </div>
            <div class="outlets-settings">
                <label class="form-def__label ">
                    <input type="radio" class="form-def__radio" checked><span class="green">За замовчуванням</span>
                </label>
                <a href="#" class="edit">
                    <img src="./img/icon-cabinet/edit.svg" alt="">
                </a>
            </div>
       </div>

           


            <!-- Добавить/редактировать пользователя-->
            <div class="cabinet-outlets__item edit-info__item">
               
                <div class="text">
                    <p class="grey">Назва торговельної точки</p>
                    <input type="text" name="name-outlets">
                </div>

                <div class="two-info">
                    <div class="text">
                        <p class="grey">Місто</p>
                        <input type="text" name="city-outlets">
                    </div>
                    <div class="text">
                        <p class="grey">Телефон</p>
                        <input type="text" name="phone-outlets">
                    </div>
                </div>

                <div class="text">
                    <p class="grey">Адреса</p>
                    <input type="text" name="address-outlets">
                </div>

                <div class="text">
                    <p class="grey">Контактна особа</p>
                    <input type="text" name="contact-name-outlets">
                </div>

                <a href="#" class="btn-dashed-green">Додати альтернативну адресу</a>

                <div class="text">
                    <p class="grey">Доставка</p>
                    <select class="form-def__select" data-placeholder="Оберіть службу доставки">
                        <!-- for placeholder -->
                        <option></option>
                        <!-- end for placeholder -->
                        <option value="1">Нова пошта</option>
                        <option value="2">Делівері</option>
                        <option value="3">Інтайм</option>
                    </select>
                </div>

                <div class="text">
                    <p class="grey">№ відділення</p>
                    <select class="form-def__select" data-placeholder="Оберіть номер відділення">
                        <!-- for placeholder -->
                        <option></option>
                        <!-- end for placeholder -->
                        <option value="1">№1</option>
                        <option value="1">№15</option>
                        <option value="2">№50</option>                        
                    </select>
                </div>                

                <div class="two-info">
                    <a href="#" class="remove" uk-tooltip="title: Очистити данні; delay: 300;  cls: uk-active uk-active-orange">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.6 14.2C0.6 15.2 1.5 16 2.5 16H9.5C10.5 16 11.4 15.2 11.4 14.2V3.5H0.6V14.2ZM12 1H9.1L8.2 0H3.8L2.9 1H0V2.6H12V1Z" fill="#B9CFEE"/>
                        </svg>
                    </a>
                    <a href="#" class="btn btn-green btn-small">Зберегти</a>
                </div>
            </div>

            <div class="cabinet-outlets__item edit-info__item new-item hidden" style="display: block;">
                <form method="post" class="sale-form" id="form-999">
    <input type="hidden" name="SalePoints[id]" value="999">
    <div class="text">
        <p class="grey">Назва торговельної точки</p>
        <input type="text" class="cabinet-info editable" name="SalePoints[title]" value="">
    </div>
    <div class="two-info">
        <div class="text">
            <p class="grey">Місто</p>
            <input type="text" class="cabinet-info editable" name="SalePoints[city]" value="">
        </div>
        <div class="text">
            <p class="grey">Телефон</p>
            <input type="text" class="cabinet-info editable" name="SalePoints[phone]" value="">
        </div>
    </div>
    <div class="text">
        <p class="grey">Адреса</p>
        <input type="text" class="cabinet-info editable" name="SalePoints[address]" value="">
    </div>
    <div class="text">
        <p class="grey">Контактна особа</p>
        <input type="text" class="cabinet-info editable" name="SalePoints[contact]" value="">
    </div>
    <div class="text">
        <p class="grey">Альтернативна адреса</p>
        <input type="text" class="cabinet-info editable" name="SalePoints[address_alt]" value="">
    </div>
    <!--                <a href="#" class="btn-dashed-green">Додати альтернативну адресу</a>-->
    <div class="text" id="delivery-type">
        <p class="grey">Доставка</p>
        <select class="form-def__select select2-hidden-accessible" name="SalePoints[delivery_id]" data-placeholder="Оберіть службу доставки" data-select2-id="1" tabindex="-1" aria-hidden="true">
            <!-- for placeholder -->
            <option data-select2-id="3"></option>
            <!-- end for placeholder -->
            <option data-val="1" value="1">самовивіз</option><option data-val="2" value="2">Нова Пошта</option>                        </select>
    </div>
    <div class="text">
        <p class="grey">№ відділення</p>
        <input type="text" class="cabinet-info editable" id="np-number" name="SalePoints[post_office]" required="" value="">
        <!--                    <select class="form-def__select" data-placeholder="Оберіть номер відділення">-->
        <!-- for placeholder -->
        <!--                        <option></option>-->
        <!-- end for placeholder -->
        <!--                        <option value="1">№1</option>-->
        <!--                        <option value="1">№15</option>-->
        <!--                        <option value="2">№50</option>-->
        
    </div>
    <label class="form-def__label ">
        <input type="radio" class="form-def__radio" name="SalePoints[is_default]">
        <span class="green">За замовчуванням</span>
    </label>
    <div class="two-info">
        <a href="http://ukrtoys.dev.ingsot.com/cabinet/salepoint" class="remove" uk-tooltip="title: Очистити данні; delay: 300;  cls: uk-active uk-active-orange" title="" aria-expanded="false">
            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.6 14.2C0.6 15.2 1.5 16 2.5 16H9.5C10.5 16 11.4 15.2 11.4 14.2V3.5H0.6V14.2ZM12 1H9.1L8.2 0H3.8L2.9 1H0V2.6H12V1Z" fill="#B9CFEE"></path>
            </svg>
        </a>
        <button type="submit" class="btn btn-green btn-small">Зберегти<!--
        -->
    </button></div>
</form>
</div>

            <!-- Добавить пользователя-->
            <div class="cabinet-outlets__item add-info__item">
                <a href="#" class="btn-add">
                    <img src="./img/icon-cabinet/big-plus.svg" alt="">
                    <span class="text">Додати торговельну точку</span>
                </a>
            </div>

            
           
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}