---
title: Особистий кабінет - Співробітники
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><a href="">Налаштування</a></li>
            <li><span>Співробітники</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <h2 class="blue">Ваші співробітники</h2>
        <div class="cabinet-employee">
            
            <div class="cabinet-employee__item ">
                <div class="employee-name">
                    <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                    <p class="name">Ім’я По-батькові Прізвище</p>
                </div>
                <div class="text">
                    <p class="grey">Роль</p>  
                    <p>Партнер клієнта</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Статус</p>  
                    <p class="status">Активний</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Email</p>  
                    <p>username@mail.com</p>                                          
                </div>
                <div class="employee-settings">
                    <label class="form-def__label">
                        <input type="checkbox" class="form-def__checkbox"><span>Розсилка</span>
                    </label>
                    <div class="edit">
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3602 4.98766C13.7723 4.98766 13.2953 4.52695 13.2953 3.95823C13.2953 3.80977 13.3282 3.66837 13.3867 3.54112C12.9747 3.32353 12.5022 3.19981 12 3.19981C10.4004 3.19981 9.10343 4.4535 9.10343 5.99981C9.10343 7.54611 10.4004 8.8002 12 8.8002C13.5996 8.8002 14.8965 7.5465 14.8965 6.0002C14.8965 5.62511 14.8197 5.26731 14.6812 4.94014C14.58 4.97077 14.4719 4.98766 14.3602 4.98766Z" fill="#1AB99B"/>
                            <path d="M12.0021 0C5.08498 0 0 6 0 6C0 6 5.08081 12 11.9979 12C18.915 12 24 6 24 6C24 6 18.9192 0 12.0021 0ZM12 10C9.71467 10 7.86207 8.20916 7.86207 6C7.86207 3.79087 9.71467 2 12 2C14.2853 2 16.1379 3.79087 16.1379 6C16.1379 8.20916 14.2853 10 12 10Z" fill="#1AB99B"/>
                        </svg>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="cabinet-employee__item ">
                <div class="employee-name">
                    <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                    <p class="name">Ім’я По-батькові Прізвище</p>
                </div>
                <div class="text">
                    <p class="grey">Роль</p>  
                    <p>Партнер клієнта</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Статус</p>  
                    <p class="status">Активний</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Email</p>  
                    <p>username@mail.com</p>                                          
                </div>
                <div class="employee-settings">
                    <label class="form-def__label">
                        <input type="checkbox" class="form-def__checkbox"><span>Розсилка</span>
                    </label>
                    <div class="edit">
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3602 4.98766C13.7723 4.98766 13.2953 4.52695 13.2953 3.95823C13.2953 3.80977 13.3282 3.66837 13.3867 3.54112C12.9747 3.32353 12.5022 3.19981 12 3.19981C10.4004 3.19981 9.10343 4.4535 9.10343 5.99981C9.10343 7.54611 10.4004 8.8002 12 8.8002C13.5996 8.8002 14.8965 7.5465 14.8965 6.0002C14.8965 5.62511 14.8197 5.26731 14.6812 4.94014C14.58 4.97077 14.4719 4.98766 14.3602 4.98766Z" fill="#1AB99B"/>
                            <path d="M12.0021 0C5.08498 0 0 6 0 6C0 6 5.08081 12 11.9979 12C18.915 12 24 6 24 6C24 6 18.9192 0 12.0021 0ZM12 10C9.71467 10 7.86207 8.20916 7.86207 6C7.86207 3.79087 9.71467 2 12 2C14.2853 2 16.1379 3.79087 16.1379 6C16.1379 8.20916 14.2853 10 12 10Z" fill="#1AB99B"/>
                        </svg>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Заблокированый пользователь-->
            <div class="cabinet-employee__item blocked">
                <div class="employee-name">
                    <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                    <p class="name">Ім’я По-батькові Прізвище</p>
                </div>
                <div class="text">
                    <p class="grey">Роль</p>  
                    <p>Партнер клієнта</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Статус</p>  
                    <p class="status">Заблокований</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Email</p>  
                    <p>username@mail.com</p>                                          
                </div>
                <div class="employee-settings">
                    <label class="form-def__label">
                        <input type="checkbox" class="form-def__checkbox"><span>Розсилка</span>
                    </label>
                    <div class="edit">
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3602 4.98766C13.7723 4.98766 13.2953 4.52695 13.2953 3.95823C13.2953 3.80977 13.3282 3.66837 13.3867 3.54112C12.9747 3.32353 12.5022 3.19981 12 3.19981C10.4004 3.19981 9.10343 4.4535 9.10343 5.99981C9.10343 7.54611 10.4004 8.8002 12 8.8002C13.5996 8.8002 14.8965 7.5465 14.8965 6.0002C14.8965 5.62511 14.8197 5.26731 14.6812 4.94014C14.58 4.97077 14.4719 4.98766 14.3602 4.98766Z" fill="#1AB99B"/>
                            <path d="M12.0021 0C5.08498 0 0 6 0 6C0 6 5.08081 12 11.9979 12C18.915 12 24 6 24 6C24 6 18.9192 0 12.0021 0ZM12 10C9.71467 10 7.86207 8.20916 7.86207 6C7.86207 3.79087 9.71467 2 12 2C14.2853 2 16.1379 3.79087 16.1379 6C16.1379 8.20916 14.2853 10 12 10Z" fill="#1AB99B"/>
                        </svg>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="cabinet-employee__item ">
                <div class="employee-name">
                    <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                    <p class="name">Ім’я По-батькові Прізвище</p>
                </div>
                <div class="text">
                    <p class="grey">Роль</p>  
                    <p>Партнер клієнта</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Статус</p>  
                    <p class="status">Активний</p>                                          
                </div>
                <div class="text">
                    <p class="grey">Email</p>  
                    <p>username@mail.com</p>                                          
                </div>
                <div class="employee-settings">
                    <label class="form-def__label">
                        <input type="checkbox" class="form-def__checkbox"><span>Розсилка</span>
                    </label>
                    <div class="edit">
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.3602 4.98766C13.7723 4.98766 13.2953 4.52695 13.2953 3.95823C13.2953 3.80977 13.3282 3.66837 13.3867 3.54112C12.9747 3.32353 12.5022 3.19981 12 3.19981C10.4004 3.19981 9.10343 4.4535 9.10343 5.99981C9.10343 7.54611 10.4004 8.8002 12 8.8002C13.5996 8.8002 14.8965 7.5465 14.8965 6.0002C14.8965 5.62511 14.8197 5.26731 14.6812 4.94014C14.58 4.97077 14.4719 4.98766 14.3602 4.98766Z" fill="#1AB99B"/>
                            <path d="M12.0021 0C5.08498 0 0 6 0 6C0 6 5.08081 12 11.9979 12C18.915 12 24 6 24 6C24 6 18.9192 0 12.0021 0ZM12 10C9.71467 10 7.86207 8.20916 7.86207 6C7.86207 3.79087 9.71467 2 12 2C14.2853 2 16.1379 3.79087 16.1379 6C16.1379 8.20916 14.2853 10 12 10Z" fill="#1AB99B"/>
                        </svg>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Добавить/редактировать пользователя-->
            <div class="cabinet-employee__item edit-info__item">
                <div class="employee-name">
                    <div class="img-wrap"> <img src="./img/icon-cabinet/photo.svg" alt=""></div>
                    <div class="input-group">
                        <label for="name" class="grey">ПІБ</label>
                        <input type="text" placeholder="Прізвище Ім’я По-батькові">
                    </div>
                </div>

                <div class="text">
                    <p class="grey">Роль</p>
                    <select class="form-def__select" data-placeholder="Оберіть роль">
                        <!-- for placeholder -->
                        <option></option>
                        <!-- end for placeholder -->
                        <option value="1">Партнер клієнта </option>
                        <option value="2">Працівник</option>
                        <option value="3">Інше</option>
                    </select>
                </div>

                <div class="text">
                    <p class="grey">Статус</p>
                    <select class="form-def__select" data-placeholder="Оберіть потрібний варіант">
                        <!-- for placeholder -->
                        <option></option>
                        <!-- end for placeholder -->
                        <option value="1">Активний</option>
                        <option value="2">Заблокований</option>                        
                    </select>
                </div>

                <div class="text">
                    <div class="title-email">
                        <p class="grey">Email</p>
                        <label class="form-def__label">
                            <span class="grey">Розсилка</span><input type="checkbox" class="form-def__checkbox">
                        </label>
                    </div>
                    <input type="mail" name="mail">
                </div>

                <div class="employee-settings">
                    <a href="#" class="remove" uk-tooltip="title: Очистити данні; delay: 300;  cls: uk-active uk-active-orange">
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.6 14.2C0.6 15.2 1.5 16 2.5 16H9.5C10.5 16 11.4 15.2 11.4 14.2V3.5H0.6V14.2ZM12 1H9.1L8.2 0H3.8L2.9 1H0V2.6H12V1Z" fill="#B9CFEE"/>
                        </svg>
                    </a>
                    <a href="#" class="btn btn-green-border btn-small">Зберегти</a>
                </div>
            </div>

            <!-- Добавить пользователя-->
            <div class="cabinet-employee__item add-info__item">
                <a href="#" class="btn-add">
                    <img src="./img/icon-cabinet/big-plus.svg" alt="">
                    <span class="text">Додати співробітника</span>
                </a>
            </div>

            
           
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}