---
title: Особистий кабінет - Налаштування
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><span>Налаштування</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <div class="cabinet-settings">
            <div class="l-section">
                <div class="cart-info">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/settings-personal.svg" alt="">
                            <span class="blue bold">Персональні дані</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="info-user">
                            <div class="img">
                                <img src="" alt="">
                                <span class="title-add">Додайте фото</span>
                                <button class="add-photo"></button>
                            </div>
                            <div class="name">
                                <input type="text" class="cabinet-info" placeholder="Ім’я" disabled>
                                <input type="text" class="cabinet-info" placeholder="По-батькові" disabled>
                                <input type="text" class="cabinet-info" placeholder="Прізвище" disabled>
                            </div>
                        </div>
                        <div class="text">
                            <p class="grey">Веб сайт</p>
                            <input type="text" class="cabinet-info" placeholder="rozetka.ua" disabled>
                        </div>
                        <div class="text">
                            <p class="grey">Електронна пошта</p>
                            <input type="mail" class="cabinet-info" placeholder="name@mail.com" disabled>
                        </div>
                        <div class="text">
                            <p class="grey">Адреса</p>
                            <input type="text" class="cabinet-info" placeholder="Магнітогорський провулок, 1-В, 2 поверх Київ, Україна, 02094" disabled>
                        </div>
                        <div class="text">
                            <p class="grey">Телефон</p>
                            <input type="tel" class="cabinet-info" placeholder="+38 123 45 67 89" disabled>
                        </div>
                        <div class="text">
                            <p class="grey">Пароль</p>
                            <div class="pass-wrap">
                                <input type="password" class="cabinet-info" placeholder="***********" disabled>
                                <img src="./img/icon-cabinet/head-view.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-info client">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/settings-stuff.svg" alt="">
                            <span class="blue bold">Співробітники</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="employee__item">
                        <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                            <div class="text">
                                <p>Ім’я По-батькові Прізвище</p>
                                <p class="grey">Клієнт</p>                        
                            </div>
                        </div>
                        <div class="employee__item">
                            <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                            <div class="text">
                                <p>Ім’я По-батькові Прізвище</p>
                                <p class="grey">Клієнт</p>                        
                            </div>
                        </div>
                        <div class="employee__item">
                            <div class="img-wrap"> </div>
                            <div class="text">
                                <p>Ім’я По-батькові Прізвище</p>
                                <p class="grey">Клієнт</p>                        
                            </div>
                        </div>
                        <div class="employee__item">
                            <div class="img-wrap"> <img src="./img/photo-client.jpg" alt=""></div>
                            <div class="text">
                                <p>Ім’я По-батькові Прізвище</p>
                                <p class="grey">Клієнт</p>                        
                            </div>
                        </div>
                        <div class="employee__item">
                            <div class="img-wrap"> </div>
                            <div class="text">
                                <p>Ім’я По-батькові Прізвище</p>
                                <p class="grey">Телефон</p>                        
                            </div>
                        </div>    
                    
                    </div>
                </div>

                <div class="cart-info client">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/profile-entity.svg" alt="">
                            <span class="blue bold">Юридичні особи</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="text">
                            <input type="text" class="cabinet-info" placeholder="ТОВ Рога и Копыта">                    
                        </div>
                        <div class="text">
                            <input type="text" class="cabinet-info" placeholder="ТОВ Рога и Копыта">    
                        </div>
                        <div class="text">
                            <input type="text" class="cabinet-info" placeholder="ТОВ Рога и Копыта">    
                        </div>
                    </div>
                </div>

            </div>
            <div class="r-section">
                <div class="cart-info">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/settings-business.svg" alt="">
                            <span class="blue bold">Дані контрагента</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="text">
                            <p class="grey">Формат бізнесу</p>
                            <input type="text" class="cabinet-info" placeholder="Назва формату бізнесу">
                        </div>
                        <div class="text">
                            <p class="grey">Форма власності</p>
                            <input type="text" class="cabinet-info" placeholder="Фізична особа підприємець">
                        </div>
                        <div class="text">
                            <p class="grey">ІПН</p>
                            <input type="text" class="cabinet-info" placeholder="132135135135135131">
                        </div>
                        <div class="text">
                            <p class="grey">Код ЄДРПОУ</p>
                            <input type="text" class="cabinet-info" placeholder="4654654">
                        </div>
                    </div>
                </div>
                <div class="cart-info retail-outlets">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/settings-shop.svg" alt="">
                            <span class="blue bold">Торговельні точки</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="text">
                            <div class="default">
                                <p class="name-retail">Назва торговельної точки</p>
                                
                                <img src="./img/icon-cabinet/cabinet-available.svg" alt="" uk-tooltip="title: Адреса за замовчуванням; delay: 300;  cls: uk-active uk-active-green">
                            </div>
                            <p class="address">Магнітогорський провулок, 1-В, 2 поверх, Київ, Україна, 02094</p>
                            <ul class="list">
                                <li><p class="grey">Нова Пошта</p></li>
                                <li><p class="grey">+38 097 123 45 67</p></li>
                                <li><p class="grey">Константинопольский К.К.</p></li>
                            </ul>
                        </div>

                        <div class="text">
                            <p class="name-retail">Назва торговельної точки</p>
                            <p class="address">Магнітогорський провулок, 1-В, 2 поверх, Київ, Україна, 02094</p>
                            <ul class="list">
                                <li><p class="grey">Логічтична компанія</p></li>
                                <li><p class="grey">+38 097 123 45 67</p></li>
                                <li><p class="grey">Константинопольский К.К.</p></li>
                            </ul>
                        </div>

                        <div class="text">
                            <p class="name-retail">Назва торговельної точки</p>
                            <p class="address">Магнітогорський провулок, 1-В, 2 поверх, Київ, Україна, 02094</p>
                            <ul class="list">
                                <li><p class="grey">Нова Пошта</p></li>
                                <li><p class="grey">+38 097 123 45 67</p></li>
                                <li><p class="grey">Константинопольский К.К.</p></li>
                            </ul>
                        </div>               
                    </div>
                </div>

                <div class="cart-info">
                    <div class="title">
                        <div class="name">
                            <img src="./img/icon-cabinet/profile-subscribe.svg" alt="">
                            <span class="blue bold">Налаштування розсилок</span>
                        </div>
                        <a href="#" class="edit">
                            <img src="./img/icon-cabinet/edit.svg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="mail-list">
                            <p class="grey">Сповіщення про статус замовлення</p>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                        </div>
                        <div class="mail-list">
                            <p class="grey">Розсилка новин</p>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                            <label class="form-def__label">
                                <input type="checkbox" class="form-def__checkbox"><span>username@mail.com</span>
                            </label>
                        </div>
                    
                        
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}