---
title: Каталог
cartclear: true
cart2: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header-auth-clear1.html" %}

<div class="breadcrumb">
  <div class="uk-container">
      <ul class="uk-breadcrumb">
          <li><a href="">АТ Груп</a></li>
          <li><span>Очень длинный заголовок в несколько слов</span></li>
      </ul>
  </div>
</div>

<div class="title-basket catalog-title">
  <div class="uk-container">
      <div class="info-top">
          <h2 class="title"> <span>Очень длинный заголовок в несколько слов<sup class="title-count">47853</sup></span> </h2>
          <div class="catalog-nav">
            <a href="" class="catalog-show__filter">
              <span class="show-filter-icon js-show-filter"></span>
            </a>
            <div class="catalog-nav__item">
              <span class="show-more green">Спочатку дешевше {{mixins.icon('arrow')}}</span>
            </div>
            {% include "partials/catalog/_catalog-toggle.html" %}
          </div>
  </div>
</div>

<div class="catalog__wrapper">
  <div class="uk-container">
    <div class="uk-grid-medium js-catalog-grid" >

      <div class="uk-width-1-3 hide-big-tablet">
        {% include "partials/catalog/_filter-desktop.html" %}
      </div>
      <div class="uk-width-expand">
        <div class="product__wrapper uk-grid-medium" uk-grid>
          {% include "partials/catalog/_item-product.html" %}
          <div class="uk-width-1-1"><a href="" class=" product__more btn btn-reverse btn-green">Показати ще 10 товарів {{mixins.icon('arrow-right')}}</a></div>
          <div class="uk-width-1-1">
            {% include "partials/catalog/product/_product-pagination.html" %}
          </div>
          
         
        </div>
      </div>

    </div>
    <div class="uk-grid-medium catalog-article" uk-grid>

      <div class="uk-width-1-3 hide-tablet">
        <div class="catalog-article__img">
          <img src="./img/bg-catalog.png" alt="">
        </div>
      </div>

      <div class="uk-width-expand">
        <div class="catalog-article__body">
          <a href="" class="catalog-article__title">Где лучше купить куклу?</a>
          <div class="catalog-article__descr">
            <p>Выбирая игрушки для детей, нужно отдавать предпочтение только качественным товарам. Если ребенку еще нет 3 лет, проследите чтобы в изделии не было мелких деталей. Обратите внимание на безопасность материала, ведь малыш может потянуть игрушку в рот, захочет взять её в детский сад и даже будет с ней спать. Обязательно руководствуйтесь рекомендациями производителя на какой возраст рассчитано изделие.</p>
            <p>OZZ Toys — крупнейший интернет магазин детских товаров. У нас представлен огромный ассортимент высококачественных игрушек от мировых брендов. Весь товар сертифицирован, не вызывает аллергических реакций и является безопасным для</p>
          </div>
          <a href="" class="catalog-article__button btn btn-reverse btn-green">Більше {{mixins.icon('arrow-right')}}</a>
        </div>
      </div>

    </div>
  </div>
</div>


{% include "partials/_footer-auth.html" %}
{% include "partials/modals/_mob-filter.html" %}

{% endblock %}