---
title: Контакти
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="top-contact-block">
    <div class="uk-container">
        <p class="blue">Шукаєте надійного бізнес-партнера?</p>
        <p class="blue">Ви його знайшли!</p>
        <p class="write-to green">Напишіть нам</p>
        <ul class="soc">
            <li class="soc__item"><a href="#" class="link"><img src="./img/icon/soc/face.svg" alt=""></a></li>
            <li class="soc__item"><a href="#" class="link"><img src="./img/icon/soc/in.svg" alt=""></a></li>
            <li class="soc__item"><a href="#" class="link"><img src="./img/icon/soc/insta.svg" alt=""></a></li>
            <li class="soc__item"><a href="#" class="link"><img src="./img/icon/soc/youtube.svg" alt=""></a></li>
        </ul>
    </div>
</div>  

<div class="address-feedback-block">
    <div class="uk-container">
        <div class="address">
            <div class="info">
                <p class="blue">Адреса</p>
                <a href="#">Магнітогорський провулок, 1-В, 2 поверх Київ, Україна, 02094</a>
            </div>
            <div class="info">
                <p class="blue">Телефон</p>
                <a href="tel:+380445812420">+38 044 581 24 20</a>
            </div>
            <div class="info">
                <p class="blue">Email</p>
                <a href="mailto:secretar@atuatoys.kiev.ua">secretar@atuatoys.kiev.ua</a>
            </div>
            <div class="info">
                <p class="blue">Сервісний центр</p>
                <a href="tel:+380445812420">+38 044 581 24 20</a>
            </div>
        </div>
        <div class="feedback">
            <div class="title-img">
                <img src="./img/icon/contact.svg" alt="">
            </div>
            <div class="title-text">
                <p>Залиште повідомлення і ми якнайшвидше зв’яжемося з вами</p>
            </div>
            <form action="#" class="form-def">
                <div class="form-def__row">
                    <div class="form-def__title">Ваше ім’я</div>
                    <input type="text" class="form-def__input form-def__input--default-color" placeholder="">
                </div>
                <div class="form-def__row">
                    <div class="form-def__title">Ваш email</div>
                    <input type="mail" class="form-def__input form-def__input--default-color" placeholder="">
                </div>
                <div class="form-def__row">
                    <div class="form-def__title">З якої ви компанії</div>
                    <input type="text" class="form-def__input form-def__input--default-color" placeholder="">
                </div>
                <div class="form-def__row">
                    <div class="form-def__title">Ваше повідомлення</div>
                    <textarea class="form-def__input form-def__input--default-color" placeholder=""></textarea>
                </div>
                <div class="form-def__row">
                    <input type="file" name="file" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple >
                   
                    <label for="file"><span>Додати файл</span></label>
                </div>
                <a href="" class="btn btn-blue btn-big ">Відправити</a>
            </form>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}