---
title: Документи
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="top-img-wrap document">
    <img src="./img/top-img.svg" alt="">
    <div class="uk-container">
        <div class="title-page red">Тільки оригінальна<br>сертифікована<br>продукція</div>
    </div>
</div>
   
<div class="tabs-vertical-wrap document-detail-tabs">
    <div class="uk-container">
        <div class="l-section">
            <ul class="tabs-variable">
                <li class="tabs-variable__item">
                    <h3 class="link active" data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link" data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link" data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link" data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link" data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link " data-attr="about-document-1">Бренд</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-2">Назва бренду</h3>
                </li>
                <li class="tabs-variable__item">
                    <h3 class="link"  data-attr="about-document-3">Назва бренду у два рядки</h3>
                </li>
            </ul>
        </div>
        <div class="r-section">            

            <div class="tabs-contant about-document about-document-1">
               
                
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>

                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>

                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>

                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-contant about-document about-document-2" style="display: none;">
                
                
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>               
                </ul>
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>   
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="tabs-contant about-document about-document-3" style="display: none;">

                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>
                   
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover">                            
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                </ul>
               
                <ul class="document-list">
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Висновок санітарно-епідеміологічної експертизи</span>
                        </a>
                    </li>
                    <li class="document-list__item">
                        <a href="#" class="btn-download">
                            <img src="./img/icon/document.svg" alt="" class="not-hover">
                            <img src="./img/icon/document-green.svg" alt="" class="hover"> 
                            <span>Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span>
                        </a>
                    </li>                   
                </ul>
               
            </div>
        </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}