---
title: Обрані товари
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><span>Обрані товари</span></li>
        </ul>
    </div>
</div>

<div class="title-basket">
    <div class="uk-container">
        <div class="info-top">
            <h2 class="title">Обрані товари</h2>
            <ul class="nav-basket">            
                <li class="nav-basket__item">
                    <a href="#" class="remove-basket">
                        <span class="text desk-only">Очистити кошик</span>
                        <span class="text mob-only">Очистити</span>
                        <span class="img-wrap">
                            <img src="img/icon/delete.svg" alt="">
                        </span>
                    </a>
                </li>
                <li class="nav-basket__item">
                    <a href="#" class="add-product">
                        <span class="text desk-only">Додати товари</span>
                        <span class="text mob-only">Додати</span>
                        <span class="plus"></span>
                    </a>
                </li>
                <li class="nav-basket__item desk-only">
                    <a href="#" class="btn btn-middle btn-green-border">Додати обране до кошика</a>
                </li>
            </ul>
        </div>
        <div class="mob-only">
            <a href="#" class="btn btn-middle btn-green-border">Додати обране до кошика</a>
        </div>
    </div>
</div>

<div class="product-basket product-favorite">
    <div class="uk-container">
        <div class="product-basket__item">            
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="product-basket__item">
            <a href="#" class="link-name">
                <img class="img-wrap" src="img/buble.jpg" alt="">
                <span class="name">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span>                
            </a>
            <div class="vendor-code">
                <span>Puppy Balls</span>
                <span>PUPPY -26750</span>
            </div>
            <div class="btn-price">
                <div class="price"><span class="value">109569,</span> - </div>
                <div class="btn-remove">
                    <div class="remove">
                        <a href="#" class="remove"><img src="img/icon/delete.svg" alt=""></a>
                    </div>
                    <a href="#" class="buy"><img src="img/icon/addBasket.svg" alt=""></a>
                </div>
            </div>
        </div>
      
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}