---
title: Мои заказы
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><span>Мої замовлення</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <div class="title-page">
            <h2 class="blue">Мої замовлення</h2>        
        </div>
        <div class="table-responsive">
          <table class="full-table uk-table table-midle table-sortable" >
            <thead>
              <tr>
                <th>№</th>
                <th >Дата</th>
                <th >Сума</th>
                <th >Замовник</th>
                <th class="noborder-th filter-th">
                  <select name="" id="" class="form-def__select" data-placeholder="Усі">
                     <!-- for placeholder -->
                    <option></option>
                    <!-- end for placeholder -->
                    <option value="1">Усі </option>
                    <option value="2">Виконаний </option>
                    <option value="3">Відмінений</option>
                  </select>
                </th>
                <th  class="no-filter center">
                  <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 0L6 0V4H2L8 13L14 4H10V0Z" fill="#fff"/>
                  <path d="M0 16.0001H16V20.0001H0L0 16.0001Z" fill="#fff"/>
                  </svg>
                  </th>

              </tr>
            </thead>
            

            <tbody>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
              <tr class="hover-blue odd" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/1'; return false" data-order="1" data-label="№" class="sorting_1">1</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/1'; return false" data-order="01.01.2020" data-label="Дата"><span class="table-item"><span class="">01.01.2020 </span>
              <span class="tag-color">01:02</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/1'; return false" data-order="72.96" data-label="Сума"><span class="table-item"><span class="">72.96,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/1'; return false" data-order="" data-label="Замовник"></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/1'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue even" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/5'; return false" data-order="5" data-label="№" class="sorting_1">5</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/5'; return false" data-order="04.06.2020" data-label="Дата"><span class="table-item"><span class="">04.06.2020 </span>
              <span class="tag-color">13:23</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/5'; return false" data-order="530.58" data-label="Сума"><span class="table-item"><span class="">530.58,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/5'; return false" data-order="test" data-label="Замовник">test</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/5'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue odd" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/6'; return false" data-order="6" data-label="№" class="sorting_1">6</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/6'; return false" data-order="04.06.2020" data-label="Дата"><span class="table-item"><span class="">04.06.2020 </span>
              <span class="tag-color">16:28</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/6'; return false" data-order="1396.38" data-label="Сума"><span class="table-item"><span class="">1396.38,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/6'; return false" data-order="test" data-label="Замовник">test</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/6'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue even" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/7'; return false" data-order="7" data-label="№" class="sorting_1">7</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/7'; return false" data-order="04.06.2020" data-label="Дата"><span class="table-item"><span class="">04.06.2020 </span>
              <span class="tag-color">16:48</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/7'; return false" data-order="199.80" data-label="Сума"><span class="table-item"><span class="">199.80,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/7'; return false" data-order="test" data-label="Замовник">test</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/7'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue odd" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
              <span class="tag-color">16:44</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue even" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/17'; return false" data-order="17" data-label="№" class="sorting_1">17</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/17'; return false" data-order="19.06.2020" data-label="Дата"><span class="table-item"><span class="">19.06.2020 </span>
              <span class="tag-color">18:11</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/17'; return false" data-order="0.00" data-label="Сума"><span class="table-item"><span class="">0.00,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/17'; return false" data-order="test ts" data-label="Замовник">test ts</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/17'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue odd" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/18'; return false" data-order="18" data-label="№" class="sorting_1">18</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/18'; return false" data-order="21.06.2020" data-label="Дата"><span class="table-item"><span class="">21.06.2020 </span>
              <span class="tag-color">19:10</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/18'; return false" data-order="0.00" data-label="Сума"><span class="table-item"><span class="">0.00,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/18'; return false" data-order="test ts" data-label="Замовник">test ts</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/18'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue even" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/24'; return false" data-order="24" data-label="№" class="sorting_1">24</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/24'; return false" data-order="23.06.2020" data-label="Дата"><span class="table-item"><span class="">23.06.2020 </span>
              <span class="tag-color">11:44</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/24'; return false" data-order="308.78" data-label="Сума"><span class="table-item"><span class="">308.78,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/24'; return false" data-order="Тест" data-label="Замовник">Тест</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/24'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue odd" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/25'; return false" data-order="25" data-label="№" class="sorting_1">25</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/25'; return false" data-order="23.06.2020" data-label="Дата"><span class="table-item"><span class="">23.06.2020 </span>
              <span class="tag-color">11:46</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/25'; return false" data-order="326.34" data-label="Сума"><span class="table-item"><span class="">326.34,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/25'; return false" data-order="test" data-label="Замовник">test</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/25'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr><tr class="hover-blue even" role="row">
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/28'; return false" data-order="28" data-label="№" class="sorting_1">28</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/28'; return false" data-order="24.06.2020" data-label="Дата"><span class="table-item"><span class="">24.06.2020 </span>
              <span class="tag-color">13:51</span></span></td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/28'; return false" data-order="0.00" data-label="Сума"><span class="table-item"><span class="">0.00,- <span class="tag-color">грн</span></span></span></td>
      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/28'; return false" data-order="test" data-label="Замовник">test</td>

      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/28'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

      <td class="table-input-nopad" colspan="2" data-label="Скачать">
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                      <span class="table-link-download ">
                  </span></td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                  </td>
              </tr>
          </tbody></table>
          <table>
              <tbody><tr>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                  </td>
                  <td>
                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                  </td>
              </tr>
          </tbody></table>
      </td>
  </tr>

  <tr class="hover-blue odd" role="row">
    <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

    <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
            <span class="tag-color">16:44</span></span></td>

    <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
    <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

    <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

    <td class="table-input-nopad" colspan="2" data-label="Скачать">
        <table>
            <tbody><tr>
                <td>
                    <a class="btn btn-green btn-reverse disabled">.pdf</a>
                    <span class="table-link-download ">
                </span></td>
                <td>
                    <a class="btn btn-green btn-reverse disabled">.xml</a>
                </td>
            </tr>
        </tbody></table>
        <table>
            <tbody><tr>
                <td>
                    <a class="btn btn-green btn-reverse disabled">Excel</a>
                </td>
                <td>
                    <a class="btn btn-green btn-reverse disabled">.mmo</a>
                </td>
            </tr>
        </tbody></table>
    </td>
</tr>
<tr class="hover-blue odd" role="row">
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
          <span class="tag-color">16:44</span></span></td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

  <td class="table-input-nopad" colspan="2" data-label="Скачать">
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.pdf</a>
                  <span class="table-link-download ">
              </span></td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.xml</a>
              </td>
          </tr>
      </tbody></table>
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">Excel</a>
              </td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.mmo</a>
              </td>
          </tr>
      </tbody></table>
  </td>
</tr>
<tr class="hover-blue odd" role="row">
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
          <span class="tag-color">16:44</span></span></td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

  <td class="table-input-nopad" colspan="2" data-label="Скачать">
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.pdf</a>
                  <span class="table-link-download ">
              </span></td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.xml</a>
              </td>
          </tr>
      </tbody></table>
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">Excel</a>
              </td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.mmo</a>
              </td>
          </tr>
      </tbody></table>
  </td>
</tr>
<tr class="hover-blue odd" role="row">
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
          <span class="tag-color">16:44</span></span></td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

  <td class="table-input-nopad" colspan="2" data-label="Скачать">
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.pdf</a>
                  <span class="table-link-download ">
              </span></td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.xml</a>
              </td>
          </tr>
      </tbody></table>
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">Excel</a>
              </td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.mmo</a>
              </td>
          </tr>
      </tbody></table>
  </td>
</tr>
<tr class="hover-blue odd" role="row">
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
          <span class="tag-color">16:44</span></span></td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

  <td class="table-input-nopad" colspan="2" data-label="Скачать">
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.pdf</a>
                  <span class="table-link-download ">
              </span></td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.xml</a>
              </td>
          </tr>
      </tbody></table>
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">Excel</a>
              </td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.mmo</a>
              </td>
          </tr>
      </tbody></table>
  </td>
</tr>
<tr class="hover-blue odd" role="row">
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
          <span class="tag-color">16:44</span></span></td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

  <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

  <td class="table-input-nopad" colspan="2" data-label="Скачать">
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.pdf</a>
                  <span class="table-link-download ">
              </span></td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.xml</a>
              </td>
          </tr>
      </tbody></table>
      <table>
          <tbody><tr>
              <td>
                  <a class="btn btn-green btn-reverse disabled">Excel</a>
              </td>
              <td>
                  <a class="btn btn-green btn-reverse disabled">.mmo</a>
              </td>
          </tr>
      </tbody></table>
  </td>
</tr>

<tr class="hover-blue odd" role="row">
                        <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

                        <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
                                <span class="tag-color">16:44</span></span></td>

                        <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
                        <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

                        <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

                        <td class="table-input-nopad" colspan="2" data-label="Скачать">
                            <table>
                                <tbody><tr>
                                    <td>
                                        <a class="btn btn-green btn-reverse disabled">.pdf</a>
                                        <span class="table-link-download ">
                                    </span></td>
                                    <td>
                                        <a class="btn btn-green btn-reverse disabled">.xml</a>
                                    </td>
                                </tr>
                            </tbody></table>
                            <table>
                                <tbody><tr>
                                    <td>
                                        <a class="btn btn-green btn-reverse disabled">Excel</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-green btn-reverse disabled">.mmo</a>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr class="hover-blue odd" role="row">
                      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="8" data-label="№" class="sorting_1">8</td>

                      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="11.06.2020" data-label="Дата"><span class="table-item"><span class="">11.06.2020 </span>
                              <span class="tag-color">16:44</span></span></td>

                      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="4639.80" data-label="Сума"><span class="table-item"><span class="">4639.80,- <span class="tag-color">грн</span></span></span></td>
                      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="test ts" data-label="Замовник">test ts</td>

                      <td onclick="window.location.href='http://ukrtoys.dev.ingsot.com/cabinet/order/8'; return false" data-order="1" data-label="Усі"><span class="label label-error">Резерв</span></td>

                      <td class="table-input-nopad" colspan="2" data-label="Скачать">
                          <table>
                              <tbody><tr>
                                  <td>
                                      <a class="btn btn-green btn-reverse disabled">.pdf</a>
                                      <span class="table-link-download ">
                                  </span></td>
                                  <td>
                                      <a class="btn btn-green btn-reverse disabled">.xml</a>
                                  </td>
                              </tr>
                          </tbody></table>
                          <table>
                              <tbody><tr>
                                  <td>
                                      <a class="btn btn-green btn-reverse disabled">Excel</a>
                                  </td>
                                  <td>
                                      <a class="btn btn-green btn-reverse disabled">.mmo</a>
                                  </td>
                              </tr>
                          </tbody></table>
                      </td>
                  </tr>
</tbody>


          </table>
        </div>
        
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}