---
title: Новина
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="news.html">Новини та огляди</a></li>
            <li><span>Заголовок новости или статьи</span></li>
        </ul>
    </div>
  </div>


<div class="news-detail">
    <div class="uk-container">

        <h1 class="blue">Заголовок новости или статьи</h1>        
    </div>

    <div class="img-detail-top">
        <div class="wrap">
            <img src="./img/news/img-detail.jpg" alt="">
        </div>
    </div>

    <div class="news-text">
        <div class="text-wrap">
            <p>Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</p>
            <p>Среди них дракончик, попугай, зебра, жираф и много других. Каждая игрушка спрятана в шарике-сюрпризе.</p>
            <p>Игрушки изготовлены из качественного плюша, мягкого и приятного на ощупь материала.</p>
            <p>У каждой зверюшки забавные большие глазки, которые так полюбили дети. Еще один сюрприз, что каждая игрушка имеет свое настроение.</p>
        </div>
        <img src="./img/news/puppy.jpg" alt="" class="img-full">
        
        <div class="text-wrap">
            <h2 class="blue">H3 IBM Plex Sans Bold 24 px #245796</h2>
            <p>Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</p>
            <p>Среди них дракончик, попугай, зебра, жираф и много других. Каждая игрушка спрятана в шарике-сюрпризе.</p>
            <p>Игрушки изготовлены из качественного плюша, мягкого и приятного на ощупь материала.</p>
            <p>У каждой зверюшки забавные большие глазки, которые так полюбили дети. Еще один сюрприз, что каждая игрушка имеет свое настроение.</p>
        </div>
        <div class="img-text">
            <div class="text">
                <p>Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</p>
                <p>Среди них дракончик, попугай, зебра, жираф и много других. Каждая игрушка спрятана в шарике-сюрпризе.</p>
            </div>
            <div class="img">
                <img src="./img/news/puppy.jpg" alt="">
            </div>
        </div>
        <div class="bottom">
            <a href="#" class="label-stock">Hasbro</a>
            <span class="date">11.02.2020</span>
        </div>
    </div>

</div>






{% include "partials/_footer.html" %}

{% endblock %}