---
title: Новини та огляди
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="news-wrapper uk-width-1-1">
    <div class="uk-container">
        {% include "partials/stocks/_stocks-nav.html" %}
        <div class="uk-width-1-1 news-list">
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/1.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/2.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/1.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/3.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/1.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
            <div class="news-list__item">
                <div class="img-wrap"><img src="img/news/1.jpg" alt=""></div>
                <div class="info-wrap">
                    <div class="date">11.02.2020</div>
                    <a href="#" class="name blue">Заголовок новости или статьи</a>
                    <p class="title">Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...</p>
                    <a href="#" class="read-detail green">Читати далі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-grid-margin uk-first-column">
        {% include "partials/catalog/product/_product-pagination.html" %}
    </div>
</div>






{% include "partials/_footer.html" %}

{% endblock %}