---
title: Заказ
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="">АТ Груп</a></li>
            <li><a href="">Особистий кабінет</a></li>
            <li><span>Замовлення 3546318364365 від 20.20.2020</span></li>
        </ul>
    </div>
</div>

<div class="cabinet-wrap">
    <div class="uk-container">
        <div class="title-page">
            <h2 class="blue">Замовлення 3546318364365 від 20.20.2020</h2>     
            <div class="order-status">
              <div class="text-small txt-color">Статус замовлення:</div>
              <div class="bold green text-small">Новий</div>
            </div>   
        </div>
        <div class="table-responsive">
          <table class="full-table uk-table table-midle" >
            <thead>
              <tr>
                <th class="no-filter" scope="col">№</th>
                <th class="no-filter" scope="col">Артикул</th>
                <th class="no-filter" scope="col">Бренд</th>
                <th class="no-filter" scope="col" style="width: 510px">Назва</th>
                <th class="no-filter" scope="col">Ціна, грн</th>
                <th class="no-filter" scope="col">Кількість, шт</th>
                <th class="no-filter" scope="col">Сума, грн</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(1, 15) -%}
              <tr>
                <td>
                  {% if i > 9 %}
                    {{ i }}
                  {% elseif i == 0 %}
                    0
                  {% else %}
                    0{{ i }}
                  {% endif %}
                </td>
                <td >PUPPY-26750</td>
                <td >Puppy Balls</td>
                <td >
                 
                  {% if i == 2 %}
                  Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте) Машинка в шаре Rapid Monster оранжевая Машинка в шаре Rapid Monster оранжевая Машинка в шаре Rapid Monster оранжевая
                  {% elseif i == 7 %}
                  Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте) Машинка в шаре Rapid Monster оранжевая
                  {% else %}
                  Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)
                  {% endif %}
                  </td>
                <td >350,-</td>
                <td >750</td>
                <td >262500,-</td>
              </tr>
              {%- endfor %}
              
              
              
            </tbody>
          </table>
        </div>
        <div class="order-price-info">
          <div class="order-price-info--item">
            <div class="exsmall-sz tag-color bold">Усього:</div>
            <div > <span class="txt-color bold normal">11250</span> <span class="normal tag-color">шт</span></div>
          </div>
          <div class="order-price-info--item">
            <div class="bold green">11201250,-</div>
            <div class="green">грн</div>
          </div>
        </div>

        <div class="order-info__wrapper">
          <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-1-1">
              <div class="h4 blue">Інформація</div>
            </div>
            <div class="uk-width-1-2@m uk-width-1-1@s">
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Замовник / Платник</div>
                <div class="exsmall-text txt-color">Константин Константинович Константинопольский</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Оплата</div>
                <div class="exsmall-text txt-color">Безготівковий розрахунок</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Місто</div>
                <div class="exsmall-text txt-color">Київ</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Доставка</div>
                <div class="exsmall-text txt-color">Нова Пошта</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Номер відділення</div>
                <div class="exsmall-text txt-color">25</div>
              </div>
            </div>
            <div class="uk-width-1-2@m uk-width-1-1@s">
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Отримувач</div>
                <div class="exsmall-text txt-color">Константин Константинович Константинопольский</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Телефон для зв’язку</div>
                <div class="exsmall-text txt-color">+38 123 45 67 89</div>
              </div>
              <div class="order-info--item">
                <div class="medium blue lsmall-text">Коментар</div>
                <div class="exsmall-text txt-color">На этой же странице доступны для выбора варианты доставки, комментарий, а также указывается наименование грузополучателя и адрес доставки.</div>
              </div>
            </div>
            <div class="uk-width-1-1 order-info-fot">
              <div class="order-info-fot-i">
                <div class="medium blue lsmall-text">До сплати</div>
                <div class="green h3">125262500,-</div>
              </div>
              <div class="order-info-fot-i">
                <div class="exsmall-text txt-color">Роздрукувати</div>
                <a href="" class="btn btn-green btn-reverse btn-small">.pdf</a>
                <a href="" class="btn btn-green btn-reverse btn-small">.xls</a>
                <a href="" class="btn btn-green btn-reverse btn-small">.xml</a>
                <a href="" class="btn btn-green btn-reverse btn-small">.mmo</a>
              </div>
            </div>
          </div>
        </div>
        
    </div>
    <div class="bg-white-default">
      <div class="uk-container">
        <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap uk-flex-column">
          <div class="h4 txt-color text-center">Ваше замовлення успішно оформлене.<br />Незабаром з вами зв’яжеться наш менеджер</div>
        <div class="normal txt-color text-center">Перегляньте усі замовлення в особистому кабінеті.</div>
        <a href="" class="btn btn-green btn-big btn-t30">Мої замовлення</a>
        </div>
        
      </div>
    </div>
</div>


{% include "partials/_footer.html" %}

{% endblock %}