---
title: Детальный товар
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header-auth.html" %}

<div class="breadcrumb">
  <div class="uk-container">
      <ul class="uk-breadcrumb">
          <li><a href="">АТ Груп</a></li>
          <li><span>Очень длинный заголовок в несколько слов</span></li>
      </ul>
  </div>
</div>

<div class="title-basket product-title-wr ">
  <div class="uk-container">
      <div class="info-top">
          <h2 class="title product-title"> <span>Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span> </h2>
          <div class="product-nav">
            <div class="product__brand">Puppy Balls</div>
            <div class="product__sku">Код PUPPY -26750</div>
          </div>
  </div>
</div>

<div class="product__wrapper-det " >

  <div class="uk-container">

    <div class="uk-grid-medium " uk-grid="masonry: true">
      <div class="uk-width-expand uk-width-1-1@m">
        <div class="product__imgs">
          {% include "partials/sliders/_product-detail-slider.html" %}
        </div>
       
      </div>
      <div class="uk-width-1-4@l uk-width-1-1@m">
        <div class="product__infos">
          <div class="product__infos-price">
            <div class="product__infos-price--item">
              <span>Ціна</span>
              <span class="green">212,-</span>
            </div>
            <div class="product__infos-price--item">
              <span>РРЦ</span>
              <span class="txt-color">350,-</span>
            </div>
            <div class="product__infos-price--item">
              <span>Знижка</span>
              <span class="red">120,-</span>
            </div>
            <div class="product__infos-price--item top-bor">
              <span>Сума</span>
              <span class="blue">350,-</span>
            </div>
            <div class="input-group plus-minus-input dftwo">
              <div class="input-group-button">
                <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                  <span class="minus"></span>
                </button>
              </div>
              <input class="input-group-field" type="text" name="quantity" value="0">
              <div class="input-group-button">
                <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                  <span class="plus"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="product__infos-btns">
            <a href="" class="btn-green btn-big btn-w100">Додати у кошик</a>
            <div class="product__infos-btns--avaible no-b-b">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="16" height="16" fill="#8CDCCD"/>
                <path d="M2 8L6 12L14 4" stroke="white" stroke-width="2"/>
                </svg> На складі    
            </div>
          </div>
        </div>
        <div class="product__discounted">
          <div class="product__discounted-ttl"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="16" height="16" fill="#F6A093"/>
            <path d="M4 4L7 0H14L8 4L10 8L6 10L7 14L4 10L7 8L4 4Z" fill="white"/>
            </svg>
             Переглянути уціненний</div>
             <div class="">Пакування втратило презентабельний вигляд, але функціональні властивості та гарантійні зобов’язання збережені. Користуючись даною пропозицією, ви вигідно купуєте якісний товар.</div>
          
        </div>
      </div>
      <div class="uk-width-3-4@l uk-width-1-1@m">
        {% include "partials/_product-detail-tabs.html" %}
       
      </div>
      <div class="uk-width-3-4@l uk-width-1-1@m">
        <div class="product__white uk-flex uk-flex-wrap">
          <div class="h4 txt-color product__sttl">Завантажте повну інформацію про цей артикул</div>
          <a class="btn btn-green btn-reverse product__btn-info">Отримати дані</a>
          <a class="btn btn-green btn-reverse product__btn-info">Отримати фотографії</a>
        </div>
      </div>
    </div>

  </div>

  <div class="bg-white-default">
    <div class="uk-container">
      <div class="product-sttl-small">Також перегляньте</div>
      <div class="uk-grid-medium" uk-grid>
        {% for i in range(0, 3) -%}
          <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s  js-product-grid ">
            <div class="product__item product-grid2 no-auth-pr">
              <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>

              <!-- begin .product__img js-product-sliders -->
              <div class="product__img js-product-sliders">
            
                <div class="swiper-container js-big-product-slider">
            
                  <div class="swiper-wrapper">
                    {% for i in range(0, 8) -%}
                    <div class="swiper-slide product__slide-big">
                      <img src="./img/slider-product/img.png" alt="Alt text" />
                    </div>
                    {%- endfor %}
                  </div>
            
                </div>
            
                <div class="swiper-container js-small-product-slider">
            
                  <div class="swiper-wrapper">
                    {% for i in range(0, 8) -%}
                    <div class="swiper-slide product__slide-small">
                      <img src="./img/slider-product/img.png" alt="Alt text" />
                    </div>
                    {%- endfor %}
                  </div>
            
                  <div class="swiper-scrollbar"></div>
            
                </div>

                <div class="product__item-grid3">
                  <div class="product__brand">Puppy Balls</div>
                  <div class="product__sku">PUPPY -26750_56512</div>
                </div>

            
              </div>
              <!-- end /.product__img js-product-sliders --> 
              <div class="product__side">
                <!-- begin .product-head -->
                <div class="product__head">
            
                  <div class="product__brand">Puppy Balls</div>
                  <div class="product__sku">PUPPY -26750_56512</div>
            
                
            
                </div>
                <!-- end .product-head -->
            
                <!-- begin .product__title -->
                <div class="product__title">
                  <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
                </div>
                <!-- end .product__title -->
            
                <!-- begin .product__descr -->
                <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
                <!-- end .product__title -->
            
                
            
                <!-- begin .product__buy -->
            
                <div class="product__buy">
            
                  
            
                  <div class="product__buy-price">350000,-</div>
            
                  <a class="product__buy-action">
            
                    {{mixins.icon('catalog-info')}}
                  </a>
                  
                </div>
            
                <!-- end .product__buy -->
              </div>
            </div>
          </div>

          {%- endfor %}

        
<div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s  js-product-grid" style="dispaly: none !important">
  <div class="product__item product-grid2 ">
    <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>

    <!-- begin .product__img js-product-sliders -->
    <div class="product__img js-product-sliders">
  
      <div class="swiper-container js-big-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-big">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
      </div>
  
      <div class="swiper-container js-small-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-small">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
        <div class="swiper-scrollbar"></div>
  
      </div>

      <div class="product__item-grid3">
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
      </div>

  
    </div>
    <!-- end /.product__img js-product-sliders --> 
    <div class="product__side">
      <!-- begin .product-head -->
      <div class="product__head">
  
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
  
        <div class="product__states">
          {% include "partials/catalog/product/_product-states.html" %}
        </div>
  
      </div>
      <!-- end .product-head -->
  
      <!-- begin .product__title -->
      <div class="product__title">
        <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
      </div>
      <!-- end .product__title -->
  
      <!-- begin .product__descr -->
      <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
      <!-- end .product__title -->
  
      <!-- begin .product__info -->
      <div class="product__info">
        {% include "partials/catalog/product/_product-info.html" %}
      </div>
      <!-- end .product__info -->
  
      <!-- begin .product__buy -->
  
      <div class="product__buy">
  
        <div class="input-group plus-minus-input dftwo">
          <div class="input-group-button">
          <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
              <span class="minus"></span>
          </button>
          </div>
          <input class="input-group-field" type="text" name="quantity" value="0">
          <div class="input-group-button">
          <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
              <span class="plus"></span>
          </button>
          </div>
        </div>
  
        <div class="product__buy-type">
          + уп
        </div>
  
        <div class="product__buy-price">350000,-</div>
  
        <a class="product__buy-action">
  
          {{mixins.icon('catalog-cart')}}
        </a>
        
      </div>
  
      <!-- end .product__buy -->
    </div>
  </div>
</div>

      </div>
    </div>
 

  </div>
  

</div>

{% include "partials/_footer.html" %}

{% endblock %}