---
title: Детальный товар
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header-auth.html" %}

<div class="breadcrumb">
  <div class="uk-container">
      <ul class="uk-breadcrumb">
          <li><a href="">АТ Груп</a></li>
          <li><span>Очень длинный заголовок в несколько слов</span></li>
      </ul>
  </div>
</div>

<div class="title-basket product-title-wr">
  <div class="uk-container">
      <div class="info-top">
          <h2 class="title product-title"> <span>Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</span> </h2>
          <div class="product-nav">
            <div class="product__brand">Puppy Balls</div>
            <div class="product__sku">Код PUPPY -26750</div>
          </div>
  </div>
</div>

<div class="product__wrapper-det " >

  <div class="uk-container">

    <div class="uk-grid-medium"  uk-grid="masonry: true">
      <div class="uk-width-expand@l uk-width-1-1@m">
        <div class="product__imgs">
          {% include "partials/sliders/_product-detail-slider.html" %}
        </div>
      </div>
      <div class="uk-width-1-4@l uk-width-1-1@m">
        {% include "partials/_product-detail-info.html" %}
      </div>
      <div class="uk-width-3-4@l uk-width-1-1@m">
        {% include "partials/_product-detail-trading-offers.html" %}
      
      </div>
      <div class="uk-width-3-4@l uk-width-1-1@m">
        {% include "partials/_product-detail-tabs.html" %}
      </div>
      <div class="uk-width-3-4@l uk-width-1-1@m">
        <div class="product__white uk-flex uk-flex-wrap">
          <div class="h4 txt-color product__sttl">Завантажте повну інформацію про цей артикул</div>
          <a class="btn btn-green btn-reverse product__btn-info">Отримати дані</a>
          <a class="btn btn-green btn-reverse product__btn-info">Отримати фотографії</a>
        </div>
        
      </div>
    </div>

  </div>

  <div class="bg-white-default">
    <div class="uk-container">
      <div class="product-sttl-small">Також перегляньте</div>
      <!-- убираем класс и атрибут uk-grid -->
      <div class="uk-position-relative">
        <!-- добавляем разметку для слайдера -->
        <div class="swiper-container js-slider-add-products see-alo-prod">
          <div class="swiper-wrapper">

            {% for i in range(0, 3) -%}
            <div class="swiper-slide">
              <div class="js-product-grid ">
                <div class="product__item product-grid2 no-auth-pr">
                  <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>

                  <!-- begin .product__img js-product-sliders -->
                  <div class="product__img js-product-sliders">
                
                    <div class="swiper-container js-big-product-slider">
                
                      <div class="swiper-wrapper">
                        {% for i in range(0, 8) -%}
                        <div class="swiper-slide product__slide-big">
                          <img src="./img/slider-product/img.png" alt="Alt text" />
                        </div>
                        {%- endfor %}
                      </div>
                
                    </div>
                
                    <div class="swiper-container js-small-product-slider">
                
                      <div class="swiper-wrapper">
                        {% for i in range(0, 8) -%}
                        <div class="swiper-slide product__slide-small">
                          <img src="./img/slider-product/img.png" alt="Alt text" />
                        </div>
                        {%- endfor %}
                      </div>
                
                      <div class="swiper-scrollbar"></div>
                
                    </div>

                    <div class="product__item-grid3">
                      <div class="product__brand">Puppy Balls</div>
                      <div class="product__sku">PUPPY -26750_56512</div>
                    </div>

                
                  </div>
                  <!-- end /.product__img js-product-sliders --> 
                  <div class="product__side">
                    <!-- begin .product-head -->
                    <div class="product__head">
                
                      <div class="product__brand">Puppy Balls</div>
                      <div class="product__sku">PUPPY -26750_56512</div>
                
                    
                
                    </div>
                    <!-- end .product-head -->
                
                    <!-- begin .product__title -->
                    <div class="product__title">
                      <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
                    </div>
                    <!-- end .product__title -->
                
                    <!-- begin .product__descr -->
                    <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
                    <!-- end .product__title -->
                
                    
                
                    <!-- begin .product__buy -->
                
                    <div class="product__buy">
                
                      
                
                      <div class="product__buy-price">350000,-</div>
                
                      <a class="product__buy-action">
                
                        {{mixins.icon('catalog-info')}}
                      </a>
                      
                    </div>
                
                    <!-- end .product__buy -->
                  </div>
                </div>
              </div>
            </div>
          {%- endfor %}

          </div>

         

        </div>

        <div class="more-product-arrows">

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev js-slider-add-products-prev">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 8L12 13L12 3L4 8Z" fill="#1AB99B"></path>
            </svg>
          </div>
          <div class="swiper-button-next js-slider-add-products-next">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 8L4 3L4 13L12 8Z" fill="#1AB99B"></path>
            </svg>
          </div>

        </div>

            
        

      </div>
    </div>
 

  </div>
  

</div>

{% include "partials/_footer.html" %}

{% endblock %}