---
title: Акції
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="stocks-wrapper uk-width-1-1">
    <div class="uk-container">
        {% include "partials/stocks/_stocks-nav.html" %}
        <div class="uk-width-1-1">
            {% include "partials/stocks/_stocks-item.html" %}
          </div>
    </div>
    <div class="uk-width-1-1 uk-grid-margin uk-first-column">
        {% include "partials/catalog/product/_product-pagination.html" %}
    </div>
</div>






{% include "partials/_footer.html" %}

{% endblock %}