---
title: Акція
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<div class="breadcrumb">
    <div class="uk-container">
        <ul class="uk-breadcrumb">
            <li><a href="stocks.html">Акції</a></li>
            <li><span>Знижка на товари Lego</span></li>
        </ul>
    </div>
  </div>

<div class="stock-wrapper-in uk-width-1-1">
    <div class="uk-container">
        <div class="img-stock-in">
            <img src="./img/lego-img-big.jpg" alt="">
        </div>
        <div class="info-wrap">
            <div class="name-stock blue">Назва акції, слоган</div>
            <p>P IBM Plex Sans Regular 18px #2F363F</p>
            <p>Звертаючись до нашого сервісного центру, ви можете бути впевненими в тому, що ваш товар буде прийнято швидко і ми надамо повний та якісний комплекс усіх необхідних послуг для усунення недоліків продукції.</p>
            <div class="link-wrap">
                <div class="date item">Акція діє з <span class="blue">01.03.2020 до 31.03.2020</span></div>
                <a href="#" class="view-product btn-green btn-big item">Переглянути акційні товари</a>
            </div>
            <a href="#" class="label-stock">Hasbro</a>
        </div>
    </div>
   
</div>






{% include "partials/_footer.html" %}

{% endblock %}