.mob-only
  display: none
  +r($tablet-sm)
    display: block
.desk-only
  display: block
  +r($tablet-sm)
    display: none



.title-basket
  width: 100%
  margin-top: 10px
  .uk-container
    .info-top
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 35px
      +r($mob-lg) 
        flex-direction: column
        align-items: flex-start
        margin-bottom: 20px
    .btn-green-border     
     
      +r($tablet-sm)
        width: 100%
        margin-bottom: 35px
      +r($mob-lg)
        margin-bottom: 20px
    .title      
      color: $blue
      font-size: 30px
      display: flex
      
      +r($tablet-sm)
        font-size: 24px
      
    
    .nav-basket
      flex: 1
      display: flex
      justify-content: flex-end
      align-items: center
      margin-bottom: 0
      +r($tablet-sm)
        width: 100%
        justify-content: flex-end
        margin-top: 10px
      +r($mob-lg)
        justify-content: space-between        
      &__item
        margin-right: 25px
        +r($mob-lg)
          margin-right: 0
        &:last-child
          margin-right: 0   
        .form-def__label
          display: flex
          justify-content: flex-start
          align-items: center         
        span,
        a
          line-height: 1
          font-size: 16px
          +ibm 
          color: $tag
          &:hover
            text-decoration: none
        a
          display: flex
          align-items: center        
        .text
          margin-right: 5px
          display: inline-block
          &.mob-only
            display: none
            +r($tablet-sm)
              display: block
          &.desk-only
            display: block
            +r($tablet-sm)
              display: none
        .btn-green-border
          color: $green
          padding-top: 10px
          padding-bottom: 10px
          +ibm-bold
          &:hover
            color: $white
          +r($tablet-sm)
            width: 100%
        .form-def__checkbox
          width: 24px
          height: 24px
          box-sizing: border-box
          border-color: $white
          &:checked
            border-color: $white  
            background: url(../img/icon/check.svg) $white no-repeat center

        .img-wrap
          width: 24px
          height: 24px
          display: inline-flex
          align-items: center
          justify-content: center
          text-align: center
          background: $white
    .add-product       
      +r($tablet-sm)
        width: 100%
        display: block
        margin-bottom: 15px  
        text-align: center
      .text
        color: $green
        +r($mob-sm)
          margin-top: -5px
      .plus
        position: relative
        background: $green-light
        width: 24px
        height: 24px
        display: inline-block
        &:before,
        &:after
          content: ''
          position: absolute
          width: 16px
          height: 2px
          background: $white
        &:before
          top: calc(50% - 2px)
          left: 4px
        &:after
          transform: rotate(90deg)
          left: calc(22% - 1px)
          top: 10px
        +r($tablet-sm)
          margin-bottom: -5px;
              
.product-basket
  width: 100%
  &__item
    width: 100%
    background: $white
    padding: 10px 35px 10px 10px
    margin-bottom: 2px
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    +r($tablet-sm)
      position: relative
      flex-direction: column
      max-height: inherit
      align-items: flex-start
      padding-right: 10px
    +r($mob-lg)
      flex-direction: column
      max-height: inherit
      align-items: flex-start
    .link-name
      display: flex
      justify-content: flex-start
      align-items: center      
      &:hover
        text-decoration: none
      +r($tablet-sm)
        align-items: flex-start     
        width: 100%
        margin-bottom: 10px  
      +r($mob-lg)        
        width: 100%
        margin-bottom: 0px  
      .img-wrap
        width: 60px
        height: 60px      
        margin-right: 10px
        object-fit: cover
        img
          width: 100%
        +r($mob-lg)
          display: none
      .name
        width: 370px
        margin-right: 30px
        font-size: 16px
        color: $txt
        line-height: 1.5
        +r($mob-lg)
          color: $blue
          width: 100%
          margin-right: 0
        &:hover
          text-decoration: none
        +r($tablet-sm)
          line-height: 1.2
    .vendor-code
      width: 170px
      display: flex
      flex-direction: column
      +r($desktop-sm) 
        width: 140px    
      +r($tablet-sm)
        width: 100%
        flex-direction: row
        justify-content: space-between 
      +r($mob-lg)
        position: relative
        width: 100%
        justify-content: space-between
        left: 0
        margin-top: 10px
        margin-bottom: 15px
      span
        font-size: 12px
        line-height: 1.3
        margin-bottom: 10px       

        &:last-child
          margin-bottom: 0
        
    .price
      width: 100px
      +ibm-bold
      font-size: 14px
      color: $blue
      +r($mob-sm)
        text-align: center
    .buy
      display: flex
      justify-content: center
      align-items: center
      width: 80px
      background: $green
    .input-group
      width: auto
      margin-right: 30px
      display: flex
      justify-content: space-between
      align-items: center
      border: 1px solid $light      
      +r($mob-sm)
        margin-right: 0

      &.plus-minus-input     
        .input-group-field 
          text-align: center			    
          background: transparent
          border: 0
          width: 70px
          padding-left: 0
          padding-right: 0
          +ibm-bold
          font-size: 14px
          color: $blue
          +r($desktop-sm)
            

        .input-group-button 
          .minus
            width: 10px
            height: 2px
            background: $tag
          
          .plus
            width: 10px
            height: 2px
            background: $tag
            position: relative
            &:before
              content: ''
              position: absolute
              left: calc(50% - 5px)
              top: 0
              width: 10px
              height: 2px
              background: $tag
              transform: rotate(90deg)     
          
          .circle 
            border-radius: 0px
            background: transparent
            font-size: 13px
            color: $tag
            width: 40px
            height: 30px
            display: -webkit-flex
            display: -moz-flex
            display: -ms-flex
            display: -o-flex
            display: flex
            justify-content: center
            align-items: center
            outline: 0
            cursor: pointer 
    .total-summ
      width: 100px
      +ibm-bold
      font-size: 16px
      color: $green
      +r($mob-sm)
        text-align: center
    .btn-price
      display: flex
      justify-content: flex-end
      align-items: center
      +r($tablet-sm)
        width: 100%
        justify-content: space-between
      +r($mob-lg)
        width: 100%
        justify-content: space-between
      +r($mob-sm)
        flex-direction: column

    .btn-remove
      display: flex
      justify-content: flex-end
      align-items: center
  &.product-favorite
    margin-bottom: 100px
    +r($mob-lg)
      margin-bottom: 30px
    .product-basket__item
      max-height: 80px
      padding-right: 10px
      +r($tablet-sm)
        flex-direction: row
      +r($mob-lg)
        flex-direction: column
        max-height: inherit
      .name
        width: 390px
        +r($mob-lg)
          width: 100%
          margin-right: 0
      .price
        width: 170px
        +r($desktop-sm)
          width: 100px
      .buy
        height: 80px
        margin-top: -10px
        margin-bottom: -10px
        margin-right: -11px
        +r($mob-lg)
          width: 24px
          height: 24px  
          margin-top: 0
          margin-right: 0
          margin-bottom: 0      
        &:hover
          background: $green-dark
        img
          +r($mob-lg)
            width: 14px
      .vendor-code
        flex-direction: row
        width: auto
        +r($tablet-sm)
          width: auto
          position: absolute
          bottom: 0px
          left: 82px
          flex-direction: row
        +r($mob-lg)
          width: 100% 
          position: relative
          left: 0
        span
          margin-right: 100px
          margin-bottom: 0
          +r($mob-lg)
            margin-right: 0
          &:last-child
            margin-right: 0
      .remove
        margin-right: 20px
      .btn-price
        +r($mob-sm)
          flex-direction: row
        
.information-basket
  width: 100%
  margin-top: 25px
  margin-bottom: 100px
  .wrap
    padding: 60px    
    background: #fff
    +r($tablet-sm)
      padding: 25px
    +r($mob-lg)
      padding: 15px
    .title-block
      color: $blue
      font-size: 20px
      +ibm-bold
      margin-bottom: 15px
    .form-inf__title
      font-size: 14px
      color: $txt
      font-weight: 500
      +ibm-medium 
    .row
      display: flex
      justify-content: space-between
      align-items: stretch
      border-bottom: 1px solid #B9CFEE
      padding-bottom: 30px
      margin-bottom: 20px
      +r($mob-lg)
        flex-direction: column
      &:last-child
        border-bottom: 0
        padding-bottom: 0
        margin-bottom: 0
      .form-inf
        flex: 1
        max-width: 48%
        +r($mob-lg)
          width: 100%
          max-width: 100%
        &.alternative
          opacity: 1
          visibility: visible
          &.hide
            opacity: 0      
            visibility: hidden   
            +r($mob-lg)
              display: none
        &.order
          max-width: 370px
          text-align: center
          padding-right: 50px
          +r($tablet-sm)
            padding-right: 0
            margin-left: 30px
          +r($mob-lg)
            margin-left: 0
            max-width: 100%
          .btn-big            
            width: 100%
          .btn-add-product
            color: $green
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04)
            text-align: center
            font-size: 20px
            display: block
            width: 100%
            margin-bottom: 30px
            margin-top: 10px
            line-height: 40px
        .tooltip
          display: inline-block
          padding: 0px 12px
          background: $bg-page
          color: $blue
          +ibm-bold
          margin-left: 12px
          cursor: pointer
        .list-address
          &__item
            margin-bottom: 10px 
            color: $txt
            .link
              margin-top: 20px
              display: block
              font-weight: 500   
            p
              +r($tablet-sm)
                font-size: 16px
        .list-result
          
          
          &__item
            margin-bottom: 30px
            display: flex
            justify-content: space-between
            align-items: start
      .np-wrap
        display: flex
        justify-content: flex-start
        align-items: start
        &.hide
          display: none
        img
          margin-top: 6px
          margin-right: 15px
        .list
             
          display: flex
          justify-content: flex-start
          align-items: start      
          &__item
            margin-bottom: 25px
            margin-right: 25px 
            &:last-child
              margin-right: 0
      .pickup
        margin-bottom: 15px
      .r-select
        .form-inf__title
          margin-top: 15px
          &:first-child
            margin-top: 0px
        input[type=tel],
        input[type=text]
          border-bottom: 1px solid $blue;
          padding: 10px
          font-size: 16px
          color: $txt
          width: 100%
          box-sizing: border-box
      &.comment-option
        textarea
          width: 100%
          resize: vertical
          background: url(../img/icon/textare.svg) no-repeat bottom right $bg-page
        


                     
                 
             
         
     
 