.brands-city
  width: 100%
  box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423);
  margin: 70px 20px 20px
  background: $white
  padding-top: 60px
  padding-bottom: 60px
  +r($tablet-sm)
    padding-top: 30px
    padding-bottom: 30px
  h2
    color: $blue
    font-size: 24px
    +ibm-bold
  .list-city
    margin-top: 30px
    +r($tablet-sm)
    display: flex
    justify-content: flex-start
    +r($mob-lg)
        flex-wrap: wrap
        justify-content: flex-start

    .list-city__item
      display: inline-block
      margin-right: 50px
      +r($tablet-sm)
        margin-right: 15px


                

.brands-content
    width: 100%
    margin-bottom: 100px
    +r($tablet-sm)
        margin-bottom: 30px
    h1
        font-size: 90px
        +ibm-bold
        color: $light
        +r($desktop-sm) 
            font-size: 50px
        +r($mob-lg)
            font-size: 30px 
    .brands-title
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 5px
        +r($desktop-sm) 
            margin-top: 15px
            margin-bottom: 15px

    .brands-list
        display: flex
        justify-content: flex-start
        align-items: stretch
        flex-wrap: wrap
        margin-right: -15px
        margin-left: -15px
        +r($mob-lg)
            margin-left: 0
            margin-right: 0  
            justify-content: space-between     
        .brands-list__item          
            margin: 0 15px 30px
            position: relative
            box-sizing: border-box            
            .brands-item__img
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                z-index: 2
                img
                    height: 100%
                    object-fit: cover

            .brands-item__link
                transition: all .28s ease
                width: 100%
                height: 100%
                background: $white
                padding: 20px
                display: flex
                flex-direction: column
                justify-content: space-between
                position: relative
                z-index: 10
                align-items: flex-start

        &.cube
            .brands-list__item
                width: 24%
                max-width: 270px
                height: 270px  
                +r($desktop-sm)                
                    width: 21.98%    
                    height: 220px  
                +r($tablet-sm)
                    width: 29%     
                +r($mob-lg)
                    width: 48%
                    margin-left: 0
                    margin-right: 0  
                +r($mob-sm)
                    width: 100%
                    max-width: inherit
                &:hover
                    .brands-item__link
                        background: transparent
                        transition: all .28s ease
                        .logo
                            display: none
                        .name
                            display: none                    
               
                .brands-item__link
                    transition: all .28s ease
                    width: 100%
                    height: 100%
                    background: $white
                    padding: 20px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    position: relative
                    z-index: 10
                    align-items: flex-start
                    .name
                        font-size: 18px
                        color: $blue
                        +ibm-bold
        &.line
            .brands-list__item
                width: 33%
                max-width: 370px
                +r($desktop-sm)
                    width: 30.3%
                +r($tablet-sm)
                    width: 29%
                +r($mob-lg)
                    width: 48%
                    margin-left: 0
                    margin-right: 0  
                +r($mob-sm)
                    width: 100%
                    max-width: inherit
                &:hover
                    .brands-item__link
                        text-decoration: none
                        .name
                            color: $blue
                .brands-item__link
                    .name
                        font-size: 16px
                        color: $txt
                    .logo
                        display: none
