.top-img-wrap
    width: 100%
    margin: 0 20px 120px
    height: 300px
    background: $light2
    position: relative
    +r($desktop-lg)
        margin-bottom: 80px
    +r($desktop-sm)
        margin-top: 25px
        margin-bottom: 60px
        margin-left: 0
        margin-right: 0
        height: 400px
    img
        width: 100%
        height: 100%
        object-fit: contain
    &.document
        img
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
        .uk-container
            height: 100%
            position: relative
            .title-page
                height: 100%
                display: flex
                justify-content: flex-start
                align-items: flex-end
                font-size: 60px
                margin-top: 16px
                +ibm-bold
                line-height: 1.3
                +r($tablet-sm)
                    font-size: 40px
                    margin-top: 10px
                +r($mob-exlg)


