.order-method
    width: 100%
    background: $white
    margin: 20px 0px 60px
    padding-top: 30px
    padding-bottom: 60px
    +r($mob-lg)
        padding-bottom: 30px
    h2
        +r($desktop-sm)
            font-size: 24px
    .method-list
        margin-top: 30px
        display: flex
        justify-content: space-between
        align-items: stretch
        +r(1100)
            flex-direction: column
        &__item
            flex: 1
            border: 1px solid $green-light
            box-sizing: border-box
            box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
            +r(1100)
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            &:nth-of-type(2)
                margin-left: 30px
                margin-right: 30px
                +r(1100)
                    margin-left: 0
                    margin-right: 0
            .logo-top
                border-bottom: 1px solid $green-light
                height: 60px
            .body-bottom
                padding: 30px
                +r($mob-lg)
                    padding: 20px
                p
                    color: $txt
                    margin-bottom: 60px
                .btn
                    width: 100%
                

#copy-request
    z-index: 1150
    .uk-modal-dialog
        width: 870px
        box-sizing: border-box
        +r($desktop-sm)
            width: 90%
        .uk-modal-close
            background: transparent
        h4
            font-size: 20px
            margin-bottom: 30px
        .type-list
            display: flex
            justify-content: space-between
            align-items: stretch
            +r($desktop-sm)
                flex-direction: column
            &__item
                width: 50%
                +r($desktop-sm)
                    width: 100%
                    margin-bottom: 20px

                .grey
                    font-size: 16px
                    margin-top: 10px
                    margin-bottom: 25px
                &:first-child
                    padding-right: 35px
                    margin-right: 35px
                    border-right: 1px solid $green-light
                    +r($desktop-sm)
                        padding-right: 0
                        margin-right: 0
                        border-right: 0
                        padding-bottom: 15px
                        border-bottom: 1px solid $green-light
                .btn
                    width: 100%

.general-information
    width: 100%
    h2
        +r($desktop-sm)
            font-size: 24px
    a
        &:hover
            text-decoration: none

    .general-information-list
        display: flex
        justify-content: space-between
        align-items: stretch
        flex-wrap: wrap
        margin-top: 30px
        .information-list__item
            width: 49%
            background: $white
            margin-bottom: 30px
            +r($mob-lg)
                width: 100%
            .logo-top
                display: flex
                justify-content: flex-start
                align-items: center
                border-bottom: 1px solid  #AAC4EA
                height: 60px
                img
                    margin-right: 5px
                span
                    font-size: 20px
            .center
                padding: 13px 20px 
                margin-bottom: 45px
                min-height: 160px
                +r($mob-lg)
                    min-height: inherit
            .list-info
                p
                    color: $txt
                &__item
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-bottom: 15px
                    .name
                        color: $txt
                    .value
                        font-size: 20px
            .bottom-nav
                padding: 13px 20px
                position: relative
                text-align: right
                a
                    display: inline-block
                    &.remove
                        position: absolute
                        line-height: 1
                        left: 20px
                        bottom: 15px
                        &:hover
                            svg, path
                                fill: #F6A093
                                transition: fill 0.3s easy
.message-cabinet
    width: 100%
    margin-top: 30px
    margin-bottom: 100px
    h2
        margin-bottom: 30px       
        +r($desktop-sm)
            font-size: 24px
    .message-wrap
        background: $white
        .logo-top
            border-bottom: 1px solid  #AAC4EA
        .message-input
            width: 100%
            border: 0
            height: 500px
            resize: none
            box-sizing: border-box
            padding: 20px
            font-size: 18px
            +ibm-medium    
            color: $txt
            +r($mob-lg)
                height: 250px

.cabinet-wrap
    width: 100%
    margin-top: 30px
    margin-bottom: 100px
    +r($desktop-sm)
        margin-bottom: 40px
    .cart-info
        background: $white
        margin-bottom: 30px
        
        .title
            display: flex
            justify-content: space-between
            align-items: center
            padding-right: 10px
            border-bottom: 1px solid  #AAC4EA
            .name
                display: flex
                justify-content: flex-start
                align-items: center
            .edit
                line-height: 1
        p
            font-size: 18px
            color: $txt      
        .grey
            font-size: 16px
            color: #838494
        .text
            margin-bottom: 10px
        .cabinet-info
            width: 100%
        input
            font-size: 18px
            color: $txt
            &::placeholder
                color: $txt
            &:disabled
                background: transparent
        .form-def__label
            font-size: 18px
            color: $txt
        
        .info
            padding: 20px 30px
            .info-user
                display: flex
                justify-content: flex-start
                align-items: center
                margin-bottom: 15px
                +r($mob-md)
                    flex-direction: column 
                .img
                    min-width: 170px
                    min-height: 170px
                    position: relative
                    box-sizing: border-box
                    background: $light2
                    margin-right: 30px
                    +r($mob-md)
                        margin-right: 0
                        margin-bottom: 15px
                    img
                        width: 100%
                        height: 100px
                        object-fit: cover
                    .title-add
                        position: absolute
                        transform: translate(-50%, -50%)
                        left: 50%
                        top: 50%
                        width: 100%
                        text-align: center
                    .add-photo
                        position: absolute
                        bottom: -10px
                        left: calc(50% - 10px)
                        box-sizing: border-box
                        width: 20px
                        height: 20px
                        background: url(../img/icon-cabinet/union.svg) no-repeat center $blue
                .name
                    .cabinet-info
                        +ibm-bold
                        font-size: 24px
                        color: $blue 
                        margin-bottom: 10px
                        width: 100%
                        &::placeholder
                            color: $blue
            .pass-wrap
                display: flex
                justify-content: space-between
                align-items: center
            .employee__item
                display: flex
                justify-content: flex-start
                align-items: center
                margin-bottom: 25px
                .img-wrap
                    width: 60px
                    height: 60px
                    margin-right: 30px
                    background: #AAC4EA
                    img
                        width: 100%
                .text
                    margin-bottom: 0
            .mail-list
                margin-bottom: 10px
                &:last-child
                    margin-bottom: 0
                .form-def__label
                    display: block
                    margin-bottom: 5px
                .grey
                    margin-bottom: 5px
        &.retail-outlets
            .default
                display: flex
                justify-content: space-between
                align-items: center
            .name-retail
                font-size: 20px
                color: $txt
                +ibm-medium 
            .address
                line-height: 1.2
                margin-top: 5px
                margin-bottom: 10px
            .list
                display: flex
                justify-content: flex-start
                flex-wrap: wrap
                li
                    margin-right: 25px
    .two-info
        display: flex
        justify-content: space-between
        align-items: center
        .btn
            padding-left: 35px
            padding-right: 35px
    .btn-dashed-green
        width: 100%
        padding-top: 0px
        padding-bottom: 0px
        text-align: center
        display: block
        border: 1px dashed $green
        color: $green
        font-size: 14px
        margin-bottom: 10px
        +ibm-bold
        &:hover
            text-decoration: none
    .add-info__item
        background: transparent
        border-color: transparent
        display: flex
        justify-content: center
        align-items: center
        .btn-add
            display: flex
            flex-direction: column
            align-items: center
            justify-content: flex-end 
            border: 1px dashed $green
            background: $white
            width: 170px
            height: 170px
            box-sizing: border-box
            text-align: center
            padding-right: 25px
            padding-left: 25px
            padding-bottom: 10px
            &:hover
                text-decoration: none
                cursor: pointer
            span
                font-size: 12px
                color: $green
                line-height: 1.2
                display: inline-block
                margin-top: 15px
    .edit-info__item
        border: 1px dashed $green
        .text
            margin-bottom: 20px
        .grey
            font-size: 14px
            font-weight: 500
            +ibm-medium 
        p
            font-size: 14px
        .title-email
            display: flex
            justify-content: space-between
            align-items: center
        .form-def__checkbox
            margin-left: 7px
        .img-wrap
            width: 48px
            height: 48px
                    
        .input-group
            flex-direction: column
            border: 0
            width: 100%
            margin-right: 0
            label
                width: 100%
                display: inline-block     
        input[type=text],
        input[type=mail]
            background: $bg-page
            padding: 11px 10px
            width: 100%     
            &:focus
                background: transparent
                border-bottom: 1px solid $blue
            &.editable
                border: 0px
                border-radius: 0px
                padding: 11px 10px
                margin-right: 5px
                font-size: 15px
        .btn-green-border
            border-color: $green-light
            padding-left: 40px
            padding-right: 40px
        .remove
            line-height: 1
            &:hover
                svg, path
                    fill: $red-light     
        &.cabinet-outlets__item
            .two-info
                +r($mob-lg)
                    flex-direction: column
                .text
                    width: 48%   
                    +r($mob-lg)
                        width: 100%
                        max-width: inherit
    table.table
        font-size: 14px
        width: 100%
        box-sizing: border-box
        thead
            background: $blue
            th
                font-size: 14px
                color: $white
                font-weight: 400
                border: 1px solid $white
                position: relative
                cursor: pointer
                line-height: 135%
                vertical-align: middle
                &:before 
                    content: ""
                    position: absolute
                    right: 5px
                    top: 45%
                    border-top: 6px solid $light
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                    z-index: 2   
                &.active
                    &:before
                        transform: rotate(-180deg)                    
        tbody
            tr
            //    +r($desktop-sm)
            //         display: block
            //         margin-bottom: .625em
            //         border-bottom: 1px solid $light
               
            td
                border: 1px solid $light
                background: $white
                vertical-align: middle
                font-size: 14px
                            
    //             +r($desktop-sm)
    //                 display: flex
    //                 justify-content: space-between
    //                 border-bottom: 0
    //                 padding: 10px 15px
    //                 &:before
    //                     content: attr(data-label)
    //                     color: $txt
    //                     font-weight: bold
    //                     text-transform: uppercase
    .title-page
        display: flex
        justify-content: space-between
        align-items: center
        +r($desktop-sm)
            flex-direction: column
            align-items: flex-start;
        .select-wrap
            display: flex
            justify-content: space-between
            align-items: center
            +r($desktop-sm)
                margin-top: 10px
                width: 100%
            +r($mob-lg)
                flex-direction: column
                align-items: flex-start
        .grey
            font-size: 16px
            display: block
            min-width: 210px


    
.cabinet-settings
    display: flex
    justify-content: space-between
    align-items: start      
    +r($tablet-sm)
        flex-direction: column 
    .l-section
        width: 49%
        +r($tablet-sm)
            width: 100%
    .r-section
        width: 49%
        +r($tablet-sm)
            width: 100%

.cabinet-employee
    display: flex
    justify-content: flex-start
    align-items: stretch      
    flex-wrap: wrap
    margin-top: 30px
    +r($desktop-sm)
        justify-content: space-between
    +r($mob-lg)

    &__item
        width: 31.5%
        margin-right: 30px
        margin-bottom: 30px
        padding: 30px
        background: $white
        border: 1px solid $white
        box-sizing: border-box
        max-width: 370px
        +r($desktop-md)
            margin-right: 25px
        +r($desktop-sm)
            width: 48%
            margin-right: 0
            max-width: inherit
        +r($mob-lg)
            width: 100%
        &:nth-of-type(3n)
            margin-right: 0
        .employee-name
            display: flex
            justify-content: flex-start
            align-items: center
            margin-bottom: 10px
            .img-wrap
                margin-right: 30px
                img
                    width: 100%
        
        .text
            margin-bottom: 10px
            p
                color: $txt
            .grey
                color: $tag
            .status
                color: $green
        .employee-settings
            display: flex
            justify-content: space-between
            align-items: center
            .edit
                display: flex
                justify-content: space-between
                align-items: center
            .edit
                line-height: 1
                margin-left: 30px
                svg, path
                    fill: $green
            .form-def__label
                font-size: 16px
                color: $tag
        &.blocked
            .text
                .status
                    color: $red
            .edit
                svg, path
                    fill: $red

.cabinet-outlets
    display: flex
    justify-content: flex-start
    align-items: stretch
    flex-wrap: wrap
    margin-top: 30px
    &__item
        width: 48.5%
        margin-right: 30px
        margin-bottom: 30px
        max-width: 570px
        background: $white
        padding: 30px
        box-sizing: border-box
        +r($desktop-md)
            margin-right: 25px
        +r($desktop-sm)
            width: 48%
        +r($tablet-sm)
            width: 100%
            margin-right: 0
            max-width: inherit
        &:nth-of-type(2n)
            margin-right: 0
        .outlets-settings
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 30px
            span
                color: $tag
            .green
                color: $green
        .name
            +ibm-medium 
            font-size: 18px
            color: $txt
        .text
            margin-bottom: 10px
            
            p
                color: $txt
            .grey
                color: $tag
                font-size: 16px
        .two-info
            +r($mob-lg)
                flex-direction: column
            .text
                &:first-child
                    width: 70%
                    max-width: 350px
                    +r($mob-lg)
                        width: 100%
                        max-width: inherit
                &:last-child
                    width: 29%
                    +r($mob-lg)
                        width: 100%
                        max-width: inherit
            
        
        

            