.catalog
  &__wrapper
    .uk-container
      +r($mob-lg)
        padding-left: 10px
        padding-right: 10px
  &-nologin
    .product__buy
      align-items: flex-end
      
      margin-top: 40px
    .product__buy-price
      font-size: 36px
      position: static !important
      transform: translateY(0%) !important
      text-align: left !important
      max-width: 100%  !important
    .product-grid2
      .product__buy
        margin-top: 0
    .product-grid3
      .product__side
        justify-content: flex-end
        align-items: center 
      .product__buy
        margin-top: 0
        align-items: center
        .product__buy-price
          margin-left: auto
        .product__buy-action
          margin-left: 20px
.catalog
  &-title
    +r($desktop-md)
      .title
        width: 100%
      .info-top
        flex-wrap: wrap
        .title
          margin-bottom: 20px
    .info-top
      +r($desktop-md)
        margin-bottom: 15px !important
  &-show__filter
    display: none !important
    +r($desktop-md)
      display: flex !important
.catalog-nav
  +r($desktop-md)
    width: 100%
  &__item
    +r($desktop-md)
      margin-left: auto
    .show-more
      cursor: pointer
      +ibm-medium
      svg
        width: 13px
        height: 7px

.catalog-article
  padding-bottom: 120px
  padding-top: 60px
  +r($desktop-md)
    padding-top: 30px
    padding-bottom: 60px
  +r($mob-lg)
    padding-top: 10px
    padding-bottom: 40px
    padding-left: 10px
    padding-right: 10px
  &__img
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    img
      width: 100%
      object-fit: contain
  &__title
    @extend h2
    @extend .blue
    margin-bottom: 10px
    display: flex
    &:hover
      text-decoration: none
  &__descr
    p
      color: $txt
      padding-bottom: 10px
      padding-right: 5px
      line-height: 30px
      font-size: 18px
      &:last-of-type
        padding-bottom: 0
  &__button
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-top: 20px
    line-height: 50px
    width: 100%
    transition: all .2s ease-in
    &:hover
      svg
        fill: $white
    svg
      width: 16px
      height: 16px
      margin-left: 5px
      fill: $green

.catalog-switches
  display: flex
  flex-wrap: wrap
  justify-content: flex-end
  +r($mob-lg)
    display: none
  span
    display: flex
    margin-left: 30px
    cursor: pointer
    &.active
      svg
        .switch-path
          fill: $blue

.catalog-nav
  display: flex
  flex-wrap: wrap
  align-items: center
.catalog-nav
  .cataolog-show__filter
    display: none
    +r($desktop-sm)
      display: flex
  &__item
    .show-more
      cursor: pointer
      font-size: 14px
      svg
        width: 13px
        height: 7px


@media (max-width: 640px)
  .catalog-nologin .product__buy
    align-items: center !important