.top-contact-block
    width: 100%
    background: $white
    padding-top: 60px
    padding-bottom: 40px
    box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423);
    +r($mob-exlg)
        padding-top: 30px
        padding-bottom: 30px
    .uk-container
        
        .blue
            margin-bottom: 10px
        .write-to
            font-size: 60px
            +ibm-bold
            margin-bottom: 10px
            +r($mob-exlg)
                font-size: 40px
        .soc
            display: flex
            justify-content: flex-start
            align-items: center
            &__item
                margin-right: 50px
                a
                    display: block
                    line-height: 1

.address-feedback-block
    width: 100%
    .uk-container
        display: flex
        justify-content: space-between
        align-items: flex-start
        +r($tablet-sm)
            flex-direction: column
        .address
            width: 570px
            margin-top: 60px
            box-sizing: border-box
            margin-right: 30px
            +r($tablet-sm)
                width: 100%
                margin-top: 30px
                margin-right: 0px
            +r($mob-exlg)
                margin-top: 20px
            .info
                margin-bottom: 20px
                +r($mob-exlg)
                    margin-bottom: 15px
                p.blue
                    font-size: 30px
                    +ibm-bold
                    +r($mob-exlg)
                        font-size: 25px
                a
                    color: $txt
                    &:hover
                        color: $txt
                        text-decoration: none
        .feedback
            width: 570px
            background: $white
            box-sizing: border-box
            margin-bottom: 120px
            margin-top: -151px
            +r($tablet-sm)
                width: 100%
                margin-top: 20px
                margin-bottom: 40px
            .title-text,
            .title-img
                background: $blue                
            .title-img
                height: 50px
                +r($mob-exlg)
                    height: 50px
            .title-text
                padding: 20px 30px
                border-top: 1px solid #AAC4EA
                color: $white
                box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
                +r($mob-exlg)
                    padding: 15px
            .form-def__row
                +r($mob-exlg)
                    padding-bottom: 15px
            .form-def
                padding: 30px
                +r($mob-exlg)
                    padding: 15px
            textarea.form-def__input
                border: 0
                resize: none
                width: 100%
                height: 240px
            .btn
                width: 100%
                max-height: 60px
            .inputfile 
                width: 0.1px
                height: 0.1px
                opacity: 0
                overflow: hidden
                position: absolute
                z-index: -1
                & + label 
                    font-size: 1.25em
                    font-weight: 400
                    font-size: 12px
                    color: $green
                    border: 1px dashed $green
                    padding: 14px 20px 14px 50px
                    background: url(../img/icon/add-file.svg) no-repeat -5px center
                    display: inline-block
                    text-align: center
                    cursor: pointer
                    & *
                        pointer-events: none
                &:focus + label,
                & + label:hover 
                    
                
            
