.table-responsive
  .full-table
    min-width: 650px
  +r($desktop-sm)
    width: 100%
    overflow-x: auto
.full-table
  margin-top: 30px
  font-size: 14px
  width: 100%
  box-sizing: border-box
  margin-bottom: 0
  thead
    background: $blue
    th
      font-size: 14px
      color: $white
      font-weight: 400
      border: 1px solid $white
      position: relative
      cursor: pointer
      &:before 
        content: ""
        position: absolute
        right: 5px
        top: 45%
        border-top: 6px solid $light
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        z-index: 2   
      &.active
        &:before
          transform: rotate(-180deg)   
  tbody
    tr
      height: 60px
    tr.hover-blue
      &:hover
        border-top: 1px solid $blue !important
        cursor: pointer
        outline: 1px solid $blue
        > td
          border-right: 1px solid $blue !important
          border-left: 1px solid $blue !important
          &:last-of-type
            border-right: none !important
          
    td
      border: 1px solid $light
      background: $white
      padding-top: 2px
      padding-bottom: 2px
      line-height: 144%

.table-item
  display: flex
  flex-wrap: wrap
  > span
    width: 100%
    line-height: 134%
  &-full
    display: flex
    flex-wrap: wrap
    flex-direction: column
    width: 50%
    &:first-of-type
      span
        border-right: 1px solid $green-light !important
    &-wr
      display: table-cell
    span
      display: flex
      flex-wrap: wrap
      height: 30px
      a
        width: 100%
        border: none
        outline-width: 0 !important
        padding: 0 30px
        line-height: 1
        display: flex
        align-items: center
        justify-content: center

.uk-table .table-input-nopad
  padding: 0
  border: none !important
  border-right: 1px solid $green-light !important
  border-bottom: 1px solid $green-light !important
  table
    tr
      td
        &:last-of-type
          border-left: 1px solid $green-light !important
    tr
      height: 30px
      &:hover
        outline: none !important
        border-top: none !important
        td
          border: none !important
          border-bottom: 1px solid $green-light !important
          border-top: 1px solid $green-light !important
      &:last-of-type
        border-bottom: none !important
    td
      padding: 0
      border: none !important
      border-bottom: 1px solid $green-light !important
      border-top: 1px solid $green-light !important
      width: 100%
      text-align: center
      
      &:hover
        background: $green
        border: none !important
        a
          background: $green
          color: $white
      .btn-green.btn-reverse
        outline: none !important
      a
        width: 100%
        width: 100%
        border: none
        outline-width: 0 !important
        padding: 0 30px
        line-height: 1
        display: inline-flex
        align-items: center
        justify-content: center
        width: 100px
    &:last-of-type
      tr
        td
          border-bottom: none !important
          border-top: none !important
          &:hover

.table-midle
  td
    vertical-align: middle

.cabinet-wrap table.full-table thead th.no-filter
  &.center
    text-align: center
  &::before
    display: none
    text-align: center


.cabinet-wrap table.full-table thead th
  &.filter-th
    width: 150px
  &.noborder-th
    padding: 0
    vertical-align: middle
    &::before
      display: none
  .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single
    border-radius: 0
    border: none
    background: transparent
  .select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow
    width: 11px
    height: 11px
    background: transparent
  .select2-container--classic .select2-selection--multiple .select2-selection__arrow b, .select2-container--classic .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--multiple .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b
    border-color: #b9cfee transparent transparent
    border-width: 7px 5px 0
  .select2-container--classic.select2-container--open .select2-selection--multiple .select2-selection__arrow b, .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--multiple .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b 
    border-color: transparent transparent #b9cfee !important
    border-width: 0 5px 7px !important
  .select2-container--default .select2-selection--multiple .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow
    top: 50%
    right: 8px
    transform: translateY(-50%)

  .select2-container .select2-selection--multiple .select2-selection__rendered, .select2-container .select2-selection--single .select2-selection__rendered
    font-size: 14px
    color: $white
  .select2-container .select2-selection--single .select2-selection__rendered
    padding-left: 13px
    padding-right: 20px
  .select2-container--default .select2-selection--single .select2-selection__placeholder
    color: #fff



.order-status
  display: flex
  flex-wrap: wrap
  > .txt-color
    margin-right: 5px

.order-price-info
  display: flex
  flex-wrap: wrap
  width: 100%
  justify-content: flex-end
  background: #ffffff
  padding: 20px
  padding-top: 17px
  &--item
    display: flex
    flex-wrap: wrap
    align-items: baseline
    margin-left: 67px
    &:first-of-type
      margin-left: 0
    .exsmall-sz
      margin-right: 30px

.order-info
  &__wrapper
    background: $white
    margin-top: 30px
    padding: 60px
    padding-bottom: 55px
    +r($mob-lg)
      padding: 15px
      padding-bottom: 15px
    .h4
      margin-bottom: 20px
  &--item
    margin-bottom: 25px
  &-fot
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    border-top: 1px solid $light
    padding-top: 30px !important
    width: 100%
    margin-top: 30px !important
    &-i
      display: flex
      align-items: center
      flex-wrap: wrap
      +r($tablet-sm)
        padding-top: 20px !important
        &:first-of-type
          padding-top: 0 !important
      .h3
        width: 100%
      .btn
        width: 120px
        margin-left: 5px
        +r($mob-lg)
          margin-bottom: 5px
      .exsmall-text.txt-color
        padding-right: 15px
        +r($tablet-sm)
          width: 100%
          padding-right: 0
          margin-bottom: 15px