.news-wrapper
    margin-bottom: 120px
    +r($mob-exlg)
        margin-bottom: 40px
.news-list
    &__item
        margin-bottom: 60px
        display: flex
        align-items: stretch
        +r($mob-exlg)
            flex-direction: column
        +r($mob-lg)
            margin-bottom: 30px
        .img-wrap
            min-width: 500px
            max-width: 500px
            position: relative
            overflow: hidden
            +r($tablet-sm)
                min-width: 320px
                max-width: 320px
            +r($mob-exlg)
                min-width: inherit
                max-width: inherit
                width: 100%
                margin-bottom: -10px
                &:before,
                &:after
                    display: none
            &:before
                content: ''
                width: 5px
                height: 105%
                background: $green
                position: absolute
                right: 18px
                top: -3px
                bottom: 0
                transform: rotate(6deg)
            &:after
                content: ''
                width: 40px
                height: 105%
                background: $white
                position: absolute
                right: -21px
                top: 0
                bottom: 0
                transform: rotate(6deg)
            img
                height: 100%
                width: 100%
                object-fit: cover
        .info-wrap
            padding: 60px 60px 60px 70px
            background: $white
            +r($tablet-sm)
                padding: 30px
            +r($mob-lg)
                padding: 15px
            a:hover
                text-decoration: none
            .date
                font-size: 14px
                color: $tag
                margin-bottom: 15px
                line-height: 1
            .name
                font-size: 30px
                +ibm-bold
                margin-bottom: 10px
            .title
                color: $txt
                margin-bottom: 20px
            .read-detail
                font-weight: 600
                position: relative
                display: inline-block
                padding-right: 15px
                line-height: 1
                &:hover
                    color: $green-dark
                &:after
                    content: ''
                    position: absolute
                    right: 0
                    bottom: 2px
                    background: url(../img/icon/arrow-right.svg) no-repeat
                    width: 10px
                    height: 10px

.news-detail
    width: 100%
    h1.blue
        color: $blue
        font-size: 30px
        +ibm-bold
        line-height: 1
        margin-top: 20px
        margin-bottom: 30px
    .news-text
        max-width: 970px
        background: $white        
        margin: 0 auto 120px
        +r($mob-lg)
            margin-bottom: 40px
        p
            color: $txt
            margin-bottom: 10px
        h2
            margin-bottom: 10px
        .text-wrap
            padding: 30px
            p:last-child
                margin-bottom: 0
        .img-full
            width: 100%
        .img-text
            display: flex
            justify-content: space-between
            align-items: start
            padding: 0 30px 30px
            +r($mob-lg)
                flex-direction: column
            p:last-child
                margin-bottom: 0
            .img
                margin-left: 30px
                +r($mob-lg)
                    margin-left: 0
                    margin-top: 15px
        .bottom
            width: 100%
            margin-top: 30px
            padding: 20px 30px
            display: flex
            
            align-items: center
            border-top: 1px solid #AAC4EA
            flex-wrap: wrap
            +r($mob-lg)
                margin-top: 0
            .date
                font-size: 14px
                color: $tag
                margin-left: auto
            .label-stock
                margin-right: 15px
                &:last-of-type
                    margin-right: 0



.img-detail-top    
    width: 100%
    .wrap
        margin: 0 20px 60px
        +r($desktop-sm)
            margin: 0 0px 20px
    img
        width: 100%