.page-not-found
    display: flex
    flex-wrap: wrap
    min-height: 100vh
    height: 100%
    position: relative
    background: #fcfdff
    .header
        width: 100%
        text-align: center
        padding-top: 50px
        padding-bottom: 30px
        background: $white
        max-height: 125px
        display: flex
        justify-content: center
        align-items: center
        +r($tablet-sm)
            padding-top: 10px
            padding-bottom: 0
        a
            display: inline-block
    &-body
        width: 100%
        background: url(../img/404.jpg) no-repeat
        background-size: cover
        height: calc(100vh - 115px)
        padding-top: 20px
        background-position: 0 0
        +r($desktop-lg)
            background-position: center 65px
        +r($desktop-lg)
            background-position: center 85px
        +r($tablet-sm)
            height: calc(100vh - 44px)
        +r($mob-md)
            height: calc(100vh - 44px)
            background-position: center 100px
        .center
            text-align: center
            margin-bottom: 30px
            p
                color: $txt
            .blue
                font-size: 30px
                +ibm-medium
                font-weight: 500
                color: $blue
                +r($mob-md)
                    font-size: 24px
        .main-search__form
            display: block
            box-sizing: border-box
            .btn-red
                position: absolute
                right: 0
                top: 0
        .input-search
            width: 100%
            margin-bottom: 30px
            position: relative
            .search-input
                width: 100%
                box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
                font-size: 14px
                padding-top: 22px
                padding-bottom: 22px
                padding-left: 30px
                padding-right: 60px
                +r($tablet-sm)
                    padding: 14px 43px 10px 30px
                &::placeholder
                    color: $tag
        .back
            +ibm-bold
            font-size: 16px
            color: $blue
            &:hover
                text-decoration: none
            span
                margin-left: 1px
            
            
