.product
  &__discounted
    background: $white
    margin-top: 30px
    border: 1px solid $red-light
    padding: 20px
    font-size: 16px
    color: $txt
    line-height: 24px
    &-ttl
      display: flex
      align-items: center
      margin-bottom: 10px
      svg
        margin-right: 5px
  &-sttl-small
    font-size: 24px
    color: $blue
    margin-bottom: 30px
  &__info
    &-footer
      display: flex
      padding: 30px
      align-items: center
      background: #E8F8F5
      +r($desktop-sm)
        align-items: center
      +r($mob-exlg)
        flex-direction: column
      > span
        +r($mob-exlg)
          width: 100%
          flex: 1 0 100%
          max-width: 100%
      span
        font-size: 18px
        +ibm-medium
        line-height: 30px
        flex: 1
        span
          color: $tag
          +ibm
      .btn
        max-width: 270px
        width: 270px
        line-height: 60px
        +r($mob-exlg)
          margin-top: 20px
    &-links
      display: flex
      flex-wrap: wrap
      flex-direction: column
    &-link
      padding: 30px
      color: $txt
      font-size: 20px
      display: flex
      flex-wrap: wrap
      +ibm-bold
      align-items: center
      position: relative
      +r($mob-md)
        width: 100%
        padding: 10px
        font-size: 16px
        line-height: 124%
      &::before
        content: ''
        position: absolute
        bottom: 0
        left: 10px
        height: 1px
        width: calc(100% - 60px)
        display: flex
        background: $light
        +r($mob-md)
          width: calc(100% - 20px)
      &:last-of-type
        &::before
          display: none
      .icon-h
        display: none
      &:hover
        color: $blue
        background: $bg-page
        text-decoration: none
        .icon-nh
          display: none
        .icon-h
          display: flex
      &-t
        flex: 1
        padding-left: 30px
  &__characteristics
    padding: 0 30px
    background: $white
    padding-bottom: 30px
    +r($mob-md)
      padding: 0 10px
    &-item
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 30px
      &:last-of-type
        margin-bottom: 0
      span
        font-size: 18px
        color: $txt
        span
          color: $tag
        &.blue
          +ibm-medium
          color: $blue
          span
            +ibm
  &__white
    background: $white
    padding: 30px
  &-tp
    // margin-top: 30px
    background: $white
    padding: 30px
    .txt-color
      margin-bottom: 15px
    &__wrapper
      display: flex
      width: 100%
      flex-wrap: nowrap
      padding-bottom: 20px
      .simplebar-content
        display: flex
      .simplebar-track.simplebar-vertical
        display: none
      .simplebar-track.simplebar-horizontal
        bottom: 3px
        z-index: 200
        &::before
          content: ''
          width: 100%
          height: 2px
          background: $light
          position: absolute
          left: 0
          top: 50%
          transform: translateY(-50%)
        .simplebar-scrollbar
          left: 0 !important
          border-radius: 0
          right: 0 !important
          cursor: pointer
          &:before
            height: 4px
            border-radius: 0
            background: $light
            opacity: 1
            top: 50%
            transform: translateY(-50%)
            left: 0
            right: 0
    &__item 
      flex: 0 0 auto
      margin-right: 20px
      width: 60px
      height: 60px
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid $light
      &.active
        border: 1px solid $blue
      &.disabled
        opacity: 0.4
        pointer-events: none
      img
        width: 100%
      &:last-of-type
        margin-right: 0
  &__sttl
    width: 100%
    margin-bottom: 30px
  &__btn
    &-info
      max-width: 270px
      width: 100%
      margin-right: 60px
      line-height: 40px
      cursor: pointer
      &:last-of-type
        margin-right: 0
      +r($mob-exlg)
        margin-bottom: 20px
  &__infos
    background: $white
    padding: 30px
    +r($desktop-md)
      display: flex
      flex-wrap: wrap
    &-additionally
      +r($desktop-md)
        display: flex
        flex-wrap: wrap
        width: 100%
        justify-content: space-between
        align-items: center
        border-top: 1px solid $light
        padding-top: 20px
      .tag-color
        font-size: 14px
        line-height: 1 
      .red
        color: $red-light
        +ibm-medium
      .txt-color
        width: 100%
        margin-top: 23px
        display: flex
        align-items: center
        font-size: 16px
        white-space: nowrap
        +r($desktop-md)
          width: auto
          margin-top: 0
        svg
          margin-right: 4px
          width: 16px
          height: 16px
          flex: 1 0 16px
    &-btns
      +r($desktop-md)
        width: 50%
        padding-left: 30px
      +r($mob-exlg)
        padding-left: 0
        width: 100%
      &--avaible
        font-size: 14px
        color: $tag
        display: flex
        align-items: center
        padding-bottom: 25px
        margin-bottom: 30px
        border-bottom: 1px solid $light
        width: 100%
        &.no-b-b
          border-bottom: 0
          margin-bottom: 0
          padding-bottom: 0
        svg
          margin-right: 5px
      .btn-green
        margin-bottom: 20px
        margin-top: 6px
        &.b-bot-n
          margin-bottom: 0
          margin-top: 20px
      .exsmall-sz
        padding-top: 30px
        margin-top: 30px
        border-top: 1px solid $light
      .btn-reverse
        margin-bottom: 20px
        margin-top: 0
    .input-group
      margin-right: 0
      height: 40px
      display: flex
      .input-group-field
        height: 100%
        flex: 1 0 calc(100% - 80px)
        width: calc(100% - 80px)
        max-width: calc(100% - 80px)
        border-left: 1px solid $light
        border-right: 1px solid $light
      .input-group-button
        width: 40px
        flex: 1 0 40px 
        max-width: 40px
        height: 40px
        .button
          height: 40px
    &-price
      display: flex
      flex-wrap: wrap
      +r($desktop-md)
        padding-right: 30px
        width: 50%
      +r($mob-exlg)
        padding-right: 0
        width: 100%
      > div
        width: 100%
        display: flex
        justify-content: space-between
        margin-bottom: 14px
        &.top-bor
          border-top: 1px solid $light
          margin-top: 15px
          padding-top: 27px
        span
          font-size: 14px
          line-height: 24px
          color: $tag
          &.green
            font-size: 36px
            +ibm-medium
            color: $green 
          &.txt-color
            font-size: 20px
             +ibm-medium
             color: $txt
          &.blue
            font-size: 20px
            +ibm-medium
            color: $blue
          &.red
            font-size: 20px
            +ibm-medium
            color: $red
  &-title
    max-width: 870px
    +r($desktop-md)
      width: 100%
      top: 0
      text-align: left
      flex: 1 0 100%
      max-width: 100%
    &-wr
      .info-top
        flex-wrap: wrap
        +r($desktop-md)
          margin-bottom: 15px !important
  &-nav
    position: relative
    top: 20px
    text-align: right
    +r($desktop-md)
      width: 100%
      top: 0
      text-align: left
      flex: 1 0 100%
      max-width: 100%
      display: flex
      flex-wrap: wrap
      margin-top: 10px
      > div
        text-align: left
        padding-right: 14px
    > div
       text-align: right
       margin-right: 0
       margin-bottom: 5px
  &__tabs
    &-wrapper
      // padding: 30px 0
    &-body
      padding: 30px 0
      background: $white
      margin-top: 0 !important
      margin-bottom: 30px !important
      padding-bottom: 0
      +r($desktop-md)
        margin-bottom: 0 !important
    &-header
      display: flex
      flex-wrap: wrap
      margin-left: 0
      +r($mob-md)
        flex-direction: column
      li
        flex: 1
        
        font-size: 18px
        padding: 0
        a
          line-height: 60px
          height: 60px
          color: $tag
          padding: 0
        &.uk-active
          color: $green
          background: $white
          a
            color: $green
            padding: 0
  &__imgs
    background: $white
    &-big
      img
        height: 430px
        width: 100%
        object-fit: contain
        +r($desktop-md)
          height: 52vw
    &-small
      padding-bottom: 1px
      img
        height: 100px
        object-fit: cover
        width: 150px
        border: 1px solid transparent
        
      &-wrapper
        padding: 30px 45px
        position: relative
      .swiper-slide
        width: 150px
        height: 100px
        padding-right: 60px
        &:last-of-type
          padding-right: 0
        +r($mob-exlg)
          padding-right: 20px
          &:last-of-type
            padding-right: 0
      .swiper-slide-thumb-active
        img
          border: 1px solid $green
    &-arrows
      > span
        cursor: pointer
        position: absolute
        left: 10px
        top: 50%
        transform: translateY(-50%)
        &:last-of-type
          left: auto
          right: 10px
        &.swiper-button-disabled
          pointer-events: none
          svg
            path
              fill: $green-light
  &-sttl-small
    +ibm-bold
    font-size: 24px
    line-height: 31px

.content-text
  width: 100%
  padding-bottom: 30px
  p
    font-size: 18px
    line-height: 30px
    color: $txt
    padding-bottom: 10px
    padding-left: 30px
    padding-right: 30px
    +r($mob-md)
      padding-left: 10px
      padding-right: 10px
  img
    max-width: 100%
    margin: 20px 0
  h3
    font-size: 24px
    color: $blue
    margin-bottom: 10px
    width: 100%
    padding: 0 30px
    +r($mob-md)
      padding: 0 10px

.more-product-arrows
  position: absolute
  top: 50%
  left: -20px
  transform: translateY(-50%)
  width: calc(100% + 40px)
  z-index: 1
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  +rmin(860)
    display: none
  +r(640)
    display: none
  > div
    width: 20px
    height: 20px
    cursor: pointer
    &.swiper-button-disabled
      opacity: 0.5


.see-alo-prod
  .swiper-slide
    +r($mob-lg)
      margin-top: 30px
      &:first-of-type
        margin-top: 0
    .product__item
      +r($mob-lg)
        border-left: 1px solid transparent
        border-right: 1px solid transparent
        padding: 0px
        &::after
          content: ''
          position: absolute
          width: 100% !important
          height: 1px !important
          left: 0 !important
          bottom: -16px !important
          top: auto !important
          display: flex !important
          background: $light
    &:nth-child(3n+2)
      .product__item
        border-left: 1px solid $light
        border-right: 1px solid $light
        +r($mob-lg)
          border-left: 1px solid transparent
          border-right: 1px solid transparent
          padding: 0px
          &::after
            content: ''
            position: absolute
            width: 100% !important
            height: 1px !important
            left: 0 !important
            bottom: -16px !important
            top: auto !important
            display: flex !important
            background: $light
  .swiper-wrapper
    +r(640)
      transform: translate3d(0, 0px, 0px) !important
      flex-wrap: wrap
      flex-direction: column
      .swiper-slide
        width: 100% !important
  .product__item
    +r(767)
      padding: 20px
    +r(640)
      padding: 0