.stocks-wrapper
    margin-bottom: 120px
    +r($mob-exlg)
        margin-bottom: 40px
    .stocks-list
        display: flex
        justify-content: space-between
        align-items: start
        flex-wrap: wrap
        margin-bottom: 50px
        +r($desktop-sm)
            align-items: stretch
        &__item
            width: 49%
            max-width: 570px
            +r($tablet-sm)
                width: 100%
                max-width: inherit
            .img-wrap
                height: 200px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            .info-wrap
                padding: 25px 30px
                background: $white
                margin-bottom: 30px
                +r($mob-lg)
                    padding: 15px 20px
                .name
                    color: $red
                    font-size: 24px
                    +ibm-bold
                    min-height: 65px
                    +r($tablet-sm)
                        min-height: inherit
                        margin-bottom: 10px
                    +r($mob-lg)
                        text-align: center
                .detail-wrap
                    display: flex
                    justify-content: space-between
                    align-items: center
                    +r($mob-lg)
                        flex-direction: column
                        align-items: center
                    .date
                        color: $tag
                        font-size: 18px
                        +r($mob-lg)
                            margin-bottom: 10px
.list-stocks-filter
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    max-width: 65%
    margin: 60px auto  40px
    +r($desktop-sm)
        max-width: 100%
    +r($mob-exlg)
        margin: 25px auto 10px
    &__item
        margin-right: 20px
        margin-bottom: 20px
        padding: 0 10px
        background: $white
        a:hover
            text-decoration: none
        .name
            color: $blue
            margin-right: 10px
        .value
            color: #AAC4EA
        &:hover,
        &.active
            background: $blue
            .name
                color: $white

                
.stock-wrapper-in
    margin-top: 30px    
    margin-bottom: 120px
    +r($desktop-sm)
        margin-bottom: 40px
    .img-stock-in
        width: 100%
        text-align: center
        img
            width: 100%
            height: 100%
            object-fit: cover
    .info-wrap
        padding: 50px 60px
        background: $white
        margin-top: -10px
        +r($mob-lg)
            padding: 20px 30px
        +r($mob-sm) 
            padding: 15px
        .name-stock
            font-size: 30px
            +ibm-bold
            margin-bottom: 20px
        .date,
        p
            color: $txt
        .date
            +ibm-medium
        .link-wrap
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 30px
            margin-bottom: 30px
            +r($tablet-sm)
                flex-direction: column
                margin-bottom: 20px
            .date
                background: $bg-page
                line-height: 60px
                font-size: 18px
            .view-product
                &:hover
                    color: $white
                    text-decoration: none
            .item
                width: 49%
                max-width: 570px
                text-align: center
                +r($tablet-sm)
                    width: 100%
                    max-width: inherit
                    margin-bottom: 20px
                    line-height: 1.5
                    padding-top: 10px
                    padding-bottom: 10px
                
            
.label-stock
    background: $bg-page
    color: $txt
    font-size: 14px
    display: inline-block
    padding: 0 10px
    &:hover
        text-decoration: none
                
        
        
