{% set brand = {
  items: [
  
    {
      logo: 'logo-author.svg',
      name: 'Author',
      descr: 'Велосипеди',
      bg: 'author-hover.png',
      color: 'rgba(255, 224, 219, 1)'
    },
    {
      logo: 'logo-babyteam.svg',
      name: 'Baby Team',
      descr: 'Для малят',
      bg: 'IMG_19221.png',
      color: 'rgba(211, 238, 189, 1)'
    },
    {
      logo: 'logo-bruder.svg',
      name: 'Bruder',
      descr: 'Моделі машин',
      bg: 'bruder.png',
      color: 'rgba(193, 225, 255, 1)'
    },
    {
      logo: 'logo-hasbro.svg',
      name: 'Hasbro',
      descr: 'Повний асортимент',
      bg: 'hasbro.png',
      color: 'rgba(225, 236, 241, 1)'
    },
    {
      logo: 'logo-maisto.svg',
      name: 'Maisto',
      descr: 'Масштабні моделі автомобілів та мотоциклів',
      bg: 'image20.png',
      color: 'rgba(253, 228, 230, 1)'
    },
    {
      logo: 'logo-syma.svg',
      name: 'Syma',
      descr: 'Квадрокоптери та гелікоптери',
      bg: 'image21.png',
      color: 'rgba(246, 221, 221, 1)'
    }
  ]
}

%}
<div class="biginfo__wrapper js-big-height">

  <div class="uk-container">
    <div class="biginfo__info js-biginfo-height blue-bg">
      <div class="biginfo__info-item ">
        <div class="biginfo__info-title">Бренди</div>
        <div class="biginfo__info-text">
          <p class="normal">Ми працюємо з найкращими в індустрії.</p>
          <p class="normal">Компанія успішно та ексклюзивно представляє на українському ринку велику всесвітньо відому групу продукції різноманітних категорій.</p>
        </div>
      </div>
      <div class="biginfo__info-img">
        <svg width="310" height="162" viewBox="0 0 310 162" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="310" height="162" fill="#C4C4C4"/>
        </svg>
      </div>
    </div>

    <div class="uk-grid-collapse uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s biginfo-item__wrapper" uk-grid>

      {% for item in brand.items %}
      <div class="biginfo-item">
        <div class="biginfo-item__img">
          <img src="./img/brands/bg/{{item.bg}}" alt="">
        </div>
      <a href="" class="biginfo-item__link" style="background-color: {{item.color}} ;">
          <div class="biginfo-item__link-info">
            <div class="biginfo-item__logo">
              <img src="./img/brands/{{item.logo}}" alt="">
              </div>
            <div class="biginfo-item__name">{{item.name}}</div>
            <div class="biginfo-item__descr">{{item.descr}}</div>
          </div>
          <div class="biginfo-item__arrow">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 4L21.1956 13.4732C22.1398 14.2721 22.1398 15.7279 21.1956 16.5268L10 26" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>              
          </div>
        </a>
      </div>
      {% endfor %}

    </div>

    <div class="biginfo-more">
      <a href="" class="btn btn-green btn-big">Усі наші бренди</a>
    </div>

  </div>

  <div class="biginfo__wrapper-white js-to-height"></div>
  
</div>