

{% if cartclear %}
<div id="aside-mob-cart" class="filter-canvas drop-cart" uk-offcanvas>
  <div class="uk-offcanvas-bar">
        <div class="drop-cart__top">
          Кошик порожній...
          <span class="js-close-cart">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 13.2994L18.7006 20L20 18.7006L13.2994 12L20 5.29937L18.7006 4L12 10.7006L5.29936 4L4 5.29936L10.7006 12L4.00003 18.7006L5.29939 20L12 13.2994Z" fill="#245796"/>
            </svg>              
          </span>
        </div>
        <div class="modal-scroll  drop-cart__clear-wrapper {% if cart2 %} cart2-clear {% endif %}" >
          <div class="drop-cart__clear">
            <span>
              <svg width="192" height="192" viewBox="0 0 192 192" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M67.907 124C61.3428 124 56 129.423 56 136.09C56 142.654 61.3423 148 67.907 148C74.6855 148 79.9964 142.763 79.9964 136.09C79.9967 129.308 74.6858 124 67.907 124Z" fill="#B9CFEE"/>
                <path d="M132.077 124C125.411 124 120.001 129.423 120.001 136.09C120.001 142.654 125.411 148 132.077 148C138.654 148 144 142.654 144 136.09C144 129.308 138.763 124 132.077 124Z" fill="#B9CFEE"/>
                <path d="M152 59.7694L140.68 111.325L69.219 120.001L44 52L40 52.0013V44L51.6947 44.0008L57.371 59.7694H152Z" fill="#B9CFEE"/>
                </svg>                
            </span>
            {% if cart2 %}
            <a href="" class="green normal uk-flex uk-flex-center">Додайте товари до замовлення</a>
            {% endif %}
          </div>
        </div> 
        {% if cart1 %}
        <div class="mob-filter__control">
          
          <a href="" class="btn btn-green">Перейти у каталог</a>
        </div>
        {% endif %}
  </div>
</div>
{% else %}
<div id="aside-mob-cart" class="filter-canvas drop-cart" uk-offcanvas>
  <div class="uk-offcanvas-bar">
        <div class="drop-cart__top">
          <span class="bold">32400 товарів</span> обрано
          <span class="js-close-cart">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 13.2994L18.7006 20L20 18.7006L13.2994 12L20 5.29937L18.7006 4L12 10.7006L5.29936 4L4 5.29936L10.7006 12L4.00003 18.7006L5.29939 20L12 13.2994Z" fill="#245796"/>
            </svg>              
          </span>
        </div>
        <div class="modal-scroll " id="modal-sroller-wr-cart">
          {% for i in range(0, 8) -%}
          <div class="product__item ">
            <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>
            <!-- begin .product__img js-product-sliders -->
            <div class="product__img js-product-sliders">
              <div class="swiper-container js-big-product-slider js-big-slider0 swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide product__slide-big swiper-slide-active" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big swiper-slide-next" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-big" style="width: 240px;">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
              <div class="swiper-container js-small-product-slider js-small-slider0 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide product__slide-small swiper-slide-visible swiper-slide-active swiper-slide-thumb-active">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small swiper-slide-visible swiper-slide-next">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small swiper-slide-visible">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small swiper-slide-visible">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small swiper-slide-visible">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                  <div class="swiper-slide product__slide-small">
                    <img src="./img/slider-product/img.png" alt="Alt text">
                  </div>
                </div>
                <div class="swiper-scrollbar js-slider-scrollbar-0" style="opacity: 0; transition-duration: 400ms;"><div class="swiper-scrollbar-drag" style="width: 100px; transform: translate3d(0px, 0px, 0px);"></div></div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
           
            </div>
            <!-- end /.product__img js-product-sliders -->
            <div class="product__side">
              <!-- begin .product-head -->
              <div class="product__head hide-mob">
                <div class="product__brand">Puppy Balls</div>
                <div class="product__sku">PUPPY -26750_56512</div>
                
              </div>
              <!-- end .product-head -->
              <!-- begin .product__title -->
              <div class="product__title">
                <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
              </div>
              <div class="show-mob-lg uk-flex uk-flex-between uk-flex-middle">
                <div class="small-text blue bold">350,-</div>
                <div class="product__sku show-mob-lg">PUPPY -26750_56512</div>
              </div>
              <!-- end .product__title -->
              <!-- begin .product__descr -->
              <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
              <!-- end .product__title -->
              <!-- begin .product__info -->
              <div class="product__info hide-mob">
                <div class="product__info-item">
                  <span class="product__info-title">Ціна:</span>
                  <div class="product__info-content green">350000,-</div>
                </div>
                <div class="product__info-item">
                  <span class="product__info-title">РРЦ:</span>
                  <div class="product__info-content blue">850000,-</div>
                </div>
                <div class="product__info-item">
                  <span class="product__info-title">Знижка:</span>
                  <div class="product__info-content blue">15%</div>
                </div>
              </div>
              <!-- end .product__info -->
              <!-- begin .product__buy -->
              <div class="product__buy hide-mob">
                <div class="input-group plus-minus-input dftwo">
                  <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                      <span class="minus"></span>
                    </button>
                  </div>
                  <input class="input-group-field" type="text" name="quantity" value="0">
                  <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                      <span class="plus"></span>
                    </button>
                  </div>
                </div>
                <div class="product__buy-price">350000,-</div>
                <a class="product__delete">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.6 18.2C6.6 19.2 7.5 20 8.5 20H15.5C16.5 20 17.4 19.2 17.4 18.2V7.5H6.6V18.2ZM18 5H15.1L14.2 4H9.8L8.9 5H6V6.6H18V5Z" fill="#B9CFEE"/>
                    </svg>
                    
                </a>
              </div>
              <!-- end .product__buy -->
            </div>
            <div class="show-mob-lg uk-flexuk-flex-middle drop-cart__footer">
              <div class="input-group plus-minus-input dftwo">
                <div class="input-group-button">
                  <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                    <span class="minus"></span>
                  </button>
                </div>
                <input class="input-group-field" type="text" name="quantity" value="0">
                <div class="input-group-button">
                  <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                    <span class="plus"></span>
                  </button>
                </div>
              </div>
              <div class="bold green small-text">525000,-</div>
              <a class="product__delete">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.6 18.2C6.6 19.2 7.5 20 8.5 20H15.5C16.5 20 17.4 19.2 17.4 18.2V7.5H6.6V18.2ZM18 5H15.1L14.2 4H9.8L8.9 5H6V6.6H18V5Z" fill="#B9CFEE"/>
                  </svg>
                  
              </a>
            </div>
          </div>
          {% endfor %}
        </div> 
        <div class="mob-filter__control">
          <div class="drop-cart__info">
            <span class="drop-cart__info-ttl">Сума</span>
            <span class="drop-cart__info-price green bold">1250840,-</span>
          </div>
          <a href="" class="btn btn-green">Перейти у кошик</a>
        </div>
  </div>
</div>
{% endif %}

