{% set banner = {
  slider: [
    {
      img: '1.png',
      alt: 'IMG'
    },
    {
      img: '3.png',
      alt: 'IMG'
    },
    {
      img: '2.png',
      alt: 'IMG'
    },
    {
      img: '1.png',
      alt: 'IMG'
    },
    {
      img: '3.png',
      alt: 'IMG'
    },
    {
      img: '2.png',
      alt: 'IMG'
    }
  ]
}

%}
<footer class="footer">
  <div class="footer__wrapper">

    <div class="uk-container">

      <div class="footer__item">
        <a href="" class="footer__logo">
          <svg width="263" height="41" viewBox="0 0 263 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110.074 37.4154C106.304 39.5844 101.617 40.6687 96.0154 40.6687C89.8027 40.6687 84.9056 38.9526 81.3235 35.5198C77.7414 32.0875 75.9504 27.3596 75.9504 21.3368C75.9504 15.2784 77.9072 10.3399 81.8218 6.52192C85.7359 2.70395 90.9428 0.794922 97.4429 0.794922C101.537 0.794922 105.146 1.35956 108.27 2.48882V10.6357C105.289 8.91493 101.644 8.0545 97.3352 8.0545C93.7261 8.0545 90.7858 9.2241 88.5146 11.5633C86.243 13.9025 85.1076 17.026 85.1076 20.9335C85.1076 24.8952 86.1264 27.9603 88.1645 30.129C90.2021 32.298 92.9539 33.3823 96.4194 33.3823C98.5021 33.3823 100.154 33.0866 101.375 32.495V24.9666H93.6453V18.0296H110.074V37.4154ZM149.989 39.9966H139.997L133.991 30.0751C133.542 29.3223 133.111 28.6502 132.698 28.0586C132.285 27.4671 131.867 26.9609 131.446 26.5395C131.024 26.1185 130.584 25.7959 130.126 25.5715C129.668 25.3477 129.17 25.2354 128.631 25.2354H126.288V39.9966H117.589V1.44022H131.378C140.751 1.44022 145.437 4.93554 145.437 11.9263C145.437 13.2707 145.231 14.5121 144.818 15.6501C144.405 16.7887 143.821 17.8146 143.067 18.7287C142.313 19.6429 141.402 20.4319 140.334 21.0948C139.265 21.7582 138.076 22.2779 136.765 22.6543V22.7618C137.339 22.9412 137.896 23.2323 138.435 23.6357C138.974 24.039 139.494 24.5095 139.997 25.0472C140.499 25.585 140.98 26.163 141.438 26.7815C141.896 27.3999 142.313 28.0049 142.69 28.5964L149.989 39.9966ZM126.288 7.94698V18.6749H130.059C131.926 18.6749 133.425 18.1373 134.557 17.0617C135.705 15.9686 136.28 14.615 136.28 13.0017C136.28 9.63205 134.26 7.94698 130.22 7.94698H126.288ZM169.381 40.6687C163.85 40.6687 159.344 38.8719 155.861 35.2778C152.377 31.6842 150.636 27.0012 150.636 21.2293C150.636 15.1351 152.404 10.2055 155.941 6.44126C159.478 2.67701 164.165 0.794922 170 0.794922C175.512 0.794922 179.97 2.59635 183.373 6.19928C186.775 9.80221 188.476 14.5524 188.476 20.4495C188.476 26.5084 186.712 31.3927 183.184 35.1031C179.656 38.8135 175.054 40.6687 169.381 40.6687ZM169.758 8.26963C166.705 8.26963 164.281 9.41228 162.486 11.6978C160.69 13.9832 159.793 17.008 159.793 20.7722C159.793 24.5901 160.69 27.6108 162.486 29.8332C164.281 32.056 166.634 33.1672 169.543 33.1672C172.541 33.1672 174.92 32.0875 176.68 29.9273C178.439 27.7675 179.319 24.7696 179.319 20.9335C179.319 16.9365 178.466 13.8265 176.761 11.6036C175.054 9.38122 172.721 8.26963 169.758 8.26963ZM226.371 23.2996C226.371 34.8792 220.966 40.6687 210.157 40.6687C199.671 40.6687 194.429 35.0136 194.429 23.7029V1.44022H203.155V23.8105C203.155 30.0483 205.596 33.1672 210.481 33.1672C215.275 33.1672 217.672 30.1558 217.672 24.1331V1.44022H226.371V23.2996ZM243.474 26.7143V39.9966H234.774V1.44022H248.402C258.134 1.44022 263 5.5363 263 13.7277C263 17.5995 261.604 20.7318 258.812 23.1248C256.02 25.5177 252.289 26.7143 247.621 26.7143H243.474ZM243.474 8.10831V20.1269H246.894C251.527 20.1269 253.843 18.1016 253.843 14.0503C253.843 10.0891 251.527 8.10831 246.894 8.10831H243.474V8.10831ZM69.404 1.41581H38.8689V8.44928H49.7702V39.7395C49.7702 39.7419 49.7702 39.7428 49.7702 39.7428H58.4387C58.4387 39.7428 58.4387 39.7411 58.4387 39.7387V8.44928H69.4049L69.404 1.41581ZM27.5655 1.41581L0 39.8394H9.68686L15.3119 31.3462L29.1262 31.3437V39.8394H37.8916V1.41581H27.5655ZM29.1263 24.6502H19.7701C19.7701 24.6502 26.0194 15.2389 29.1263 10.5642V24.6502Z" fill="white"/>
            </svg>          
        </a>
        <div class="footer__right-side">
          <div class="footer__big">Зручні рішення для вашого бізнесу</div>
          <a href="" class="btn btn-red btn-middle">Реєстрація</a>
        </div>
      </div>

      <div class="footer__item">

        <div class="footer__links">
          <a href="" class="footer__link">Каталог товарів</a>
          <a href="" class="footer__link">Бренди</a>
          <a href="" class="footer__link">Акції</a>
          <a href="" class="footer__link">Новини та огляди</a>
          <a href="" class="footer__link">Про компанію</a>
          <a href="" class="footer__link">Документи</a>
          <a href="" class="footer__link">Контакти</a>
        </div>

        <div class="footer__select">
          <div class="footer__select-ttl">Сторінки</div>
          <select class="form-def__select" data-placeholder="Перейдіть на необхідну сторінку">
            <!-- for placeholder -->
            <option></option>
            <!-- end for placeholder -->
            <option value="1">Каталог товарів</option>
            <option value="2">Бренди</option>
            <option value="3">Акції</option>
            <option value="4">Новини та огляди</option>
            <option value="5">Про компанію</option>
            <option value="6">Документи</option>
            <option value="7">Контакти </option>
        </select>
        </div>

        <div class="uk-grid-collapse" uk-grid>

          <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s footer-sub-item">
            <div class="normal white">AT Group є одним із найбільших в Україні імпортерів товарів для дітей.</div>
            <div class="soc-links">
              <a href="" class="soc-link">
                {{mixins.icon('soc-facebook')}}
              </a>
              <a href="" class="soc-link">
                {{mixins.icon('soc-instagram')}}
              </a>
              <a href="" class="soc-link">
                {{mixins.icon('soc-linkedin')}}
              </a>
              <a href="" class="soc-link">
                {{mixins.icon('soc-youtube')}}
              </a>
            </div>
          </div>
          <div class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s footer-sub-item s-between">
            <div class="footer__info">
              <div class="footer__middle">Компанія</div>
              <a class="normal white">+38 044 581 24 20</a>
              <a class="normal white">secretar@atuatoys.kiev.ua</a>
              <div class="normal white">Магнітогорський провулок, 1-В, 2 поверх
                Київ, Україна, 02094</div>
            </div>
            <div class="footer__info">
              <div class="footer__middle">Сервісний центр</div>
              <a class="normal white">+38 066 474 89 85</a>
            </div>
          </div>
          <div class="uk-width-1-3@l uk-width-1-1@m footer-sub-item">
            <div class="footer__map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5078.967648746523!2d30.511707000000005!3d50.469336!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce1380095add%3A0x6eb610ed63d9e86a!2z0YPQuy4g0KnQtdC60LDQstC40YbQutCw0Y8sIDMwLzM5LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1586922166666!5m2!1sru!2sua" width=100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>

        </div>

      </div>

      <div class="footer__copyryght">
        <span>© 2020 AT Group. Усі права захищено</span>
      </div>

    </div>

  </div>
</footer>

<style>

  /* */
.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(2,21,44,.7);
    display: none;
    /* display: block; */
    z-index: 999999;
}
.loader {
    border: 20px solid #fff;
    border-radius: 50%;
    border-top: 20px solid #ed4228;
    border-bottom: 20px solid #1ab99b;
    
    border-right: 20px solid #245796;
    border-left: 20px solid #245796;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    transform: translate(-50%, -50%);
}

/* Safari */

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>

<!--LOADER-->
<div class="loader-wrapper" id="loaderForm">
  <div class="loader"></div>
</div>
<!--LOADER END-->

{% include "partials/modals/_mob-menu.html" %}