
{% if headerbothide %}
<header class="header-main">
  <div class="header-top">
    <div class="uk-container" >
      <div class="col uk-flex-between uk-flex-middle" >

        {% include "partials/_header-parts/_header-top.html" %}
    
      </div>

    </div>
  </div>
 
</header>
{% else %}
<header class="header-main">
  <div class="header-top">
    <div class="uk-container" >
      <div class="col uk-flex-between uk-flex-middle" >

        {% include "partials/_header-parts/_header-top-auth.html" %}
    
      </div>

    </div>
  </div>

  <div class="header-bot" uk-sticky>
    <div class="uk-container">
      {% include "partials/_header-parts/_header-bot-alternative.html" %}

    </div>
  </div>
 
</header>
{% endif %}