<div class="main-search">
  <form action="" class="main-search__form">
    <input type="text" class="main-search__input" placeholder="Введіть назву товару , категорію, бренд..." />
    <button class="btn-red" type="submit">
      {{mixins.icon('subtract')}}
    </button>
  </form>
  
</div>
<button class="main-search__show btn-red js-show-search">
  {{mixins.icon('head_search')}}
</button>
<div class="drop-search">
  {% include "partials/_drop-nav/_drop-result.html" %} 
  <div class="uk-child-width-1-1 uk-grid-collapse"  uk-grid>
    <a href="" class="btn btn-green">Показати усі результати</a>
  </div>  
</div> 
