
<div class="show-menu-mob js-show-mob-menu ">
  
    <span  class="js-burger show-menu__link-burger" >
      <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="2" fill="white"/>
        <rect y="10" width="24" height="2" fill="white"/>
        <rect y="20" width="24" height="2" fill="white"/>
        </svg>
    </span>
    <span class="js-burger-close show-menu__link-close">
      <svg  width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L21 21M1 21L21 1" stroke="white" stroke-width="2"/>
        </svg> 
    </span>
   
</div>
<ul class="nav-list">
  <li class="nav-list__item" >
    <a  class="nav-list__link" >Каталог товарів {{mixins.icon('arrow')}}</a>
  
  </li>
  <li class="drop-li" data-drop>
    <div class="main-nav-drop main-nav-drop__catalog nav-drop__fix-h" >
      {% include "partials/_drop-nav/_drop-categories.html" %} 
    </div>
  </li>
  <li class="nav-list__item" >
    <a  class="nav-list__link">Бренди {{mixins.icon('arrow')}}</a>
  </li>
  <li class="drop-li" data-drop>
    <div class="nav-drop__fix-h">
      {% include "partials/_drop-nav/_drop-brands.html" %} 
      <div class="uk-child-width-1-1 uk-grid-collapse"  uk-grid>
        <a href="" class="btn btn-green">Усі бренди</a>
      </div>  
    </div>
   
  </li> 
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Акції</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Новини та огляди</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Про компанію</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Документи</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Контакти</a>
  </li>

  <li class="nav-list__sticky first js-show-user-info">
    <a href="" class="nav-list__sticky-link">
      
      <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.3602 4.98766C13.7723 4.98766 13.2953 4.52695 13.2953 3.95823C13.2953 3.80977 13.3282 3.66837 13.3867 3.54112C12.9747 3.32353 12.5022 3.19981 12 3.19981C10.4004 3.19981 9.10343 4.4535 9.10343 5.99981C9.10343 7.54611 10.4004 8.8002 12 8.8002C13.5996 8.8002 14.8965 7.5465 14.8965 6.0002C14.8965 5.62511 14.8197 5.26731 14.6812 4.94014C14.58 4.97077 14.4719 4.98766 14.3602 4.98766Z" fill="#1AB99B"/>
      <path d="M12.0021 0C5.08498 0 0 6 0 6C0 6 5.08081 12 11.9979 12C18.915 12 24 6 24 6C24 6 18.9192 0 12.0021 0ZM12 10C9.71467 10 7.86207 8.20916 7.86207 6C7.86207 3.79087 9.71467 2 12 2C14.2853 2 16.1379 3.79087 16.1379 6C16.1379 8.20916 14.2853 10 12 10Z" fill="#1AB99B"/>
      </svg>        
    </a>
  </li>
  <li class="nav-list__sticky">
    <a href="" class="nav-list__sticky-link">
      <span class="head-notification">12</span>
      <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.2105 0C10.8842 0 9.80001 0.364542 9 1.08355C8.19999 0.364542 7.11581 0 5.78948 0C2.26319 0 0 2.33924 0 6.07595C0 8.98228 3.02105 12.2531 9 16C14.9789 12.2531 18 8.98228 18 6.07595C18 2.33924 15.7368 0 12.2105 0Z" fill="white"/>
      </svg>
    </a>
  </li>
  <li class="nav-list__sticky">
    <a href="" class="nav-list__sticky-link">
      <span class="head-notification">123</span>
      <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.48505 12.3077C3.4301 12.3077 2.57143 13.1421 2.57143 14.1677C2.57143 15.1775 3.43002 16 4.48505 16C5.57446 16 6.428 15.1943 6.428 14.1677C6.42804 13.1242 5.5745 12.3077 4.48505 12.3077Z" fill="white"/>
      <path d="M14.7981 12.3077C13.7267 12.3077 12.8573 13.1421 12.8573 14.1677C12.8573 15.1775 13.7267 16 14.7981 16C15.8552 16 16.7143 15.1775 16.7143 14.1677C16.7143 13.1242 15.8727 12.3077 14.7981 12.3077Z" fill="white"/>
      <path d="M18 2.42606L16.1807 10.3578L4.69591 11.6924L0.642857 1.23077L0 1.23096V0L1.87951 0.000125005L2.79176 2.42606H18Z" fill="white"/>
      </svg>        
    </a>
  </li> 
  <li class="nav-list__sticky">
    <a class="nav-list__sticky-link">
      <span class="head-notification">456</span>
      <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.02222 0C11.6 0 13.6889 2.006 13.6889 4.52417C13.6889 6.99966 11.6 9.04834 9.02222 9.04834C6.4 9.04834 4.31111 6.99966 4.31111 4.52417C4.31111 2.006 6.4 0 9.02222 0Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6889 8.92029C16.2667 9.81659 18 11.3958 18 13.2311C18 16.9016 0 16.9443 0 13.2311C0 11.3958 1.73333 9.81659 4.31111 8.92029C5.55556 10.03 7.2 10.6702 9.02222 10.6702C10.8 10.6702 12.4444 10.03 13.6889 8.92029Z" fill="white"/>
      </svg>
      
    </a>
    <div class="nav-list__sticky-drop-wrapper" uk-drop="pos: bottom-center; offset:0">
      <div class="nav-list__sticky-drop">
        <a href="" class="blue white-bg">Профиль</a>
        <a href="" class="blue-bg white">Выход</a>
      </div>
    </div>
  </li>


</ul>

