
<div class="show-menu-mob js-show-mob-menu ">
  
    <span  class="js-burger show-menu__link-burger" >
      <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="2" fill="white"/>
        <rect y="10" width="24" height="2" fill="white"/>
        <rect y="20" width="24" height="2" fill="white"/>
        </svg>
    </span>
    <span class="js-burger-close show-menu__link-close">
      <svg  width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L21 21M1 21L21 1" stroke="white" stroke-width="2"/>
        </svg> 
    </span>
   
</div>
<ul class="nav-list">
  <li class="nav-list__item" >
    <a href="/page.html" class="nav-list__link" >Каталог товарів {{mixins.icon('arrow')}}</a>
  
  </li>
  <li class="drop-li" data-drop>
    <div class="main-nav-drop main-nav-drop__catalog nav-drop__fix-h" >
      {% include "partials/_drop-nav/_drop-categories.html" %} 
    </div>
  </li>
  <li class="nav-list__item" >
    <a  class="nav-list__link">Бренди {{mixins.icon('arrow')}}</a>
  </li>
  <li class="drop-li" data-drop>
    <div class="nav-drop__fix-h">
      {% include "partials/_drop-nav/_drop-brands.html" %} 
      <div class="uk-child-width-1-1 uk-grid-collapse"  uk-grid>
        <a href="" class="btn btn-green">Усі бренди</a>
      </div>  
    </div>
   
  </li> 
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Акції</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Новини та огляди</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Про компанію</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Документи</a>
  </li>
  <li class="nav-list__item hide-tablet">
    <a href="" class="nav-list__link">Контакти</a>
  </li>
</ul>

