{% set news = {
  slider: [
    {
      img: '1.png',
      date: '11.02.2020',
      title: 'Заголовок новости или статьи',
      descr: 'Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...'
    },
    {
      img: '2.png',
      date: '11.02.2020',
      title: '1Заголовок новости или статьи',
      descr: '1Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...'
    },
    {
      img: '3.png',
      date: '11.02.2020',
      title: '2Заголовок новости или статьи',
      descr: '2Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...'
    },
    {
      img: '1.png',
      date: '11.02.2020',
      title: '3Заголовок новости или статьи',
      descr: '3Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...'
    },
    {
      img: '2.png',
      date: '11.02.2020',
      title: '4Заголовок новости или статьи',
      descr: '4Превью новости или статьи из первых строк текста. Не больше двух строк. В конце троеточие, если не хватает места в ...'
    }
  ]
}

%}
<div class="news-slider">
  <div class="uk-container">
    <div class="h1 blue">Новини</div>
    <div class="news-slider__wrapper">

      {% include "partials/sliders/_news-slider-component.html" %}
    </div>
  </div>
</div>