{% set partner = {
  items: [
    {
      logo: 'partner-antoshka.svg'
    },
    {
      logo: 'partner-apteka.svg'
    },
    {
      logo: 'partner-auchan.svg'
    },
    {
      logo: 'partner-bi.svg'
    },
    {
      logo: 'partner-epik.svg'
    },
    {
      logo: 'partner-metro.svg'
    },
    {
      logo: 'partner-novus.svg'
    },
    {
      logo: 'partner-prostor.svg'
    },
    {
      logo: 'partner-rozetka.svg'
    },
    {
      logo: 'partner-silpo.svg'
    },
    {
      logo: 'partner-smik.svg'
    },
    {
      logo: 'partner-wog.svg'
    }
  ]
}
%}
<div class="partners">

    <div class="partners-left">
      <div class="partners-item__left blue-bg ">

        <div class="partners-item">
          <div class="h1">Партнери</div>
          <div class="normal white">
            <p>Нам довіряють лідери ринку.</p>
            <p>Ми ефективно співпрацюємо з провідними спеціалізованими магазинами та роздрібними мережами. Крім того ми маємо довгострокові угоди про постачання з мережами гіпермаркетів, інтернет-магазинами та маркетплейсами.</p>
          </div>
        </div>

      </div>
      <!-- on tablet -->
      <div class="partners-item__right hid-ondesc">
        <div class="partners-item uk-grid-collapse uk-child-width-1-2@l uk-child-width-1-3@m uk-child-width-1-1@s" uk-grid>
          {% for item in partner.items %}
          <a href="" class="partners-item__logo"><img src="./img/partners/{{item.logo}}" alt=""></a>
          {% endfor %}
        </div>
      </div>
      <!-- on mobile -->
      <div class="partners-item swiper-container hid-ontabl js-partners-item" >
        <div class="swiper-wrapper">
          {% for item in partner.items %}
          <div class="swiper-slide partners-item__slide">
            
              <a href="" class="partners-item__logo"><img src="./img/partners/{{item.logo}}" alt=""></a>
            
          </div>
          {% endfor %}
        </div>
        <div class="js-slider-partner-pagination main-banner__pagination">
  
        </div>
      </div>
      
      <div class=" partners-item__left white-bg">
        <div class="partners-item">
          <div class="medium-text bold green">Створіть обліковий запис зараз та скористайтесь усіма перевагами співпраці з нами!</div>
          <a href="" class="btn btn-green btn-big">Реєстрація</a>
        </div>
      </div>
    </div>
    
  
    <!-- on desktop -->
    <div class="partners-item__right hid-ontablet">
      <div class="partners-item uk-grid-collapse uk-child-width-1-2@l uk-child-width-1-3@m " uk-grid>
        {% for item in partner.items %}
        <a href="" class="partners-item__logo"><img src="./img/partners/{{item.logo}}" alt=""></a>
        {% endfor %}
      </div>
    </div>
</div>