<div class="product__infos">
  <div class="product__infos-price">
    <div class="product__infos-price--item">
      <span>Ціна</span>
      <span class="green">212,-</span>
    </div>
    <div class="product__infos-price--item">
      <span>РРЦ</span>
      <span class="txt-color">350,-</span>
    </div>
    <div class="product__infos-price--item top-bor">
      <span>Сума</span>
      <span class="blue">350,-</span>
    </div>
    <div class="input-group plus-minus-input dftwo">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
          <span class="minus"></span>
        </button>
      </div>
      <input class="input-group-field" type="text" name="quantity" value="0">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
          <span class="plus"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="product__infos-btns">
    <a href="" class="btn-green btn-big btn-w100">Додати у кошик</a>
    <a href="" class="btn btn-green btn-reverse btn-small">+ упаковка</a>
    <div class="product__infos-btns--avaible">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#8CDCCD"/>
        <path d="M2 8L6 12L14 4" stroke="white" stroke-width="2"/>
        </svg> На складі    
    </div>
  </div>
  <div class="product__infos-additionally">
    <span class="tag-color">Цей товар можна придбати зі знижкою <span class="red">150 грн</span> </span>
    <a href="" class="txt-color bold">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="16" height="16" fill="#F6A093"/>
      <path d="M4 4L7 0H14L8 4L10 8L6 10L7 14L4 10L7 8L4 4Z" fill="white"/>
      </svg>
       Переглянути уціненний</a>
  </div>
</div>