<div class="product__tabs-wrapper">
  <ul class="product__tabs-header" uk-tab>
    <li><a href="#">Опис</a></li>
    <li class="uk-active"><a href="#">Характеристики</a></li>
    <li><a href="#">Документи</a></li>
  </ul>
  
  <ul class="uk-switcher uk-margin product__tabs-body">
    <li>
      <div class="content-text">
        <p>Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</p>
        <p>Среди них дракончик, попугай, зебра, жираф и много других. Каждая игрушка спрятана в шарике-сюрпризе.</p>
        <p>Игрушки изготовлены из качественного плюша, мягкого и приятного на ощупь материала.</p>
        <p>У каждой зверюшки забавные большие глазки, которые так полюбили дети. Еще один сюрприз, что каждая игрушка имеет свое настроение.</p>
        <img src="./img/img-main.png" alt="">
        <h3>H3 IBM Plex Sans Bold 24 px #245796</h3>
        <p>Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</p>
        <p>Среди них дракончик, попугай, зебра, жираф и много других. Каждая игрушка спрятана в шарике-сюрпризе.</p>
        <p>Игрушки изготовлены из качественного плюша, мягкого и приятного на ощупь материала.</p>
        <p>У каждой зверюшки забавные большие глазки, которые так полюбили дети. Еще один сюрприз, что каждая игрушка имеет свое настроение.</p>
      </div>
    </li>
    <li>
      <div class="product__characteristics">
        <div class="product__characteristics-item">
          <span>Тип</span><span class="blue">М’яка іграшка</span>
        </div>
        <div class="product__characteristics-item">
          <span>Стать дитини</span><span class="blue">Дівчинка</span>
        </div>
        <div class="product__characteristics-item">
          <span>Вік</span><span class="blue">Від 3-х років</span>
        </div>
        <div class="product__characteristics-item">
          <span>Кількість в упаковці, <span>шт</span></span><span class="blue">3</span>
        </div>
        <div class="product__characteristics-item">
          <span>Габарити в упаковці, <span>Д/В/Ш</span></span><span class="blue">31.4 / 16.8 / 15.9 <span>см</span></span>
        </div>
        <div class="product__characteristics-item">
          <span>Габарити в упаковці, <span>Д/В/Ш</span></span><span class="blue">31.4 / 16.8 / 15.9 <span>см</span></span>
        </div>
        <div class="product__characteristics-item">
          <span>Вага, <span>кг</span></span><span class="blue">10</span>
        </div>
        <div class="product__characteristics-item">
          <span>Країна-виробник</span><span class="blue">КНР</span>
        </div>
      </div>
    </li>
    <li>
      <div class="product__info-links">
        <a href="" class="product__info-link"> <span class="icon-nh"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#AAC4EA"/>
          <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#245796"/>
          <path d="M17.1636 32.2979L32.9205 29.5196L33.6151 33.4588L17.8582 36.2372L17.1636 32.2979Z" fill="white"/>
          <path d="M15.7744 24.4195L31.5314 21.6411L32.226 25.5803L16.469 28.3587L15.7744 24.4195Z" fill="white"/>
          <path d="M14.3853 16.541L24.2333 14.8045L24.9279 18.7438L15.0798 20.4802L14.3853 16.541Z" fill="white"/>
          </svg>
          </span> <span class="icon-h"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#8CDCCD"/>
            <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#1AB99B"/>
            <path d="M24.2333 14.8045L20.2941 15.4991L20.9887 19.4384L17.0495 20.133L24.5211 27.9543L28.8672 18.0492L24.9279 18.7438L24.2333 14.8045Z" fill="white"/>
            <path d="M17.1636 32.298L32.9206 29.5197L33.6152 33.4589L17.8582 36.2373L17.1636 32.298Z" fill="white"/>
            </svg>
            </span> <span class="product__info-link-t">Висновок санітарно-епідеміологічної експертизи</span> </a>
          <a href="" class="product__info-link"> <span class="icon-nh"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#AAC4EA"/>
            <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#245796"/>
            <path d="M17.1636 32.2979L32.9205 29.5196L33.6151 33.4588L17.8582 36.2372L17.1636 32.2979Z" fill="white"/>
            <path d="M15.7744 24.4195L31.5314 21.6411L32.226 25.5803L16.469 28.3587L15.7744 24.4195Z" fill="white"/>
            <path d="M14.3853 16.541L24.2333 14.8045L24.9279 18.7438L15.0798 20.4802L14.3853 16.541Z" fill="white"/>
            </svg>
            </span> <span class="icon-h"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#8CDCCD"/>
              <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#1AB99B"/>
              <path d="M24.2333 14.8045L20.2941 15.4991L20.9887 19.4384L17.0495 20.133L24.5211 27.9543L28.8672 18.0492L24.9279 18.7438L24.2333 14.8045Z" fill="white"/>
              <path d="M17.1636 32.298L32.9206 29.5197L33.6152 33.4589L17.8582 36.2373L17.1636 32.298Z" fill="white"/>
              </svg>
              </span><span class="product__info-link-t">Очень длинное название документа в три строки. Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span></a>
          <a href="" class="product__info-link"> <span class="icon-nh"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#AAC4EA"/>
            <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#245796"/>
            <path d="M17.1636 32.2979L32.9205 29.5196L33.6151 33.4588L17.8582 36.2372L17.1636 32.2979Z" fill="white"/>
            <path d="M15.7744 24.4195L31.5314 21.6411L32.226 25.5803L16.469 28.3587L15.7744 24.4195Z" fill="white"/>
            <path d="M14.3853 16.541L24.2333 14.8045L24.9279 18.7438L15.0798 20.4802L14.3853 16.541Z" fill="white"/>
            </svg>
            </span> <span class="icon-h"><svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="19" width="24" height="34" transform="rotate(-30 0 19)" fill="#8CDCCD"/>
              <rect x="9.23047" y="9.34277" width="24" height="34" transform="rotate(-10 9.23047 9.34277)" fill="#1AB99B"/>
              <path d="M24.2333 14.8045L20.2941 15.4991L20.9887 19.4384L17.0495 20.133L24.5211 27.9543L28.8672 18.0492L24.9279 18.7438L24.2333 14.8045Z" fill="white"/>
              <path d="M17.1636 32.298L32.9206 29.5197L33.6152 33.4589L17.8582 36.2373L17.1636 32.298Z" fill="white"/>
              </svg>
              </span><span class="product__info-link-t">Декларація відповідності ТР радіообладнання і телекомунікаційного кінцевого обладнання</span></a>
        <div class="product__info-footer">
          <span>Завантажте повну інформацію про цей артикул та товари бренду <span>(фотографії, характеристики, опис, сертифікати)</span></span>
          <a href="" class="btn btn-white">Отримати архів</a>
        </div>
      </div>
    </li>
  </ul>
</div>
