<div class="product-tp">
  <div class="txt-color small-text">Різновиди</div>
  <div class="sroller-el-h product-tp__wrapper">
    {% for i in range(0, 3) -%}

    <a href="" class="product-tp__item">
      <img src="./img/buble.jpg" alt="" />
    </a>
    {% endfor %}
    <a href="" class="product-tp__item active">
      <img src="./img/buble.jpg" alt="" />
    </a>
    {% for i in range(0, 3) -%}

    <a href="" class="product-tp__item">
      <img src="./img/buble.jpg" alt="" />
    </a>
    {% endfor %}
    {% for i in range(0, 3) -%}

    <a href="" class="product-tp__item disabled">
      <img src="./img/buble.jpg" alt="" />
    </a>
    {% endfor %}
    {% for i in range(0, 8) -%}

    <a href="" class="product-tp__item">
      <img src="./img/buble.jpg" alt="" />
    </a>
    {% endfor %}



  </div>
</div>