{% set servis = {
  items: [
  
    {
      text: 'Гарантійне обслуговування',
      icon: 'service-01.svg'
    },
    {
      text: 'Дотримання строків',
      icon: 'service-02.svg'
    },
    {
      text: 'Сертифіковані комплектуючі',
      icon: 'service-03.svg'
    }
  ]
}

%}
<div class="biginfo__wrapper js-big-height">

  <div class="uk-container">
    <div class="biginfo__info js-biginfo-height white-bg">
      <div class="biginfo__info-item  ">
        <div class="biginfo__info-title">Власний сервіс</div>
        <div class="biginfo__info-text">
          <p class="normal">Звертаючись до нашого сервісного центру, ви можете бути впевненими в тому, що ваш товар буде прийнято швидко і ми надамо повний та якісний комплекс усіх необхідних послуг для усунення недоліків продукції.</p>
        </div>
      </div>
      <div class="biginfo__info-img">
        <svg width="310" height="162" viewBox="0 0 310 162" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="310" height="162" fill="#C4C4C4"/>
        </svg>
      </div>
    </div>

    <div class="uk-grid-collapse uk-child-width-1-3@m  biginfo-item__wrapper biginfo-item__wrapper-noborder" uk-grid>

      {% for item in servis.items %}
      <div class="biginfo-servis__item">
        <div class="biginfo-servis__icon">
          <img src="./img/servis/{{item.icon}}" alt="">
        </div>
        <div class="biginfo-servis__text h3">
          <span>{{item.text}}</span>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <div class="biginfo__wrapper-white js-to-height"></div>
  
</div>