
<div id="aside-mob-filter" class="filter-canvas" uk-offcanvas>
  <div class="uk-offcanvas-bar">
        <div class="modal-scroll " id="modal-sroller-wr">
          <form action="" class="filter__form js-desktop-form ">
  
            <div class="filter__item uk-grid-collapse uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
              <div class="filter__sub-item noborder">
                <div class="filter__title">Ви обрали:</div>
                <div class="filter-body">
                  <div class="filter__choise">
                    <a href="" class="filter__selected">Baby Team {{mixins.icon('delete-filter')}}</a>
                    <a href="" class="filter__selected">Іграшки з дерева {{mixins.icon('delete-filter')}}</a>
                    <a href="" class="filter__selected">Дівчинка {{mixins.icon('delete-filter')}}</a>
                    <a href="" class="filter__selected">257 - 257998 грн {{mixins.icon('delete-filter')}}</a>
                  </div>
                </div>
                <a href="" class="filter__clear">Очистити фільтри</a>
              </div>
              <div class="filter__sub-item noborder">
              <div class="filter__title">Завантажте прайслист:</div>
              
              <div class="filter-body">
                <div class="filter__links">
                  <div class="filter-sub-title">Весь</div>
                  <a href="" class="btn btn-green btn-reverse">.pdf</a>
                  <a href="" class="btn btn-green btn-reverse">.xls</a>
                </div>
                <div class="filter__links">
                  <div class="filter-sub-title">Згідно обраних фільтрів</div>
                  <a href="" class="btn btn-green btn-reverse">.pdf</a>
                  <a href="" class="btn btn-green btn-reverse">.xls</a>
                </div>
              </div>
              </div>
              
        
          </div>
        
            <div class="filter__item filter__price-modal">
              <div class="filter__title">Ціна</div>
              <div class="filter-body">
                
                <div class="range-slider js-double-range">
                  <div class="range-slider__values">
                    <div class="range-slider__group">
                      <span class="range-slider__label">Від</span>
                      <input type="text" class="js-input-from" data-range-start="150" value=150" />
                    </div>
                    
                    <div class="range-slider__group">
                      <span class="range-slider__label">До</span>
                      <input type="text" class="js-input-to" data-range-end="150000" value="150000" />
                      <span class="range-slider__label">₴</span>
                    </div>
                    
                </div>
                  <div class="range-slider__input">
                    <input type="text" class="js-range-slider" data-range-min="3500" data-range-max="30000" value="" />
                  </div>
                  
                </div>
        
              </div>
            </div>
        
            <div class="filter__item">
        
              {% for i in range(0, 2) -%}
              <div class="filter__sub-item">
                <div class="filter__title js-toggle-filter">Бренд <span class="filter__toggle-arrow">{{mixins.icon('arrow-wide')}}</span></div>
                <div class="filter-body sroller-el-offcanvas js-toggle-body">
                  {% for i in range(0, 15) -%}
                    <label class="filter__label">
                      <input type="checkbox" name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Brand name</span>
                      <span class="filter__label-count">10</span>
                    </label>
                  {%- endfor %}
                  
                </div>
              </div>
              {%- endfor %}
        
              {% for i in range(0, 2) -%}
              <div class="filter__sub-item">
                <div class="filter__title js-toggle-filter">Категория <span class="filter__toggle-arrow">{{mixins.icon('arrow-wide')}}</span></div>
                <div class="filter-body sroller-el-offcanvas js-toggle-body hidden-filter" hidden >
                  {% for i in range(0, 15) -%}
                    <label class="filter__label">
                      <input type="checkbox" name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Brand name</span>
                      <span class="filter__label-count">10</span>
                    </label>
                  {%- endfor %}
                  
                </div>
              </div>
              {%- endfor %}
        
            </div>
        
            <div class="filter__item uk-grid-collapse uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid>
              <div class="filter__sub-item bor-rigth">
                <div class="filter__title ">Стать</div>
                <div class="filter-body">
                    <label class="filter__label">
                      <input type="checkbox" name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Хлопчик</span>
                      <span class="filter__label-count">10</span>
                    </label>
                    <label class="filter__label">
                      <input type="checkbox" checked name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Дівчинка</span>
                      <span class="filter__label-count">20</span>
                    </label>
                  
                </div>
              </div>
        
              <div class="js-single-range"> 
                <div class="filter__title">Вік</div>
                <div class="filter-body">
                  
                  <div class="range-slider ">
                    <div class="range-slider__values center">
                      <div class="range-slider__group ">
                        <span class="range-slider__label">Від</span>
                        <input type="text" class="js-input-val" data-range-val="3" value="3" />
                        <span class="range-slider__label">років</span>
                      </div>
                      
                  </div>
                    <div class="range-slider__input">
                      <input type="text" class="js-range-slider" data-range-min="0" data-range-max="18" value="" />
                    </div>
                    
                  </div>
          
                </div>
              </div>
        
            </div>
        
            <div class="filter__item">
              <div class="filter__sub-item">
                <div class="filter__title js-toggle-filter red">Акція</div>
                <div class="filter-body sroller-el-offcanvas js-toggle-body">
                    <label class="filter__label">
                      <input type="checkbox" name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Тільки акційні товари</span>
                      <span class="filter__label-count">12203</span>
                    </label>
                </div>
              </div>
            </div>
        
            <div class="filter__item">
              <div class="filter__sub-item">
                <div class="filter__title js-toggle-filter">Наявність</div>
                <div class="filter-body sroller-el-offcanvas js-toggle-body">
                    <label class="filter__label">
                      <input type="checkbox" name="" class="form-def__checkbox" />
                      <span class="filter__label-name">Тільки в наявності</span>
                      <span class="filter__label-count">12203</span>
                    </label>
                </div>
              </div>
            </div>
        
            <div class="filter__re-send">
              <div class="p-alt">Повторіть своє попереднє замовлення</div>
              <a href="" class="btn btn-green btn-reverse">Скопіювати замовлення</a>
            </div>
        
          </form>
        </div> 
        <div class="mob-filter__control">
          <button class="btn btn-red btn-reverse js-close-off-filter uk-modal-close-default" type="button"  uk-close>
            {{mixins.icon('delete-filter')}}
          </button>
          <a href="" class="btn btn-green">Знайти товари</a>
        </div>
  </div>
</div>


