<div id="modal-mob-menu" class="uk-flex-top full-tablet-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical ">
    <div class="modal-scroll modal-sroller-el">
      <div class="nav-modal__wrapper  ">
        <div class="nav-modal__top">
          <ul class="nav-modal__list js-tablet-nav-show">
            <li class="nav-list__item js-move-tablet">
              <a href="" class="nav-list__link">Акції</a>
            </li>
            <li class="nav-list__item js-move-tablet">
              <a href="" class="nav-list__link">Новини та огляди</a>
            </li>
            <li class="nav-list__item js-move-tablet">
              <a href="" class="nav-list__link">Про компанію</a>
            </li>
            <li class="nav-list__item js-move-tablet">
              <a href="" class="nav-list__link">Документи</a>
            </li>
            <li class="nav-list__item js-move-tablet">
              <a href="" class="nav-list__link">Контакти</a>
            </li>
          </ul>
        </div>
        <div class="nav-modal__bot">
          {% if cartclear %}
            <div class="nav-modal__logged">
              <div class="nav-modal__logged-side">
                <div class="h4 txt-color">Ім’я Прізвище</div>
                <div class="nav-modal__logged-list">
                  <div class="small-text">Повідомлення: -<span class="red bold">-</span></div>
                  <div class="small-text">Обрані товари:<span class="red bold">12</span></div>
                  <div class="small-text">У кошику:<span class="red bold">165</span></div>
                </div>
              </div>
              <a href="" class="red normal">Вихід <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 5L0 0L4.37114e-07 10L8 5Z" fill="#ED4228"/>
                </svg> </a>
            </div>
          {% else %}
          <div class="nav-modal__item">
            <div class="medium-text green center-text bold">Створіть обліковий запис</div>
            <a href="" class="btn btn-green btn-big">Реєстрація</a>
          </div>
          {% endif %}
          <div class="nav-modal__footer">
            <a href="tel:+380445812420" class="link link-normal link-bold">+38 044 581 24 20</a>
            <a href="mailto:secretar@atuatoys.kiev.ua" class="link link-normal link-bold">secretar@atuatoys.kiev.ua</a>
            <div class="lang-change">
              <a href="" class="link link-normal link-bold">RU</a>
              <a class="link link-normal link-bold link-disabled">UA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
