{% set brands = {
    titles: [
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      },
      {
        title: 'Author'
      },
      {
        title: 'Author1'
      }
    ]
  
  }

%}
<div class="main-nav-drop main-nav-drop__brands " >
  <div class="uk-grid-collapse  sroller-el" uk-grid>
    {% for name in brands.titles %}
    <a href="" class="drop-link  uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s ">{{name.title}}</a>
    {% endfor %}
  </div>
  
</div> 