<div class="detailed-search__result ">
  
  <div class="sroller-el">
    <a href="" class="detailed-search__item">
      <div class="detailed-search__img">
        <img src="./img/item.png" alt="">
      </div>
      <div class="detailed-search__name">Disney Princess Маленькая кукла принцесса Белоснежка B5321/ B5323</div>
    </a>
  
    <a href="" class="detailed-search__item">
      <div class="detailed-search__img">
        <img src="./img/item.png" alt="">
      </div>
      <div class="detailed-search__name">Disney Princess Маленькая кукла принцесса Белоснежка B5321/ B5323</div>
    </a>
  
    <a href="" class="detailed-search__item">
      <div class="detailed-search__img">
        <img src="./img/item.png" alt="">
      </div>
      <div class="detailed-search__name">Disney Princess Маленькая кукла принцесса Белоснежка B5321/ B5323</div>
    </a>
  
    <a href="" class="detailed-search__item">
      <div class="detailed-search__img">
        <img src="./img/item.png" alt="">
      </div>
      <div class="detailed-search__name">Disney Princess Маленькая кукла принцесса Белоснежка B5321/ B5323</div>
    </a>
  
    <a href="" class="detailed-search__item">
      <div class="detailed-search__img">
        <img src="./img/item.png" alt="">
      </div>
      <div class="detailed-search__name">Disney Princess Маленькая кукла принцесса Белоснежка B5321/ B5323</div>
    </a>
  </div>

  

</div>