{% set cats = {
    cat1: [
      {
        title: 'Товари для новонароджених',
        datacat: 'l2-1'
      },
      {
        title: 'Велосипеди',
        datacat: 'l2-2'
      },
      {
        title: 'Товари для новонароджених',
        datacat: 'l2-3'
      },
      {
        title: 'Велосипеди',
        datacat: 'l2-4'
      },
      {
        title: 'Товари для новонароджених',
        datacat: 'l2-5'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      }
    ],
    cat2: [
      {
        title: 'Товари для новонароджених',
        datacat: 'l3-1'
      },
      {
        title: 'Велосипеди',
        datacat: 'l3-2'
      },
      {
        title: 'овари для новонароджених',
        datacat: 'l3-3'
      },
      {
        title: '2Велосипеди',
        datacat: 'l3-4'
      },
      {
        title: 'Товари для новонароджених',
        datacat: 'l3-5'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      },
      {
        title: 'Товари для новонароджених'
      },
      {
        title: 'Велосипеди'
      }
    ],
    cat3: [
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    },
    {
      title: 'Велосипеди'
    },
    {
      title: 'Товари для новонароджених'
    }
  ]
  }
%}
<div class="main-nav-drop main-nav-drop__categoies uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-collapse " uk-grid>

  <div class="catalog-bg">
    <img src="./img/catalog-img.png" alt="">
  </div>
  

  <!-- cat level1 -->
  <div class="categoies-drop level-1" data-category="l1">
    <div class="sroller-el" >
      {% for name in cats.cat1 %}
      <a href="" class="drop-link drop-link__grey" {% if name.datacat %} data-category-show="{{name.datacat}}" {% endif %}">{{name.title}} {{mixins.icon('arrow-left')}}</a>
      {% endfor %}
    </div>
  </div> 
    <!-- END cat level1 -->

    <!-- cat level2 -->

  {% for i in range(1, 6) -%}
  <!-- cat level2 {{i}} -->
  <div class="categoies-drop category-next level-2" data-category="l2-{{i}}">
    <div class="categoies-drop__mobile-ttl show-mob-lg">
      
      <a class="categoies-drop__mobile-link-back " href="" data-back-link="l1">
        <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M-6.51683e-07 4L6 8L6 0L-6.51683e-07 4Z" fill="#245796"/>
          </svg>
        Велосипеди 2 - {{i}}</a>
    </div>
    <div class="sroller-el" >
      {% for name in cats.cat2 %}
      <a href="" class="drop-link drop-link__colored" {% if name.datacat %} data-category-show="{{name.datacat}}" {% endif %}">2-{{i}} - {{name.title}} {{mixins.icon('arrow-left')}}</a>
      {% endfor %}
    </div>
  </div> 
 <!-- END cat level2 {{i}} -->
  {%- endfor %}
  <!-- END cat level2 -->

   <!-- cat level3 -->
   {% for i in range(1, 6) -%}
   <!-- cat level3 {{i}} -->
  <div class="categoies-drop category-next  level-3" data-category="l3-{{i}}">
    <div class="categoies-drop__mobile-ttl show-mob-lg">
      <a class="categoies-drop__mobile-link-back " href="" data-back-link="l2-{{i}}">
        <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M-6.51683e-07 4L6 8L6 0L-6.51683e-07 4Z" fill="#245796"/>
          </svg>
        Велосипеди 3 - {{i}}</a>
    </div>
    <div class="sroller-el" >
      {% for name in cats.cat3 %}
      <a href="" class="drop-link drop-link__colored drop-link__nobg">3-{{i}} - {{name.title}}</a>
      {% endfor %}
    </div>
  </div> 
  <!-- END cat level3 {{i}} -->
  {%- endfor %}
    <!-- END cat level3 -->


</div> 