<div class="product__pagination">
  <a href="" class="product__pagination-link">1</a>
  <a class="product__pagination-link current">2</a>
  <a href="" class="product__pagination-link">3</a>
  <a href="" class="product__pagination-link">4</a>
  <a href="" class="product__pagination-link">5</a>
  <a href="" class="product__pagination-link">6</a>
  <a href="" class="product__pagination-link">...</a>
  <a href="" class="product__pagination-link">21</a>
  <a href="" class="product__pagination-link">22</a>
  <a href="" class="product__pagination-link">23</a>
</div>