<div class="product__info-item">
  <span class="product__info-title">Ціна:</span>
  <div class="product__info-content green">350000,-</div>
</div>
<div class="product__info-item">
  <span class="product__info-title">РРЦ:</span>
  <div class="product__info-content blue">850000,-</div>
</div>
<div class="product__info-item">
  <span class="product__info-title">Знижка:</span>
  <div class="product__info-content blue">15%</div>
</div>