<span class="product__states-markdown  js-tooltip" cls="tooltip-red" title="Доступна уцінка">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 0H16V16H0V0Z" fill="#F6A093"/>
  <path d="M4 4L7 0H14L8 4L10 8L6 10L7 14L4 10L7 8L4 4Z" fill="white"/>
  </svg>
</span>
<span class="product__states-no-product  js-tooltip" cls="tooltip-red" title="Відсутній">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H16V16H0V0Z" fill="#F6A093"/>
    <path d="M4 12L12 4" stroke="white" stroke-width="2"/> 
    <path d="M4 4L12 12" stroke="white" stroke-width="2"/>
    </svg>
</span>
<span class="product__states-in-stock  js-tooltip" cls="tooltip-green" title="На складі">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H16V16H0V0Z" fill="#8CDCCD"/>
    <path d="M2 8L6 12L14 4" stroke="white" stroke-width="2"/>
    </svg>          
</span>
<span class="product__states__like js-like">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.1403 2.66699C9.25613 2.66699 8.53334 2.91002 8 3.38936C7.46666 2.91002 6.74387 2.66699 5.85965 2.66699C3.50879 2.66699 2 4.22649 2 6.71763C2 8.65518 4.01403 10.8358 8 13.3337C11.986 10.8358 14 8.65518 14 6.71763C14 4.22649 12.4912 2.66699 10.1403 2.66699Z" fill="#D8E4F5"/>
  </svg>
</span>
<span class="product__states__like active js-like">
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.1403 2.66699C9.25613 2.66699 8.53334 2.91002 8 3.38936C7.46666 2.91002 6.74387 2.66699 5.85965 2.66699C3.50879 2.66699 2 4.22649 2 6.71763C2 8.65518 4.01403 10.8358 8 13.3337C11.986 10.8358 14 8.65518 14 6.71763C14 4.22649 12.4912 2.66699 10.1403 2.66699Z" fill="#D8E4F5"/>
  </svg>
</span>