.auth
  &-wrapper
    // width: 100%
    height: 100%
    background: #FFFFFF
    box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)
    margin: 20px
    margin-bottom: 24px
    margin-top: 0
    flex-grow: 1
    display: flex
    flex-wrap: wrap
    +r($mob-md)
      margin-left: 0
      margin-right: 0
      padding: 20px
    > div
      width: 100%
  &-header
    display: flex
    flex-wrap: wrap
    padding-bottom: 50px
    max-width: 350px
    width: 100%
    margin-left: auto
    margin-right: 117px
    +r($desktop-sm)
      padding-left: 20px
    +r($tablet-sm)
      margin-right: auto
    +r($mob-lg)
      padding-left: 0
    &__ttl
      font-size: 24px
      color: $txt
      +ibm-medium
      width: 100%
      +r($tablet-sm)
        text-align: center
        margin-bottom: 20px
    &__descr
      font-size: 16px
      color: $tag
      +ibm-medium
      width: 100%
  &-steps
    display: flex
    flex-wrap: wrap
    margin-top: 20px
    +r($mob-md)
      width: 100%
    &__item
      width: 100px
      height: 4px
      margin-right: 4px
      background: $light
      +r($mob-md)
        width: 30%
      &:last-of-type
        margin-right: 0
      &.active
        background: $green
  &-body
    max-width: 350px
    width: 100%
    margin-left: auto
    margin-right: 117px
    +r($desktop-sm)
      padding-left: 20px
    +r($tablet-sm)
      margin-right: auto
    +r($mob-lg)
      padding-left: 0
  &-small
    max-width: 1170px
    margin: 20px auto
    width: 100%
    .auth-block
      padding-bottom: 113px
  &-block
    padding-top: 90px
    padding-bottom: 60px
    +r($tablet-sm)
      width: 100%

    .form-def
     + div.medium
      padding-top: 30px
      margin-top: auto
  &-info
    background: $blue
    padding-top: 120px
    padding-left: 120px
    padding-right: 20px
    +r($tablet-sm)
      display: none
    &__big
      @extend h2
      color: $white
      max-width: 495px
      margin-bottom: 60px
    &__item
      max-width: 495px
      display: flex
      flex-direction: column
      span
        padding-top: 10px
        font-size: 20px
        +ibm-medium
        margin-bottom: 30px
        color: $white
  &-login
    .auth-header
      padding-bottom: 77px
    .form-def
      display: flex
      flex-wrap: wrap
      flex-direction: column
      &__row
        border: 1px solid $light
        margin-top: -1px
        padding-bottom: 0
        &:first-of-type
          margin-top: 0
      &__input
        line-height: 60px
        background: #fff
        flex: 1
        width: auto
        padding-left: 0
      &__capcha
        margin-top: 30px
        display: flex
      &__buttons
        margin-top: 30px
      &__additionally
        margin-top: 30px
      
.final-auth
  .auth-header__ttl
    margin-bottom: 5px
  .auth-header__descr
    p
      font-size: 16px
  .btn
    width: 100%
    margin-top: 60px