.breadcrumb
  width: 100%
  padding-top: 15px
  .uk-container
    width: 100%

.uk-breadcrumb>*>*
  color: $blue
  font-size: 14px
  +ibm-medium

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before
  color: $blue
  margin: 0 10px 0 5px
  font-weight: 600

.uk-breadcrumb>:last-child>a:not([href]), .uk-breadcrumb>:last-child>span
  color: $txt
