.btn
  text-align: center
  +ibm-bold
  line-height: 60px
  &.disabled
    pointer-events: none !important
  &:disabled
    pointer-events: none !important
  &:hover
    text-decoration: none
    color: $white
  &-red
    background: $red
    color: $white
    &:hover
      background: $red-dark
    &:active
      background: $red-dark
    &:disabled
      background: $red-light
    &.disabled
      background: $red-light
    &.btn-reverse
      background: $white
      color: $red
      svg
        fill: $red
      &:hover
        background: $red
        color: $white
        svg
          fill: $white
      &:active
        background: $red
        color: $white
        svg
          fill: $white
      &:disabled
        background: $white
        color: $red-light
      &.disabled
        background: $white
        color: $red-light
  &-white
    background: $white
    +ibm-bold
    text-align: center
    color: $green
    border: 1px solid $green
    &:hover
      text-decoration: none
      color: $green
  &-blue
    background: $blue
    +ibm-bold
    text-align: center
    color: $white
    border: 1px solid $blue
    &:hover
      text-decoration: none
      background: $blue-dark
      color: $white
  &-green
    background: $green
    color: $white
    &:hover
      background: $green-dark
      color: $white
      text-decoration: none
    &:active
      background: $green-dark
      color: $white
      text-decoration: none
    &:disabled
      background: $green-light
    &.disabled
      background: $green-light
    &.btn-reverse
      color: $green
      background: $white
      outline-color: $green-light
      outline-width: 1px
      outline-offset: -1px
      outline-style: solid
      &:hover
        background: $green
        outline-color: $green
        color: $white
      &:active
        background: $green
        outline-color: $green
        color: $white
      &:disabled
        background: $white
        outline-color: $green-light
        color: $green-light
      &.disabled
        background: $white
        outline-color: $green-light
        color: $green-light
    &-border
      background: $white
      color: $green
      border: 1px solid $green
      &:hover
        background: $green
        color: $white
  &-big
    line-height: 60px
    width: 230px
    font-size: 20px
    display: flex
    justify-content: center
    +ibm-bold
  &-middle
    display: flex
    justify-content: center
    line-height: 50px
    width: 230px
    font-size: 20px
    &.btn-red
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04)
  &-small
    line-height: 40px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    font-size: 16px
    +ibm-bold
  &-w100
    width: 100%
  &-t30
    margin-top: 30px
