.drop-cart
  &__clear
    display: flex
    justify-content: center
    align-items: center
    background: $white
    width: 100%
    height: 100%
    &-wrapper
      display: flex
      justify-content: center
      align-items: center
      background: $white
      margin: 120px 30px 120px
      padding-top: 0 !important
      padding-bottom: 0 !important
      height: calc(100% - 210px) !important
      +r($mob-lg)
        margin: 0
        height: 100vh !important
      &.cart2-clear
        margin-bottom: 30px
        height: calc(100% - 160px) !important
        +r($mob-lg)
          margin: 0
          height: 100vh !important
          position: relative
          &::after
            width: 100%
            content: ''
            height: 4px
            background: #ed4228
            background: linear-gradient(90deg,#ed4228 0%,#ed4228 33%,#1ab99b 33%,#1ab99b 66%,#245796 66%,#245796 100%)
            position: absolute
            top: auto
            bottom: 0
        .drop-cart__clear
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
          a
            margin-top: 30px
            +r($mob-lg)
              margin-top: 0
            &:hover
              color: $green-dark
  &__footer
    margin-top: 20px
    width: 100%
    .bold
      align-items: center
      line-height: 1
      display: flex

    .product__delete
      margin-left: auto
    .input-group
      height: 40px
      margin-right: 12px
      .input-group-button
        height: 40px
        .circle
          height: 40px
    .input-group.plus-minus-input .input-group-field
      width: 60px
      height: 40px
      border-left: 1px solid $light
      border-right: 1px solid $light
  &__top
    @extend h4
    color: $tag
    background: $white
    position: fixed
    top: 0
    left: 0
    z-index: 2500
    width: 100%
    padding: 30px
    display: flex
    flex-wrap: wrap
    padding-left: calc((100vw - 1250px)/2)
    padding-right: calc((100vw - 1250px)/2)
    +ibm
    +r($mob-lg)
      padding: 20px
    span
      padding-right: 5px
    .js-close-cart
      position: relative
      z-index: 3000
      cursor: pointer
      margin-left: auto
  &__info
    display: flex
    align-items: center
    justify-content: space-between
    background: $white
    height: 60px
    width: 100%
    padding: 0 30px
    padding-left: calc((100vw - 1250px)/2)
    padding-right: calc((100vw - 1250px)/2)
    +r($mob-lg)
      height: 50px
      padding: 0 20px
    &-ttl
      font-size: 18px
      color: $tag
      line-height: 124%
      +r($mob-lg)
        font-size: 14px
        color: $tag
        line-height: 24px
    &-price
      font-size: 36px
      +r($mob-lg)
        font-size: 20px
  .mob-filter__control
    flex-wrap: wrap
    flex-direction: column
  .modal-scroll
    padding-top: 120px
    padding-bottom: 170px
    height: calc(100% - 170px)
    +r($mob-lg)
       background: $white
       padding-top: 60px
       padding-bottom: 90px
       height: calc(100% - 90px)
    > .simplebar-vertical
      margin-top: 130px
      margin-bottom: 170px
  .product__delete
    margin-left: auto
  .product__title-wide
    +r($mob-lg)
    display: none
  .product__title
    +r($mob-lg)
      display: flex !important
      a
        color: $txt !important
        font-size: 12px !important
        +ibm
        line-height: 20px !important
  .product__img
    +r($mob-lg)
      width: 70px
      flex: 1 0 70px
      max-width: 70px
      height: 70px
      border: 1px solid $light
      margin-right: 10px
      img
        width: 100% !important
      .js-big-product-slider
        width: 100% !important
        flex: 100% !important
        max-width: 100% !important
        height: 100% !important
      .swiper-slide
        display: flex
        align-items: center
        justify-content: center
  .product__side
    +r($mob-lg)
      margin-top: 0
  .product__sku
    +r($mob-lg)
    margin-top: 0
    font-size: 10px
  .product__item 
    max-width: 1240px
    margin: 0 auto
    +r($mob-lg)
      border-bottom: 1px solid $light
      margin-right: 20px
      margin-left: 20px
      padding-left: 0
      padding-right: 0
      