.product
  &__wrapper
    +r($desktop-md)
      margin-left: -20px
    .js-product-grid
      +r($desktop-md)
        margin-top: 20px
        padding-left: 20px
      +r($mob-exlg)
        width: 50% !important
      +r($mob-lg)
        width: 100% !important
        margin-top: 10px
  &__slide-big
    padding-bottom: 75%
    margin-bottom: 5px
    +r(640)
      width: 100% !important
      height: auto
    img
      object-fit: cover
      width: 100%
      height: 100%
      position: absolute
      top: 0
      
  &__item-grid3
    display: none
    +r($mob-lg)
      display: flex
      .product__brand
        display: flex !important
      .product__sku
        display: flex !important
  &__side
    flex: 1
    padding-left: 30px
    +r($mob-exlg)
      padding-left: 0
      margin-top: 20px
  &__img
    width: 240px
    flex: 1 0 240px
    max-width: 240px
    +r($mob-exlg)
      max-width: 100%
      flex: 1 0 100%
      width: 100%
    +r($mob-lg)
      display: flex
      flex-wrap: wrap
      .js-big-product-slider
        margin-left: 0
        margin-right: 0
        width: 40px !important
        height: 40px !important
        max-width: 40px !important
        flex: 1 0 40px !important
      .js-small-product-slider
        display: none
      .product__item-grid3
        flex: 1
        flex-direction: column
    img
      width: 100%
    .product__brand
      display: none
    .product__sku
      display: none
  &__title-wide
    display: none
  &__item
    background: #ffffff
    padding: 30px
    display: flex
    flex-wrap: wrap
    height: 100%
    &.product-grid2
      +rmin(641)
        flex-direction: column
      .product__img
        width: 100%
        max-width: 100%
        +rmin(641)
          max-height: 295px
      .product__side
        padding-left: 0
        margin-top: 20px
        +rmin(641)
          display: flex
          flex-wrap: wrap
          flex-direction: column
      .product__brand
        margin-right: 20px
      .product__descr
        display: none
      .product__info
        +rmin(641)
          margin-top: auto
      .product__info-item
        margin-right: 22px
        +r($mob-lg)
          margin-right: 10px
      .product__buy
        position: relative
      .product__buy-price
       // position: absolute
       // width: 155px
        text-align: center
        top: 0
        transform: translateY(-63%)
      .product__buy-type
        width: auto
        padding-left: 6px
        padding-right: 6px
        margin-left: auto
        margin-right: auto
        
      .input-group
        margin-right: 0

    &.product-grid3
      &.product__item
        padding: 10px
        position: relative
      .product__side
        display: flex
        flex-wrap: wrap
      .product__info
        margin-bottom: 0
        +r($mob-exlg)
          margin-bottom: 16px
        +r($mob-lg)
          max-width: 300px
          margin-bottom: 7px
      .product__descr
        display: none
      .product__img
        max-width: 225px
        width: auto
        height: auto
        flex: 1 0 auto
        display: flex
        flex-wrap: wrap
        margin-top: 10px
        +r($mob-exlg)
          max-width: 100%
          flex: 1 0 100%
          width: 100%
        img, .product__slide-big, .swiper-container
          width: 60px
          height: 60px
          +r($mob-exlg)
            width: 100%
            height: auto
        .js-small-product-slider
          display: none
        .product__brand
          display: flex !important
          width: 100%
          flex: 1 0 100%
          max-width: 100%
        .product__sku
          display: flex !important
          width: 100%
          flex: 1 0 100%
          max-width: 100%
        .swiper-container
          margin-left: 0 !important
          margin-right: 0 !important
      .product__title
        display: none
        +r($mob-exlg)
          display: flex
      .product__side
        .product__brand
          display: none !important
          +r($mob-exlg)
            display: block !important
          +r($mob-lg)
            display: none !important
        .product__sku
          display: none !important
          +r($mob-exlg)
            display: block !important
          +r($mob-lg)
            display: none !important
      .product__head
        position: absolute
        right: 10px
        top: 10px
        +r($mob-exlg)
          position: static
      .product__head
        flex-direction: column
        margin-left: 0
        align-items: flex-start
        height: 100%
        justify-content: space-between
        +r($mob-exlg)
          height: auto
          display: flex
          flex-direction: row
          justify-content: flex-start
        +r($mob-lg)
          position: absolute
          top: unset
          right: 10px
          bottom: 80px
      .product__title-wide
        margin-bottom: 5px
        display: block
        width: 100%
        a
          display: flex
          max-width: 600px
          width: calc(100% - 170px)
          font-size: 18px
          line-height: 30px
          color: $blue
          text-decoration: none
        +r($mob-exlg)
          display: none
        +r($mob-lg)
          display: flex !important
          a
            font-size: 14px !important
            width: 100%
            line-height: 122%
        
      .product__item-grid3
        display: flex
        flex-wrap: wrap
        flex: 1
        padding-left: 10px
        +r($mob-exlg) 
          display: none
        +r($mob-lg)
          display: flex
          flex-direction: column
    +r($mob-lg)
      padding: 10px
      position: relative
  &__title
    margin-bottom: 4px
    line-height: 30px
    +r($mob-lg)
      display: none !important
    a
      font-size: 18px
      line-height: 30px
      color: $blue
      text-decoration: none
      +ibm-medium
      &:hover
        color: $blue-dark
        text-decoration: none
  &__descr
    font-size: 14px
    color: $tag
    line-height: 20px
    margin-bottom: 15px
    +r($mob-lg)
      display: none
  &__head
    display: flex
    flex-wrap: wrap
    align-items: center
    +r($mob-lg)
      position: absolute
      right: 10px
      bottom: 80px
  &__brand
    font-size: 14px
    color: $tag
    line-height: 20px
    margin-right: 30px
    +r($mob-lg)
      display: none
  &__sku
    font-size: 14px
    color: $tag
    line-height: 20px
    +r($mob-lg)
      display: none
  &__states
    display: flex
    flex-wrap: wrap
    margin-left: auto
    align-items: center
    span
      margin-right: 20px
      &:last-of-type
        margin-right: 0
    &__like
      cursor: pointer
      &.active
        svg
          path
            fill: $red-light
  &__info
    display: flex
    flex-wrap: wrap
    margin-bottom: 16px
    +r($mob-lg)
      max-width: 300px
      margin-bottom: 7px
    &-item
      margin-right: 30px
      display: flex
      flex-wrap: wrap
      align-items: baseline
      &:last-of-type
        margin-right: 0
      +r($desktop-sm)
        margin-right: 10px
      +r($mob-lg)
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 0
    &-title
      font-size: 14px
      color: $tag
      +ibm-medium
      padding-right: 10px
    &-content
      font-size: 18px
      +ibm-medium
  &__buy
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 100%
    +r($mob-exlg)
      position: relative
    +r($mob-lg)
      align-items: flex-start
    &-type
      height: 40px
      width: 40px
      font-size: 16px
      display: flex
      justify-content: center
      align-items: center
      color: $green
      +ibm-bold
      border: 1px solid $green-light
      margin-right: 20px
      a
        width: 100%
      +r($mob-lg)
        height: 30px
        margin-left: 10px
        margin-right: 0
    &-price
      @extend .h4
      color: $green
      +r($mob-exlg)
        position: absolute
        width: 155px
        text-align: center
        top: 0
        transform: translateY(-63%)
      +r($mob-lg)
        top: auto !important
        bottom: 0 !important
        transform: translateY(0) !important
    &-action
      width: 60px
      height: 60px
      display: flex
      justify-content: center
      align-items: center
      background: $green
      margin-left: auto
      svg
        width: 48px
        height: 48px
        fill: $white
    .input-group
      margin-right: 20px
      height: 40px
      +r($desktop-sm)
        margin-right: 10px
      +r($mob-exlg)
        margin-right: 0
      +r($mob-lg)
        height: 30px
      .input-group-field
        font-size: 20px
      .input-group-button
        height: 100%
        &:first-of-type
          border-right: 1px solid $light
        &:last-of-type
          border-left: 1px solid $light
        .button
          height: 100%
          display: flex
      .plus
        &::before
          top: 1px
  &__slide
    &-small
      width: 40px
      height: 40px
      border: 1px solid $light
      margin-right: 10px
      display: flex
      align-items: center
      justify-content: center
      opacity: 0.2
      transition: opacity .2s ease-in
      margin-top: 2px
      &:last-of-type
        margin-right: 10px !important 
      &.swiper-slide
        opacity: 0.2
      &.swiper-slide-visible
        opacity: 1
  &__more
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-top: 30px
    line-height: 50px
    width: 100%
    transition: all .2s ease-in
    &:hover
      svg
        fill: $white
    +r($desktop-md)
      margin-top: 0
    svg
      width: 16px
      height: 16px
      margin-left: 5px
      fill: $green
  &__pagination
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px !important
    max-width: 771px
    margin-left: auto
    margin-right: auto
    +r($desktop-md)
      margin-top: 0
    +r($tablet-sm)
      max-width: 100%
    &-link
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      flex: 1
      height: 77px
      text-decoration: none
      background: $white
      font-size: 20px
      color: $tag
      max-width: 77px
      max-height: 77px
      +ibm-bold
      +r($mob-lg)
        width: 40px
        height: 40px !important
        font-size: 16px
        flex: 1 0 40px
        max-width: 40px
      &:hover
        background: $bg-page
        color: $blue
        text-decoration: none
      &.current
        pointer-events: none
        color: $white
        background: $blue
  &__title-wide
    +r($mob-lg)
      display: flex
      margin-bottom: 4px
      line-height: 18px
      a
        font-size: 14px
        line-height: 18px
        color: $blue
        text-decoration: none
        +ibm-medium
        &:hover
          color: $blue-dark
          text-decoration: none

.product__item
  .swiper-scrollbar
    opacity: 1 !important
    width: 100%
    height: 2px
    background: transparent
    margin-top: 10px
    height: 4px
    position: relative
    &::before
      content: ''
      width: 100%
      height: 2px
      background: $light
      display: flex
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
    .swiper-scrollbar-drag
      height: 4px
      background: $light
      cursor: pointer


