.input-group
  width: auto
  margin-right: 30px
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid $light      
  +r($mob-sm)
    margin-right: 0

  &.plus-minus-input     
    .input-group-field 
      text-align: center			    
      background: transparent
      border: 0
      width: 70px
      padding-left: 0
      padding-right: 0
      +ibm-bold
      font-size: 14px
      color: $blue
      +r($desktop-sm)
        

    .input-group-button 
      .minus
        width: 10px
        height: 2px
        background: $tag
      
      .plus
        width: 10px
        height: 2px
        background: $tag
        position: relative
        &:before
          content: ''
          position: absolute
          left: calc(50% - 5px)
          top: 0
          width: 10px
          height: 2px
          background: $tag
          transform: rotate(90deg)     
      
      .circle 
        border-radius: 0px
        background: transparent
        font-size: 13px
        color: $tag
        width: 40px
        height: 30px
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: flex
        justify-content: center
        align-items: center
        outline: 0
        cursor: pointer 