.dataTables
  &_info
    display: none
  &_filter
    display: none
  &_length
    display: none
  &_paginate
    display: flex
    flex-wrap: wrap
    margin-top: 30px
    > span
      display: flex
      flex-wrap: wrap
    .paginate_button
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      flex: 1
      height: 77px
      text-decoration: none
      background: $white
      font-size: 20px
      color: $tag
      max-width: 77px
      max-height: 77px
      +ibm-bold
      +r($mob-lg)
        width: 40px
        height: 40px !important
        font-size: 16px
        flex: 1 0 40px
        max-width: 40px
      &:hover
        background: $bg-page
        color: $blue
        text-decoration: none
      &.current
        pointer-events: none
        color: $white
        background: $blue
      &.next
        font-size: 0
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0C0.333333 1.33333 1 4.8 1 8C1 11.2 0.333333 14.6667 0 16L14 8L0 0Z' fill='%23245796'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: center
      &.previous
        font-size: 0
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 16C13.6667 14.6667 13 11.2 13 8C13 4.8 13.6667 1.33333 14 0L6.99382e-07 8L14 16Z' fill='%23245796'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: center