
.filter
  
  &-body
    width: 100%
    display: flex
    flex-wrap: nowrap
    flex-direction: column
    &.sroller-el
      max-height: 175px
    &.sroller-el-offcanvas
      max-height: 175px
  &__wrapper
    margin-bottom: 20px !important
  &__label
    width: 100%
    display: flex
    flex-wrap: wrap
    font-size: 16px
    +ibm-medium
    color: $txt
    cursor: pointer
    align-items: center
    &:hover
      color: $blue
    &-count
      font-size: 12px
      color: $tag
      margin-left: auto
      margin-right: 18px
  &__title
    font-size: 20px
    color: $blue
    display: flex
    flex-wrap: wrap
    align-items: center
    cursor: pointer
    line-height: 1
    +ibm-bold
    padding-bottom: 25px
  &__item
    padding: 0 30px
    padding-top: 30px
    background: #FFFFFF
    margin-bottom: 10px
    padding-bottom: 30px
  &__sub-item
    position: relative
    padding-bottom: 20px
    transition: padding .2s ease-in
    margin-bottom: 18px
    &:last-of-type
      
      margin-bottom: 0
      padding-bottom: 0
      &::after
        display: none
      &.active
       
        .filter__title
          padding-bottom: 0
    &::after
      content: ''
      width: 100%
      height: 1px
      border-bottom: 1px solid $light
      display: flex
      left: 0
      position: relative
      bottom: -20px
    &.active
      padding-bottom: 0
      &::after
        display: none
    .filter__title
      padding-bottom: 0px
      padding-bottom: 18px
      line-height: 1
      transition: padding .2s ease-in
  &__links
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: space-between
    .btn
      line-height: 40px
      width: calc(50% - 5px)
  &-sub-title
    font-size: 16px
    color: $txt
    padding-bottom: 5px
    width: 100%
  &__choise
    display: flex
    flex-wrap: wrap
  &__selected
    display: flex
    align-items: center
    justify-content: center
    align-items: center
    text-decoration: none
    font-size: 12px
    color: $tag
    background: $bg-page
    padding: 0px 10px
    margin-right: 10px
    margin-bottom: 10px
    &:hover
      text-decoration: none
      color: $tag
    svg
      fill: $red
      margin-left: 6px
  &__clear
    margin-top: 20px
    font-size: 16px
    +ibm-medium
    color: $red
    text-decoration: none
    &:hover
      text-decoration: none
      coor: $red
      
  &__toggle
    &-arrow
      margin-left: auto
      display: flex
      width: 16px
      height: 16px
      position: relative
      transform: rotate(180deg)
      transform-origin: 50% 56%
      transition: transform .12s ease-in
      &.active
        transform: rotate(0deg)
      svg
        fill: $blue
  &__re-send
    display: flex
    flex-wrap: wrap
    align-items: center
    .btn
      line-height: 60px
      width: 100%
      margin-top: 10px


@import _filter-modal
