


.swiper-container-vertical>.swiper-scrollbar
  position: absolute
  right: 3px
  top: 1%
  z-index: 50
  width: 5px
  height: 98%

.swiper-scrollbar-drag 
  height: 100%
  width: 100%
  position: relative
  background: rgba(0,0,0,.5)
  border-radius: 10px
  left: 0
  top: 0
  
.js-modal-scroller
  height: 100%
  z-index: 2500
  padding: 30px 0
  background: rgba(2, 21, 44, 0.7)
  .modal-scroll
    height: calc(100% - 29px)
    padding: 0 30px
  .uk-modal-dialog
    height: calc(100vh - 60px)
    background: transparent
  .swiper-container 
    height: calc(100% - 29px)
    padding: 0 30px
  .swiper-slide
    height: auto !important
  .swiper-scrollbar
    opacity: 1 !important
    width: 4px
    right: 10px
    top: 0
    background: transparent
    height: calc(100% - 30px)
    &::before
      content: ''
      width: 2px
      height: 100%
      background: $white
      display: flex
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
    .swiper-scrollbar-drag
      width: 4px
      background: $white
      cursor: pointer
      border-radius: 0
  .filter__form
    .filter__item
      background: $white
      margin-bottom: 2px
      .filter__label-count
        margin-right: 30px
    .filter__re-send
      background: $white
      padding: 36px 30px
      justify-content: space-between
      .p-alt
        max-width: 248px
        width: 100%
      .btn
        max-width: 370px
        width: 100%
.nicescroll-rails-vr
  &::before
    content: ''
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 2px
    height: 100%
    background: rgb(185, 207, 238)
  
.filter-canvas
  z-index: 3000
  width: 100%
  display: flex
  position: absolute
  left: 0
  top: 0
  transform: translateX(-100%)
  height: 100vh
  width: 100vw
  &.uk-open
    transform: translateX(0%)
  >.uk-offcanvas-bar>.nicescroll-rails-vr
    right: 11px !important
    left: unset !important
    +r($mob-lg)
      right: -100px !important
      visibility: hidden !important
  .filter__form
    .filter__price-modal
      display: flex
      flex-wrap: wrap
      .filter__title
        height: 38px
      .filter-body
        flex: 1
        padding-left: 30px
        .range-slider__group input
          width: 200px
          max-width: 35vw
    .filter__item
      background: $white
      margin-bottom: 2px
      .filter__label-count
        margin-right: 30px
    .filter__sub-item
      &.bor-rigth
        &::after
          left: auto
          right: 13px
          width: 1px
          height: 100%
          display: flex
          bottom: auto
          background: #b9cfee
          top: 14px
          position: absolute
      &.noborder
        display: flex
        flex-wrap: wrap
        margin-bottom: 0
        padding-bottom: 0
        &::after
          display: none
        .filter__title
          height: 38px
    .filter__links
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
    .filter__clear
      margin-top: auto
    .filter__re-send
      background: $white
      padding: 36px 30px
      justify-content: space-between
      .p-alt
        max-width: 248px
        width: 100%
      .btn
        max-width: 370px
        width: 100%
  .uk-offcanvas-bar
    width: 100%
    padding: 0
    background: rgba(0,0,0,.5)
  .modal-scroll
    //height: 100%
    // padding-bottom: 80px
    // padding-left: 30px
    // padding-top: 30px
    // padding-right: 30px
    height: calc(100% - 120px)
    margin: 30px
    margin-bottom: 60px
    >.simplebar-vertical
      right: 10px
      margin-top: 30px
      margin-bottom: 80px
    
.mob-filter
  &__control
    display: flex
    flex-wrap: wrap
    position: fixed
    bottom: 0px
    left: 0
    width: 100vw
    z-index: 3000
    .btn-red
      position: static
      width: 60px
      flex: 1 0 60px
      max-width: 60px
      &::before
        display: none
      &::after
        display: none
      svg
        width: 20px
        height: 20px
        &:not(.icon)
          display: none
    .btn-green
      flex: 1
    .btn
      height: 60px
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center

@media (max-width: 700px)
  .filter-canvas .filter__form .filter__price-modal .filter-body
    padding-left: 0
    flex: 1 0 100%

@media (max-width: 640px)
  .filter__title
    font-size: 16px
  .filter-canvas .modal-scroll
    padding: 0
    padding-bottom: 0px
    margin: 0
    margin-bottom: 0px
    height: calc(100% - 40px)
    padding-bottom: 0px
  .filter-canvas .modal-scroll > .simplebar-vertical
    display: none
  .filter__item
    padding: 12px 20px
    padding-bottom: 20px
@media (max-width: 540px)
  .filter__sub-item::after
    content: ''
    height: 1px
    border-bottom: 1px solid #b9cfee
    left: 0
    position: relative
    bottom: -10px
  .filter-canvas .filter__form .filter__sub-item.noborder
    padding-bottom: 10px
    margin-bottom: 10px
    &::after
      display: flex
      bottom: -10px
    &:last-of-type
      margin-bottom: 0
      padding-bottom: 0px
      &::after
        display: none
  .filter__sub-item .filter__title
    padding-bottom: 10px
  .filter-canvas .filter__form .filter__sub-item.bor-rigth::after
    right: auto
    left: 0
    position: relative
    top: auto
    bottom: -10px
    width: 100%
    height: 1px
  .filter__sub-item
    margin-bottom: 10px
    padding-bottom: 10px
  .mob-filter__control .btn
    height: 50px
    line-height: 50px 
  .mob-filter__control .btn-red
    width: 50px
    flex: 1 0 50px
    max-width: 50px
  .filter-canvas .modal-scroll
    padding: 0
    padding-bottom: 0px
    margin: 0
    margin-bottom: 0px
    padding-bottom: 0px
  .filter-canvas .filter__form .filter__re-send
    padding-top: 10px
    padding-bottom: 20px
    padding-left: 20px
    padding-right: 20px
  .filter-canvas .filter__form .filter__re-send .btn
    line-height: 50px
  .filter-canvas .filter__form .filter__price-modal .filter-body .range-slider__group input
    max-width: 90px
    height: 30px
  .filter-canvas .filter__form .filter__re-send .p-alt
    font-size: 16px
    line-height: 24px