.form-def
  &__row
    padding-bottom: 30px
    // &--reverse
    //   .form-def__title
    //     order: -1
    //   .form-def__input
    //     &:focus
    //       + .form-def__title
    //           color: $txt
    label
      width: 100%
      display: flex
      flex-wrap: wrap
      align-items: center
  &__input
    font-size: 16px
    color: $txt
    line-height: 40px
    width: 100%
    +ibm-medium
    padding-left: 20px
    &--default-color
      background: $bg-page
      &:disabled
        background: #F0F0F0
  &__additionally
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__title
    font-size: 14px
    +ibm-medium
    color: $txt
    &.disabled
      color: $tag
    &.active
      color: $blue
  &__label
    color: $txt
    font-size: 12px
    cursor: pointer
    &:hover
      color: $blue
    &:disabled
      color: $tag
      input[checkbox]
        border: 1px solid $light2
  &__radio
    cursor: pointer
    display: inline-block
    height: 16px
    width: 16px
    overflow: hidden
    margin-top: -2px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 1px solid $light
    transition: .2s ease-in-out
    transition-property: all
    transition-property: background-color,border
    background-color: #fff
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%231AB99B'/%3E%3C/svg%3E%0A")
    background-size: 0px 0px
    border-radius: 50%
    &:checked
      background-size: 8px 8px
      + span
        color: $blue
    + span
      padding-left: 8px
      font-size: 16px
  &__select
    height: 40px
    opacity: 0
  &__checkbox
    cursor: pointer
    display: inline-block
    height: 16px
    width: 16px
    overflow: hidden
    margin-top: -3px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 1px solid $light
    transition: .2s ease-in-out
    transition-property: all
    transition-property: background-color,border
    background-color: #fff
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3L3 5L7 1' stroke='white'/%3E%3C/svg%3E%0A")
    background-size: 0px 0px
    &:checked
      background-color: $green
      background-size: 8px 6px
      + span
        color: $blue
    + span
      padding-left: 8px
  &__link
    font-size: 12px
    color: $blue
    +ibm-medium
    &:hover
      color: $blue-dark
      text-decoration: none
  &__subtext
    font-size: 10px
    color: $tag

.select2-container
  width: 100% !important


.select2-container .select2-selection--single
  height: 40px

.select2-container .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height: 40px

.select2-container--default .select2-selection--multiple .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow
  width: 40px
  height: 40px
  background: $light2

.select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered
  color: $tag

.select2-container .select2-selection--multiple .select2-selection__rendered,
.select2-container .select2-selection--single .select2-selection__rendered
  padding-left: 20px
  padding-right: 20px
  font-size: 12px
  +ibm

.select2-container .select2-selection--multiple .select2-selection__rendered
  padding-left: 5px
  padding-right: 5px

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single
  border-radius: 0
  border: 1px solid $light2

.select2-container--classic .select2-selection--multiple .select2-selection__arrow b, 
.select2-container--default .select2-selection--multiple .select2-selection__arrow b,
.select2-container--classic .select2-selection--single .select2-selection__arrow b, 
.select2-container--default .select2-selection--single .select2-selection__arrow b
	border-color: $blue transparent transparent
	border-style: solid
	border-width: 8px 6px 0
	height: 0
	left: 50%
	margin-left: -5px
	margin-top: -4px
	position: absolute
	top: 50%
	width: 0

.select2-container--classic.select2-container--open .select2-selection--multiple .select2-selection__arrow b, 
.select2-container--default.select2-container--open .select2-selection--multiple .select2-selection__arrow b,
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b, 
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
	border-color: transparent transparent $blue !important
	border-width: 0 6px 8px !important

.select2-container--default .select2-selection--multiple .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow
  top: 0
  right: 0

.select2-container--default.select2-container--focus .select2-selection--multiple
  border-color: $light2

.select2-container--default .select2-selection--multiple .select2-selection__choice
  background: $bg-page
  color: $txt
  border-radius: 0
  line-height: 24px
  border-color: $bg-page
  display: flex
  flex-direction: row-reverse
 
  .select2-selection__choice__remove
    color: $blue
    font-size: 25px
    font-weight: 500
    margin-right: 0
    margin-left: 5px


.select2-selection--multiple
  min-width: 370px
  min-height: 40px
  box-sizing: border-box
  +r($tablet-sm)
    min-width: inherit
.select2-container .select2-selection--multiple
  line-height: 1
.select2-container--focus .select2-selection--multiple
  max-height: inherit



/* select result  */

.select2-dropdown
  margin-top: 4px
  padding: 8px
  border-radius: 0
  border: 1px solid $light !important
  box-sizing: border-box
  box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423)

.select2-results__option
  font-size: 12px
  color: $txt
  padding: 9px 8px
  line-height: 1
  background: $light2
  margin-bottom: 8px
  &:last-of-type
    margin-bottom: 0
.select2-container--default .select2-results__option--highlighted[aria-selected]
  background: $blue


.select2-search 
  &.select2-search--dropdown
    padding: 0
    padding-bottom: 8px

.select2-search--dropdown 
  .select2-search__field
    color: #2f363f
    width: 100%
    padding-left: 10px
    padding-right: 10px
    font-size: 14px
    font-family: 'Ibmplexsansmedium',sans-serif
    font-weight: 400
    font-display: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background: #ebf3ff
    border: none


input.editable[type=text],
input.editable[type=mail],
input.editable[type=tel],
input.editable[type=password]
  background: #ebf3ff
  padding: 11px 10px
  width: 100%
  border: 0px solid grey 
  border-radius: 0px 
  font-size: 15px
  border: 0
  border-radius: 0
  margin-right: 0


.cabinet-info label
  background: $green
  color: $white
  &:hover
    background: $green-dark
    color: $white
    text-decoration: none
  &:active
    background: $green-dark
    color: $white
    text-decoration: none
  &:disabled
    background: $green-light
  &.disabled
    background: $green-light
  &.btn-reverse
    color: $green
    background: $white
    outline-color: $green-light
    outline-width: 1px
    outline-offset: -1px
    outline-style: solid
    &:hover
      background: $green
      outline-color: $green
      color: $white
    &:active
      background: $green
      outline-color: $green
      color: $white
    &:disabled
      background: $white
      outline-color: $green-light
      color: $green-light
    &.disabled
      background: $white
      outline-color: $green-light
      color: $green-light
  &-border
    background: $white
    color: $green
    border: 1px solid $green
    &:hover
      background: $green
      color: $white

.alert
	position: absolute
	width: 100vw
	left: 0
	top: 0
	z-index: 100000
	text-align: center
	font-size: 18px
	text-transform: uppercase
	font-family: 'Ibmplexsansbold',sans-serif
	color: #fff

.alert-success
	background-color: $green

.message.success
	background-color: $green
  border-radius: 0
	text-align: center
  font-family: 'Ibmplexsansbold',sans-serif
	color: #fff


.product__btn-info.btn-info
  background: $green
  color: $white
  &:hover
    background: $green-dark
    color: $white
    text-decoration: none
  &:active
    background: $green-dark
    color: $white
    text-decoration: none
  &:disabled
    background: $green-light
  &.disabled
    background: $green-light
  &.btn-reverse
    color: $green
    background: $white
    outline-color: $green-light
    outline-width: 1px
    outline-offset: -1px
    outline-style: solid
    &:hover
      background: $green
      outline-color: $green
      color: $white
    &:active
      background: $green
      outline-color: $green
      color: $white
    &:disabled
      background: $white
      outline-color: $green-light
      color: $green-light
    &.disabled
      background: $white
      outline-color: $green-light
      color: $green-light
  &-border
    background: $white
    color: $green
    border: 1px solid $green
    &:hover
      background: $green
      color: $white


