.tabs-vertical-wrap   
    width: 100%
    margin-bottom: 100px
    +r($tablet-sm)
        margin-bottom: 40px
    a:hover
        text-decoration: none
    .uk-container
        display: flex
        justify-content: space-between
        align-items: start
        padding-left: 0
        padding-right: 0
        max-width: 100%
        +r($desktop-sm)
            flex-direction: column
            padding-right: 0
            padding-left: 0
    .uk-sticky-placeholder
        margin-right: 0 !important
    .l-section-left
        width: 21%
        margin-right: 25px
        +r($desktop-sm)
            display: none
    .l-section
        width: 30%
        margin-right: 25px
        padding-top: 10px
        // position: absolute
        position: static
        overflow-y: auto
        flex-grow: 1
        +r($desktop-sm)
            width: 100%
            position: relative !important
        
        .tabs-variable
            width: 100%
            display: flex
            justify-content: flex-end
            flex-direction: column
            +r($desktop-sm)
                flex-direction: row
                flex-wrap: wrap
            &__item
                text-align: left
                +r($desktop-sm)
                    flex: 1
                    text-align: center
                h3.link
                    width: 100%
                    min-width: 270px
                    font-size: 24px
                    position: relative
                    padding-bottom: 20px
                    margin-bottom: 60px
                    color: $tag
                    cursor: pointer
                    display: flex
                    padding-left: calc((100vw - 1190px)/2)
                    +r($desktop-sm)
                        padding-left: 30px
                        padding-right: 30px
                        min-width: 200px
                        font-size: 16px
                        justify-content: center
                        align-items: flex-end
                    &:after
                        content: ''
                        position: absolute
                        top: auto
                        bottom: 0
                        right: 0
                        width: calc(100% - 30px)                 
                        height: 2px                        
                        background: $white
                        // +r($desktop-lg)
                        //     right: -4vw
                        //     width: 25vw
                        // +r($desktop-hd)
                        //     width: 22vw
                        // +r($desktop-md)
                        //     width: 108%
                        // +r($desktop-sm)
                        //     width: 100%
                        //     right: 0
                    &.active
                        color: $blue
                        &:after
                            background: linear-gradient(90deg,#ed4228 0%,#ed4228 33%,#1ab99b 33%,#1ab99b 66%,#245796 66%,#245796 100%)
        &.uk-sticky-fixed
            .tabs-variable__item h3.link:after
                right: -13vw
                        
                        
    .r-section
        width: calc(67% - 30px)
        margin-right: 0px
        margin-left: auto
        
        +r($desktop-sm)
            width: 100%
            margin-left: 0
            margin-bottom: 50px
        .tabs-contant
            position: relative
            display: flex
            flex-wrap: wrap
            padding-right: calc((100vw - 1300px)/2)
            width: calc(100% - 30px)
            overflow: hidden
            +r($desktop-md)
                width: 100%
                margin-right: 30px
                padding-right: 0

            &.about-brend
                padding: 60px 0px 0px 60px   
                
                padding-right: calc((100vw - 1230px)/2)
                +r($desktop-md)
                    width: 100%
                    margin-right: 0px
                    padding: 30px 30px 0        
                &:before 
                    content: ''
                    position: absolute
                    left: 0
                    top: 0
                    bottom: 10px
                    width: 140%
                    background: $white
                    z-index: 1
                    box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423);
                    +r($desktop-lg)
                        width: 113%
                    +r($desktop-hd)
                        width: 109%
                    +r($desktop-md)
                        width: 100%
                & > *
                    position: relative
                    z-index: 10
                p
                    font-size: 18px
                    color: $txt
                    margin-bottom: 10px
                .top
                    width: 100%
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-bottom: 30px
                    +r($mob-md)
                        flex-direction: column
                        align-items: flex-start

                    .green
                        &:hover
                            color: $green-dark
                        +r($mob-md)
                            margin-top: 10px
                            display: block
                .center
                    margin-bottom: 20px
                    .brend-ul
                        li
                            padding-left: 30px
                            position: relative
                            &:before
                                content: ''
                                position: absolute
                                left: 0
                                top: 8px
                                width: 12px
                                height: 12px
                                background: $green
                .bottom
                    margin-top: 10px
                    margin-left: -60px
                    width: 108%
                    +r($desktop-lg)
                       
                    +r($desktop-hd)
                       
                    +r($desktop-md)
                        width: 100%
                        margin-left: -30px
                    +r($desktop-sm)
                        width: 109%
                    img
                        width: 100%
            &.about-document
                +r($tablet-sm)
                    margin-left: 20px
                    margin-right: 20px
                    width: calc(100% - 40px)
                
                .download-all
                    width: 100%
                    height: 60px
                    background: $green
                    color: $white
                    font-size: 20px
                    margin-bottom: 30px
                    display: flex
                    justify-content: center
                    align-items: center
                    box-sizing: border-box
                    +ibm-bold
                    +r($mob-md)
                        padding: 15px
                        height: auto
                        text-align: center
                        box-sizing: border-box
                    &:hover
                        background: $green-dark
                .document-list
                    vertical-align: top
                    box-sizing: border-box
                    margin-bottom: 30px
                    display: inline-block
                    width: calc(50% - 31px)
                    margin-right: 29px
                    +r($desktop-md)
                        margin-right: 24px
                    +r($desktop-sm)
                        margin-right: 26px

                    +r($tablet-sm)
                        max-width: 345px
                        margin-right: 32px
                    +r($mob-exlg)
                        width: 100%
                        max-width: inherit
                        margin-right: 0
                        margin-bottom: 0
                    &:last-child
                        margin-right: 0
                    +r($tablet-sm)
                        flex-direction: column
                        flex-flow: column
                        height: auto
                  
                    
                    &__item
                        
                        background: $white
                        color: $blue
                        width: auto
                        margin-bottom: 30px
                        +ibm-bold
                        +r($tablet-sm)
                            width: 100%
                      
                        .btn-download
                            display: flex
                            justify-content: flex-start
                            align-items: start
                            padding: 30px
                            +r(580)
                                padding: 10px
                                span
                                    font-size: 15px
                                    line-height: 166%
                            img
                                margin-right: 25px
                                width: 50px
                                flex: 1 0 50px
                                max-width: 50px
                                +r(580)
                                    width: 40px
                                    flex: 1 0 40px
                                    max-width: 40px
                                    margin-right: 10px
                                &.hover
                                    display: none

                            &:hover
                                color: $green
                                .hover
                                    display: block
                                .not-hover
                                    display: none
            &.about-company
                padding-bottom: 60px
                +r($mob-lg)
                    padding: 20px
                .title-block
                    margin-bottom: 45px
                    margin-left: 14px
                    +r($tablet-sm)
                        margin-bottom: 25px
                        margin-left: 5px
                    span
                        color: $white
                        font-size: 20px
                        +ibm-bold
                        padding: 1px 0px 2px
                        margin-bottom: 30px
                        display: inline
                        background: $blue                        
                        position: relative
                        outline: $blue solid 13px
                        -moz-outline-offset: -0.04em
                        border-bottom: 1px solid $blue
                        +r($desktop-sm)
                            outline: $blue solid 4px                            
                            border-bottom: 1px solid $blue
                p
                    color: $txt
                .bg-red
                    margin-left: -60px
                    background: $red                    
                    padding-left: 60px
                    padding-top: 30px
                    padding-bottom: 30px
                    margin-top: 30px
                    margin-bottom: 30px
                    position: relative
                    +r($desktop-sm)
                        margin-left: -30px
                        margin-right: -30px
                        padding-left: 30px
                        padding-right: 30px
                    +r($mob-lg)
                        margin-right: -20px
                    &:before                        
                        content: ''
                        position: absolute
                        left: 100%
                        width: 40%
                        height: 100%                        
                        top: 0
                        background: $red
                        +r($desktop-lg)
                            width: 13%
                        +r($desktop-hd)
                            width: 9%
                        +r($desktop-sm)
                            width: 0
                            
                    p
                        color: $white
                .advantages-list
                    display: flex
                    justify-content: space-between
                    align-items: stretch
                    +r($mob-lg)
                        flex-wrap: wrap
                    &__item
                        width: 250px
                        +r($mob-lg)
                            width: 100%
                            text-align: center
                            border-bottom: 1px solid $bg-page
                            margin-bottom: 15px
                        .number
                            font-size: 40px
                            line-height: 1
                            margin-bottom: 15px
                            margin-top: 5px
                            +ibm-bold
                            &.blue
                                color: $blue
                            &.red
                                color: $red
                            &.green
                                color: $green
            &.mission
                .title-block
                    margin-left: 75px
                    +r($desktop-sm)
                        margin-left: 42px
                    +r($mob-lg)
                        margin-left: 5px
                ul.mission-list
                    position: relative
                    padding: 60px
                    display: flex
                    justify-content: space-between
                    align-items: stretch
                    flex-wrap: wrap
                    +r($desktop-sm)
                        padding: 30px
                    &:before
                        content: ''
                        position: absolute
                        left: 0
                        top: 0
                        bottom: 0                    
                        width: 140%
                        background: #fff
                        z-index: 1                   
                        box-shadow: 0 5.45506px 3.15127px rgba(0,0,0,.0179926), 0 13.0859px 13.6166px rgba(0,0,0,.0236002), 0 23.0347px 43.586px rgba(0,0,0,.026423)
                        +r($desktop-sm)
                            width: 100%
                    .mission-list__item
                        width: 48%
                        position: relative
                        padding-top: 19px
                        padding-left: 16px
                        padding-bottom: 50px
                        border-bottom: 1px solid $light
                        margin-bottom: 30px
                        box-sizing: border-box
                        z-index: 1
                        +r($mob-lg)
                            width: 100%
                            &:last-child
                                margin-bottom: 0
                                border-bottom: 0
                                padding-bottom: 0
                        &:before
                            content: ''
                            position: absolute
                            top: 0
                            left: 0
                            width: 16px
                            height: 16px
                            background: $red  
                            z-index: 1  
                        p                            
                            color: $txt
            &.career
                .active-vacancies 
                    .vacancies__item
                        margin-bottom: 30px
                        .title-item
                            display: flex
                            justify-content: space-between
                            align-items: center
                            background: $bg-page
                            padding: 0 100px 0 30px
                            height: 100px
                            position: relative
                            +r($desktop-sm)
                                height: 80px
                            +r($mob-lg)
                                height: auto
                                padding-top: 10px
                                padding-bottom: 10px
                                padding-right: 50px
                                padding-left: 15px

                            &:hover
                                cursor: pointer
                                .status
                                    background: $red
                                    .plus
                                        background: $white
                                        &:before
                                            background: $white
                            h3
                                font-size: 24px
                                +ibm-bold
                                color: $blue
                                +r($desktop-sm)
                                    font-size: 20px
                            .status
                                position: absolute
                                right: 0
                                top: 0
                                bottom: 0
                                width: 100px
                                height: 100%
                                display: flex
                                justify-content: center
                                align-items: center
                                +r($mob-lg)
                                    width: 50px
                                .plus
                                    width: 30px
                                    height: 4px
                                    position: relative
                                    background: $red
                                    +r($mob-lg)
                                        width: 20px
                                    &:before
                                        content: ''
                                        position: absolute
                                        left: calc(50% - 2px)
                                        top: calc(50% - 15px)
                                        height: 30px
                                        width: 4px
                                        background: $red
                                        z-index: 1
                                        +r($mob-lg)
                                            height: 20px
                                            top: calc(50% - 10px)
                        .title-text
                            padding: 30px
                            border: 1px solid $bg-page
                            display: none
                            +r($mob-lg)
                                padding: 15px
                            .blue
                                font-size: 20px
                                color: $blue
                                +ibm-bold
                                margin-top: 50px
                                &:first-child
                                    margin-top: 0px
                                +r($mob-lg)
                                    margin-top: 30px
                            .vacanci-mailto
                                margin-left: -30px
                                margin-right: -30px
                                margin-bottom: -30px
                                background: #E8F8F5
                                border-top: 1px solid $bg-page
                                padding: 20px 30px
                                p
                                    margin-bottom: 0
                        &.active
                            .title-item                               
                                .status
                                    background: $red
                                    .plus
                                        background: $white
                                        &:before
                                            display: none


.document-detail-tabs
    .l-section
        .tabs-variable__item h3.link
            +r($tablet-sm)
                height: 70px
                margin-bottom: 18px
            +r($mob-exlg)               
                font-size: 19px
            @media screen and ( max-width: 640px )                
                height: auto
                &::after
                    width: calc(100% - 60px)
                    left: 30px
.company-detail-tabs
    .l-section
        .tabs-variable__item h3.link
            +r($tablet-sm)
                font-size: 18px
                margin-bottom: 30px
                    





.about-brend
    img.logo
        max-height: 150px
