.main-banner
  width: calc(100% - 40px)
  margin: 0 20px
  margin-bottom: 86px
  margin-top: -30px
  +r($desktop-sm)
    margin-bottom: 60px
    margin-top: 0
    width: 100%
    padding-left: 0px
    padding-right: 0px
    margin-left: 0
  +r($mob-md)
    padding-left: 0
    padding-right: 0
    margin-right: 0
    margin-bottom: 40px
  .swiper-container
    background: #FFFFFF
    box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423), 0px 34.933px 124.782px rgba(0, 0, 0, 0.0283583), 0px 48.123px 172.567px rgba(0, 0, 0, 0.0308776), 0px 62px 196px rgba(0, 0, 0, 0.04)
    max-height: 700px
    // min-height: 700px
  &__slide
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    +r($mob-md)
      min-height: 170px
      width: 100%
      img
        width: 100vw
        height: 100%
        max-width: 100vw
  &__pagination
    margin: 0 auto
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
    max-width: 1170px
    +r($mob-md)
      margin-top: 20px
      padding-left: 10px
      padding-right: 10px
    .swiper-pagination-bullet
      flex: 1
      max-width: 100px
      height: 4px
      background: #ffffff
      margin-right: 10px
      cursor: pointer
      +r($mob-md)
        height: 2px
        max-width: 60px
      &:last-of-type
        margin-right: 0
      &-active
        background: $red