.main-search
  display: flex
  align-content: stretch
  position: absolute
  &.show
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 1300
    .main-search__form
      display: flex
    ~ .drop-search
      z-index: 1300
  &__form
    display: none
    width: 100%
    flex-wrap: wrap
    .btn-red
      height: 60px
      width: 60px
      display: flex
      justify-content: center
      align-items: center
      +r($mob-lg)
        height: 40px
        width: 40px
        svg
          width: 17px
          height: 17px
          position: relative
          left: 3px
      .icon
        width: 24px
        height: 24px
  &__input
    flex: 1
    padding: 0 30px
    font-size: 14px
    color: $txt
    -webkit-box-shadow: inset 0 0 0 50px #fff
    -webkit-text-fill-color: $txt
    &:placeholder
      opacity: 1
      color: $tag
  &__show
    height: 60px
    width: 60px
    display: flex
    justify-content: center
    align-items: center
    +r($mob-lg)
      height: 40px
      width: 40px
    .icon
      width: 24px
      height: 24px

.detailed-search
  &__result
    padding: 30px
    background: #fff
    border-top: 1px solid $light
    
    .sroller-el
      max-height: 600px
      height: 100%
  &__item
    display: flex
    flex-wrap: wrap
    margin-bottom: 30px
    &:hover
      text-decoration: none
      .detailed-search__name
        color: $blue
    &:last-of-type
      margin-bottom: 0
    +r($mob-lg)
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
  &__img
    width: 100px
    height: 100px
    align-self: flex-start
    +r($mob-lg)
      width: 40px
      height: 40px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__name
    padding-left: 30px
    color: $txt
    font-size: 20px
    align-self: flex-start
    flex: 1
    +ibm-bold
    &:hover
      color: $blue
      text-decoration: none
    +r($mob-lg)
      font-size: 16px
      padding-left: 10px