.full-tablet-modal
  padding: 30px 
  padding-top: 200px
  +rmin(1025)
    padding-top: 100px
  +r($mob-lg)
    padding: 20px
    padding-top: 130px
  .uk-modal-dialog
    margin-top: 20px !important
    width: 100%
    margin-bottom: auto !important
    background: transparent
    +rmin(1025)
      // height: 100% !important
    +r($mob-lg)
      max-height: 100%
      height: auto
  .uk-modal-body
    padding: 0
  
  .modal-scroll
    height: 100%
    width: 100%
    .simplebar-vertical
      z-index: 1200
      cursor: pointer
      right: -20px