.nav-modal
  &__wrapper
  &__top
    padding: 60px
    background: $blue
    padding-left: 24px
    +r($mob-lg)
      padding: 20px
      padding-left: 4px
      .nav-list__link
        line-height: 30px
    .nav-list__item
      margin-bottom: 30px
      &:last-of-type
        margin-bottom: 0
      +r($mob-lg)
        margin-bottom: 10px
    .nav-list__link
      justify-content: flex-start
  &__bot
    padding-left: 60px
    padding-right: 60px
    padding-bottom: 60px
    padding-top: 30px
    background: $white
    +r($mob-lg)
      padding-top: 20px
      padding-bottom: 20px
      padding-left: 0
      padding-right: 0
  &__logged
    display: flex
    flex-wrap: wrap
    width: 100%
    +r($mob-lg)
      flex-direction: column
      padding-left: 20px
      padding-right: 20px
    &-side
      flex: 1
      display: flex
      flex-wrap: wrap
    &-list
      margin-top: 30px
      width: 100%
      flex-wrap: wrap
      display: flex
      +r($mob-lg)
        display: none
      > div
        margin-right: 30px
        span
          margin-left: 5px
        &:last-of-type
          margin-right: 0
    .red
      margin-left: auto
      +r($mob-lg)
        margin-left: 0
        margin-top: 20px
        font-size: 18px
  &__item
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    .medium-text
      +r($mob-lg)
        font-size: 18px 
        line-height: 122%
    .btn
      width: 300px
      margin-top: 10px
      +r($mob-lg)
        width: 100%
        font-size: 18px
        line-height: 40px
  &__footer
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-top: 60px
    +r($mob-lg)
      margin-top: 43px
      padding-left: 20px
      padding-right: 20px
      .lang-change
        display: flex
        flex-direction: column
        position: absolute
        transform: translateY(0%)
        right: 20px