.main-nav
  display: flex
  width: 100%
  flex-wrap: wrap
  position: relative
  &.in-show
    z-index: 1300
  .drop-li
    width: 100%
    left: 0 !important
    display: none
    padding: 0
    margin: 0
    +rmin(640)
      min-height: 660px
    &.uk-open
      display: flex
      flex-wrap: wrap
    
    .nav-drop__fix-h
      width: 100%
    +r($desktop-sm)
      .nav-drop__fix-h
        height:  calc(100vh - 170px)
    
  &-drop
      box-sizing: border-box
      width: 100% !important
      overflow: hidden
      margin: 0
      background: #ffffff
      box-shadow: 0px 5.45506px 3.15127px rgba(0, 0, 0, 0.0179926), 0px 13.0859px 13.6166px rgba(0, 0, 0, 0.0236002), 0px 23.0347px 43.586px rgba(0, 0, 0, 0.026423), 0px 34.933px 124.782px rgba(0, 0, 0, 0.0283583), 0px 48.123px 172.567px rgba(0, 0, 0, 0.0308776), 0px 62px 196px rgba(0, 0, 0, 0.04)
      
      &__categoies
        padding: 0px
        padding-left: 0
        width: 100% !important
        min-width: 100% !important
        position: relative
        height: 100%
        .categoies-drop
          z-index: 10
          padding: 30px 0
          padding-right: 30px
          background: #ffffff
          position: relative
          z-index: 100
          +r($mob-lg)
            padding-right: 0px
            padding-top: 0
            width: 100% !important
            .sroller-el
              margin-right: 10px
              max-height:   calc(100vh - 200px)
              height:    calc(100vh - 200px)
              .simplebar-track.simplebar-vertical
                margin-top: 10px
                margin-bottom: 0px
          &__mobile
            display: none
            flex-wrap: wrap
            +r($mob-md)
              display: flex
            &-ttl
              padding-left: 14px
              display: flex
              flex-wrap: wrap
              height: 40px
              align-items: center
              background: $bg-page
              font-size: 16px
              +ibm-bold
              color: $blue
              text-decoration: none
              &:hover
                color: $blue
                text-decoration: none
            &-link-back
              color: $blue
              text-decoration: none
              svg
                margin-right: 18px
              &:hover
                color: $blue
                text-decoration: none

          &.category-next
            opacity: 0 !important
            pointer-events: none
            transition: transform, opacity .125s ease
            position: absolute
            top: 0 !important
            &.level-2
              left: 33.332% !important
              +r($mob-lg)
                left: 0 !important
            &.level-3
              left: 66.7% !important
              +r($mob-lg)
                left: 0 !important
            &.show
              opacity: 1 !important
              pointer-events: auto
               transform: translate3d(0%,0,0)
               
          &__toshow
            z-index: 5
            +gpu
            // opacity: 0
            // display: none
           
          .sroller-el
        .pr
          padding-right: 30px
        .sroller-el
          max-height: 600px
          
        .catalog-bg
          position: absolute
          right: 0
          top: 0
          height: 100%
          width: 100%
          img
            position: absolute
            right: 0
            top: 0
            max-width: 72%
            width: 100%
      &__brands
        // height: 600px
        padding: 30px
        padding-bottom: 0
        width: 100% !important
        min-width: 100% !important
        +r($mob-lg)
          padding: 10px
          padding-bottom: 0
        .simplebar-content
          display: flex
          flex-wrap: wrap
        .sroller-el
          width: 100% !important
          min-width: 100% !important
          max-height: 600px
          margin-bottom: 30px
          +r($desktop-sm)
            height:  calc(100vh - 280px)
          +r($mob-lg)
            height:  calc(100vh - 230px)
.nav-list
  display: flex
  flex-wrap: wrap
  flex: 1
  justify-content: space-between
  background: $blue
  +r($desktop-sm)
    justify-content: flex-start
  &__sticky
    display: none
    width: 60px
    height: 60px
    align-items: center
    justify-content: center
    margin-right: 60px
    
    +r($desktop-sm)
      margin-right: 0
    +r($mob-lg)
      width: 40px
      height: 40px
    
    &-drop
      width: 115px
      font-size: 12px
      +ibm-medium
      padding-top: 6px
      position: relative
      box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2)
      &::before
        content: ''
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        +arr(8, 6, $white, t)
      &-wrapper
        width: 115px
    a
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      position: relative
      &:hover
        background: $blue-dark
      svg
        +r($mob-lg)
          transform: scale(.8)
          position: relative
    .head-notification
      font-size: 10px
      line-height: 1
      background: $red
      color: $white
      +ibm-bold
      padding: 3px 6px
      padding-bottom: 3px
      position: absolute
      top: 0px
      left: 0px
      line-height: 1
      transform: translateY(0%)
      +r($mob-lg)
        padding: 2px 4px
        font-size: 8px
      
  &__item
    // flex: 1
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    color: #fff
    padding: 0 2.5%
    +ibm-medium 
    &:hover
      background: $blue-dark
    +r($desktop-md)
      padding: 0 1.5%
    +r($desktop-sm)
      padding: 0 34px
    +r($tablet-ss)
      padding: 0 10px
    +r($mob-lg)
      padding: 0 10px
      margin-right: 20px
      font-size: 14px
    +r($mob-md)
      margin-right: 0px
  &__link
    color: #ffffff
    line-height: 60px
    width: 100%
    white-space: nowrap
    display: flex
    justify-content: center
    align-items: center
    &:hover
      color: #ffffff
      text-decoration: none
    .icon
      width: 8px
      margin-left: 5px
    +r($mob-lg)
      line-height: 40px
 

.drop
  &-search
    width: 100%
    left: 0 !important
    display: none
    padding: 0
    margin: 0
    position: absolute
    bottom: 0
    transform: translateY(100%)
    .btn
      +r($mob-lg)
        line-height: 40px
        font-size: 18px
  &-link
    color: $txt
    +ibm-bold
    min-height: 60px
    line-height: 122%
    margin: 0
    padding-left: 30px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    padding-right: 20px
    padding-top: 10px
    padding-bottom: 10px
    +r($mob-lg)
      min-height: 40px
      padding-left: 20px
      margin-bottom: 10px
    .icon
      margin-right: 30px
      width: 8px
      height: 6px
      position: absolute
      right: 30px
    &:hover
      color: $blue
      background: $bg-page
      text-decoration: none
    &__colored
      width: calc(100% - 30px)
      color: $blue
      font-size: 16px
      &:hover
        color: $blue-dark
        .icon-arrow-left
          opacity: 1
      .icon-arrow-left
        opacity: 0
        fill: $blue-dark
    &__grey
      color: $tag
      width: calc(100% - 30px)
      margin-right: 30px
      font-size: 16px
      .icon-arrow-left
        fill: #fff
      &:hover
        color: $white
        background: $blue
        text-decoration: none
      #icon-arrow-left
        path
          fill: #fff
    &__nobg
      font-size: 16px
      color: $txt
      &:hover
        color: $blue
        background: none

// .category-drop
  
//   display: flex
//   flex-wrap: wrap
//   &__list
//     width: calc(100%*1/3.001)
//     padding: 30px 0
//     background: #fff
//     &.first-level
//       position: relative
//     &.next-level
//       position: absolute
//       +gpu
//       transform: translate3d(-100%,0,0)

.show-menu
  &__link
    &-close
      display: none
.show-menu-mob
  display: none
  background: $blue
  cursor: pointer
  width: 60px
  +r($desktop-sm)
    display: flex
    justify-content: center
    align-items: center
  +r($mob-lg)
    width: 40px
  > span
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  .show-menu__link-close
    display: none
  &.active
    background: $blue-dark
    .show-menu__link-burger
      display: none
    .show-menu__link-close
      display: flex
    
    
    

.header-bot
  &.uk-active
    .nav-list
      justify-content: flex-start
    .nav-list__item.hide-tablet
      display: none
    .nav-list__sticky
      display: flex
      &.first
        margin-left: auto
      &:not(.first)
        +r($mob-md)
          display: none
          &.active-user-info
            display: flex
    .show-menu-mob.js-show-mob-menu
      display: flex
      
    .nav-list__item
      +r($mob-md)
        padding: 0 7px
        font-size: 13px
      &.active-user-info
        +r($mob-md)
          &:not(.hide-tablet)
            display: none
    