.range-slider
  &__values
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    &.center
      justify-content: center
  &__group
    display: flex
    align-items: center
    input
      @extend .form-def__input
      width: auto
      background: $light2
      width: 100px
      color: $blue
      padding: 0 10px
  &__label
    font-size: 18px
    color: $tag
    margin-right: 8px
    &:last-of-type
      margin-right: 0
      margin-left: 8px
    &:first-of-type
      margin-right: 8px
      margin-left: 0


.irs--round, .irs--square
	height: 43px

.irs--round 
  .irs-handle
    width: 40px
    height: 20px
    border-radius: 0
    border: 0
    box-shadow: 0 1px 3px rgba(0,0,255,0)
    background: $green
    box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2)
    &:hover
      background: $green-dark
      cursor: pointer
    &.state_hover
      background: $green-dark
  .irs-line
    height: 1px
    background: $light
  .irs-bar
    height: 1px
    background: $green
  .irs-from, .irs-to
    display: none
  .irs-min, .irs-max, .irs-single
    display: none