.tooltip
  &-text
    font-size: 12px !important
    font-family: 'Ibmplexsansmedium',sans-serif !important
    font-weight: 400 !important
    font-display: auto !important
    -webkit-font-smoothing: antialiased !important
    -moz-osx-font-smoothing: grayscale !important
    padding: 6px 10px !important
    border-radius: 0 !important
  &-red
    background: $red !important
    box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2) !important
    @extend .uk-tooltip.uk-active
    color: #fff !important
    @extend .tooltip-text
    &::after
      content: ''
      position: absolute
      left: calc(50% - 7px)
      bottom: -14px !important
      border: 6px solid transparent !important
      border-top: 8px solid #ed4228 !important
  &-green
    background: $green !important
    box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2) !important
    @extend .uk-tooltip.uk-active
    color: #fff !important
    @extend .tooltip-text
    &::after
      content: ''
      position: absolute
      left: calc(50% - 7px)
      bottom: -14px !important
      border: 6px solid transparent !important
      border-top: 8px solid $green !important
  &-blue
    background: $blue !important
    box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2) !important
    @extend .uk-tooltip.uk-active
    color: #fff !important
    @extend .tooltip-text
    &::after
      content: ''
      position: absolute
      left: calc(50% - 7px)
      bottom: -14px !important
      border: 6px solid transparent !important
      border-top: 8px solid $blue !important