.type-view
    display: flex
    justify-content: space-between
    align-items: center
    .type-btn
        width: 48px
        height: 48px
        background: $white
        box-sizing: border-box
        margin-right: 30px 
        +r($mob-lg)
            margin-right: 15px
        &:last-child
            margin-right: 0
        .cube__item,
        .line__item
            opacity: 0.5
        &.active
            .cube__item,
            .line__item
                opacity: 1
        &.cube
            display: flex
            flex-wrap: wrap
            justify-content: space-between;
            padding: 10px   
                   
            .cube__item
                display: inline-block
                width: 12px
                height: 12px
                background: $blue
                &:first-child
                    margin-bottom: 5px
        &.line
            display: flex
            justify-content: center
            align-items: center
            .line__item
                position: relative
                display: inline-block
                width: 24px
                height: 4px
                background: $blue                      
                //margin-top: 12px
                &:before,
                &:after
                    content: ''
                    width: 24px
                    height: 4px
                    background: $blue
                    position: absolute
                    left: 0
                &:before 
                    top: -10px
                &:after
                    bottom: -10px;