.uk-tooltip
  background: $white
  box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2)
  color: $txt
  font-size: 12px;
  text-align: center
  +ibm-bold
  line-height: 1.5
  padding: 15px 10px
  max-width: 150px
  border-radius: 0
  &:after
    content: ''
    position: absolute
    left: calc(50% - 7px)
    bottom: -20px
    border: 8px solid transparent
    border-top: 13px solid $white

.uk-active-orange
    background: #ED4228
    color: $white
    padding: 5px
    +ibm-medium    
    &:after
        border: 10px solid transparent
        border-top: 13px solid #ED4228
        bottom: -17px
        left: calc(50% - 10px)

.uk-active-green
    background: $green
    color: $white
    padding: 5px 10px
    max-width: 180px
    box-shadow: 0px 5px 15px rgba(78, 92, 109, 0.2)
    +ibm-medium    
    &:after
        border: 10px solid transparent
        border-top: 13px solid $green
        bottom: -17px
        left: calc(50% - 10px)
