<div class="catalog-switches ">
  <span class="js-catalog-toggle grid3 ">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H48V48H0V0Z" fill="white"/>
    <path class="switch-path" d="M12 12H36V16H12V12Z" fill="#AAC4EA"/>
    <path class="switch-path" d="M12 32H36V36H12V32Z" fill="#AAC4EA"/>
    <path class="switch-path" d="M12 22H36V26H12V22Z" fill="#AAC4EA"/>
    </svg>
  </span>
  <span class="js-catalog-toggle grid active">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0H48V48H0V0Z" fill="white"/>
      <path class="switch-path" d="M12 26H36V36H12V26Z" fill="#AAC4EA"/>
      <path class="switch-path" d="M12 12H36V22H12V12Z" fill="#AAC4EA"/>
      </svg>      
  </span>
  <span class="js-catalog-toggle grid2">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0H48V48H0V0Z" fill="white"/>
    <path class="switch-path" d="M22 12L22 36H12L12 12L22 12Z" fill="#B9CFEE"/>
    <path class="switch-path" d="M36 12L36 36H26L26 12L36 12Z" fill="#B9CFEE"/>
    </svg>      
  </span>
</div>