
{% for i in range(0, 2) -%}
<div class="uk-width-1-1 js-product-grid">
  <div class="product__item ">
    <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>
    <!-- begin .product__img js-product-sliders -->
    <div class="product__img js-product-sliders">
  
      <div class="swiper-container js-big-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-big">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
      </div>
  
      <div class="swiper-container js-small-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-small">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
        <div class="swiper-scrollbar"></div>
  
      </div>

      <div class="product__item-grid3">
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
      </div>
  
    </div>
    <!-- end /.product__img js-product-sliders -->
    <div class="product__side">
      <!-- begin .product-head -->
      <div class="product__head">
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
  
     
      </div>
      <!-- end .product-head -->
  
      <!-- begin .product__title -->
      <div class="product__title">
        <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
      </div>
      <!-- end .product__title -->
  
      <!-- begin .product__descr -->
      <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
      <!-- end .product__title -->
  
  
      <!-- begin .product__buy -->
  
      <div class="product__buy">
  
        <div class="product__buy-price">350000,-</div>
  
  
        <a class="product__buy-action">
  
          {{mixins.icon('catalog-info')}}
        </a>
        
      </div>
  
      <!-- end .product__buy -->
    </div>
  </div>
</div>

{%- endfor %}

{% for i in range(0, 2) -%}
<div class="uk-width-1-2 js-product-grid">
  <div class="product__item product-grid2 ">
    <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>

    <!-- begin .product__img js-product-sliders -->
    <div class="product__img js-product-sliders">
  
      <div class="swiper-container js-big-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-big">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
      </div>
  
      <div class="swiper-container js-small-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-small">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
        <div class="swiper-scrollbar"></div>
  
      </div>

      <div class="product__item-grid3">
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
      </div>

  
    </div>
    <!-- end /.product__img js-product-sliders --> 
    <div class="product__side">
      <!-- begin .product-head -->
      <div class="product__head">
  
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
  
      
  
      </div>
      <!-- end .product-head -->
  
      <!-- begin .product__title -->
      <div class="product__title">
        <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
      </div>
      <!-- end .product__title -->
  
      <!-- begin .product__descr -->
      <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
      <!-- end .product__title -->
  
      
  
      <!-- begin .product__buy -->
  
      <div class="product__buy">
  
        
  
        <div class="product__buy-price">350000,-</div>
  
        <a class="product__buy-action">
  
          {{mixins.icon('catalog-info')}}
        </a>
        
      </div>
  
      <!-- end .product__buy -->
    </div>
  </div>
</div>

{%- endfor %}

{% for i in range(0, 2) -%}
<div class="uk-width-1-1 js-product-grid">
  <div class="product__item product-grid3 ">
    <div class="product__title-wide"> <a href=""> Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте Мягкая игрушка-сюрприз Puppy BALLS)</a></div>
    <!-- begin .product__img js-product-sliders -->
    <div class="product__img js-product-sliders">
  
      <div class="swiper-container js-big-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-big">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
      </div>
  
      <div class="swiper-container js-small-product-slider">
  
        <div class="swiper-wrapper">
          {% for i in range(0, 8) -%}
          <div class="swiper-slide product__slide-small">
            <img src="./img/slider-product/img.png" alt="Alt text" />
          </div>
          {%- endfor %}
        </div>
  
        <div class="swiper-scrollbar"></div>
  
      </div>

      <div class="product__item-grid3">
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>
      </div>

  
    </div>
    <!-- end /.product__img js-product-sliders --> 
    <div class="product__side">
      <!-- begin .product-head -->
      <div class="product__head">
  
      
        <div class="product__brand">Puppy Balls</div>
        <div class="product__sku">PUPPY -26750_56512</div>

   
  
      </div>
      <!-- end .product-head -->
  
      <!-- begin .product__title -->
      <div class="product__title">
        <a href="">Мягкая игрушка-сюрприз Puppy BALLS (12 видов в ассортименте)</a>
      </div>
      <!-- end .product__title -->
  
      <!-- begin .product__descr -->
      <div class="product__descr">Это удивительная серия мягких игрушек-сюрпризов Puppy BALLS. В коллекции 12 видов зверюшек.</div>
      <!-- end .product__title -->
  
    
  
      <!-- begin .product__buy -->
  
      <div class="product__buy">
  
     
  
        <div class="product__buy-price">350000,-</div>
  
        <a class="product__buy-action">
  
          {{mixins.icon('catalog-info')}}
        </a>
        
      </div>
  
      <!-- end .product__buy -->
    </div>
  </div>
</div>

{%- endfor %}