<ul class="list-stocks-filter">
    <li class="list-stocks-filter__item"><a href="#"><span class="name">усі</span><span class="value">50</span></a></li>
    <li class="list-stocks-filter__item"><a href="#"><span class="name">Hasbro</span><span class="value">7</span></a></li>
    <li class="list-stocks-filter__item active"><a href="#"><span class="name">Author</span><span class="value">7</span></a></li>
    <li class="list-stocks-filter__item"><a href="#"><span class="name">Maisto</span><span class="value">15</span></a></li>
    <li class="list-stocks-filter__item"><a href="#"><span class="name">Baby team</span><span class="value">15</span></a></li>
    <li class="list-stocks-filter__item"><a href="#"><span class="name">Lego</span><span class="value">265</span></a></li>
    <li class="list-stocks-filter__item"><a href="#"><span class="name">Lego</span><span class="value">265</span></a></li>
</ul>