
<div class="stocks-list uk-width-1-1">
    {% for i in range(0, 4) -%}
    <div class="stocks-list__item">
        <div class="img-wrap">
            <img src="./img/lego-img.jpg" alt="">
        </div>
        <div class="info-wrap">
            <div class="name">Знижки на товари LEGO</div>
            <div class="detail-wrap">
                <span class="date">01.03.2020 - 31.03.2020</span>
                <a href="#" class="btn btn-red btn-big">Детальніше</a>
            </div>
        </div>
    </div>
    <div class="stocks-list__item">
        <div class="img-wrap">
            <img src="./img/monopoly-img.jpg" alt="">
        </div>
        <div class="info-wrap">
            <div class="name">Назва акції у два рядки. Знижки на товари LEGO</div>
            <div class="detail-wrap">
                <span class="date">01.03.2020 - 31.03.2020</span>
                <a href="#" class="btn btn-red btn-big">Детальніше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
