.icon-arrow-left {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-wide {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-catalog-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-catalog-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delete-filter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-head_search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sign-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sign-pass {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sign {
  width: 0.89em;
  height: 1em;
  fill: initial;
}
.icon-soc-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-soc-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-soc-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-soc-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-subtract {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
